# vim:ft=toml

# chezmoi.toml hash: {{ include (joinPath ".chezmoi.toml.tmpl") | sha256sum }}

{{ $chezmoiVersion := (gitHubLatestRelease "twpayne/chezmoi").TagName | trimPrefix "v" }}
[".local/bin/chezmoi"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/twpayne/chezmoi/releases/download/v{{ $chezmoiVersion }}/chezmoi_{{ $chezmoiVersion }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
	[".local/bin/chezmoi".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "chezmoi"]

{{ $fzfVersion := (gitHubLatestRelease "junegunn/fzf").TagName | trimPrefix "v" }}
[".local/bin/fzf"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/junegunn/fzf/releases/download/v{{ $fzfVersion }}/fzf-{{ $fzfVersion }}-{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
	[".local/bin/fzf".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "fzf"]

{{ $fdVersion := (gitHubLatestRelease "sharkdp/fd").TagName | trimPrefix "v" }}
[".local/bin/fd"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/sharkdp/fd/releases/download/v{{ $fdVersion }}/fd-v{{ $fdVersion }}-{{ if eq .chezmoi.arch "arm64" }}aarch64{{ else if eq .chezmoi.arch "amd64" }}x86_64{{ end }}-{{ if eq .chezmoi.os "darwin" }}apple-darwin{{ else if eq .chezmoi.os "linux" }}unknown-linux-gnu{{ end }}.tar.gz"
	[".local/bin/fd".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "fd-v{{ $fdVersion }}-{{ if eq .chezmoi.arch "arm64" }}aarch64{{ else if eq .chezmoi.arch "amd64" }}x86_64{{ end }}-{{ if eq .chezmoi.os "darwin" }}apple-darwin{{ else if eq .chezmoi.os "linux" }}unknown-linux-gnu{{ end }}/fd"]

{{ $direnvVersion := (gitHubLatestRelease "direnv/direnv").TagName | trimPrefix "v" }}
[".local/bin/direnv"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/direnv/direnv/releases/download/v{{ $direnvVersion }}/direnv.{{ .chezmoi.os }}-{{.chezmoi.arch }}"

{{ if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64")}}
{{ $macmonVersion := (gitHubLatestRelease "vladkens/macmon").TagName | trimPrefix "v" }}
[".local/bin/macmon"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/vladkens/macmon/releases/download/v{{ $macmonVersion }}/macmon-v{{ $macmonVersion }}.tar.gz"
[".local/bin/macmon".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "macmon"]

{{ $mactopVersion := (gitHubLatestRelease "context-labs/mactop").TagName | trimPrefix "v" }}
[".local/bin/mactop"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/context-labs/mactop/releases/download/v{{ $mactopVersion }}/mactop_{{ $mactopVersion }}_darwin_arm64.tar.gz"
[".local/bin/mactop".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "mactop"]
{{ end }}
