# vim:ft=toml

{{ if .tags.terminalMultiplexer }}
[".local/bin/fzf-tmux"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://raw.githubusercontent.com/junegunn/fzf/master/bin/fzf-tmux"

{{ $gitmuxVersion := output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/arl/gitmux/releases/latest" | trim | base | trimPrefix "v" }}
[".local/bin/gitmux"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/arl/gitmux/releases/download/v{{ $gitmuxVersion }}/gitmux_v{{ $gitmuxVersion }}_{{ if eq .chezmoi.os "darwin" }}macOS{{ else if eq .chezmoi.os "linux" }}linux{{ end }}_{{ .chezmoi.arch }}.tar.gz"
	[".local/bin/gitmux".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "gitmux"]
{{ end }}
