# vim:ft=toml

{{ if .tags.espToolsCli.enabled }}
[".local/esp-idf"]
	type = "git-repo"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/espressif/esp-idf.git"
	[".local/esp-idf".pull]
		args = ["--recurse-submodules=true"]
{{ end }}
