# vim:ft=toml

{{ if .tags.terminalEmulators }}
	{{ range .terminal.fontsList }}
		{{ if eq $.chezmoi.os "darwin" -}}
		["Library/Fonts/{{ . }}"]
		{{ else if eq $.chezmoi.os "linux" }}
		[".local/share/fonts/{{ . }}"]
		{{ end }}
		type = "archive"
		refreshPeriod = "24h"
		url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/{{ . }}.zip"
		include = ["*.ttf", "*.otf"]
	{{ end }}
{{ end }}
