# vim:ft=toml

# chezmoi.toml hash: {{ include (joinPath ".chezmoi.toml.tmpl") | sha256sum }}

{{ if (or .tags.dev .tags.k8s .tags.neovim) }}
{{ $reviveVersion := (gitHubLatestRelease "mgechev/revive").TagName | trimPrefix "v" }}
[".local/bin/revive"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/mgechev/revive/releases/download/v{{ $reviveVersion }}/revive_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
[".local/bin/revive".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "revive"]

{{ $lazygitVersion := (gitHubLatestRelease "jesseduffield/lazygit").TagName | trimPrefix "v" }}
[".local/bin/lazygit"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/jesseduffield/lazygit/releases/download/v{{ $lazygitVersion }}/lazygit_{{ $lazygitVersion }}_{{ .chezmoi.os | title }}_{{ if eq .chezmoi.arch "amd64" }}x86_64{{ else if eq .chezmoi.arch "arm64" }}arm64{{ end }}.tar.gz"
	[".local/bin/lazygit".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "lazygit"]

{{ $lazydockerVersion := (gitHubLatestRelease "jesseduffield/lazydocker").TagName | trimPrefix "v" }}
[".local/bin/lazydocker"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/jesseduffield/lazydocker/releases/download/v{{ $lazydockerVersion }}/lazydocker_{{ $lazydockerVersion }}_{{ .chezmoi.os | title }}_{{ if eq .chezmoi.arch "amd64" }}x86_64{{ else if eq .chezmoi.arch "arm64" }}arm64{{ end }}.tar.gz"
	[".local/bin/lazydocker".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "lazydocker"]

{{ $diveVersion := (gitHubLatestRelease "wagoodman/dive").TagName | trimPrefix "v" }}
[".local/bin/dive"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/wagoodman/dive/releases/download/v{{ $diveVersion }}/dive_{{ $diveVersion }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
[".local/bin/dive".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "dive"]

{{ $ghVersion := (gitHubLatestRelease "cli/cli").TagName | trimPrefix "v" }}
[".local/bin/gh"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/cli/cli/releases/download/v{{ $ghVersion }}/gh_{{ $ghVersion }}_{{ if eq .chezmoi.os "darwin"}}macOS{{ else if eq .chezmoi.os "linux" }}linux{{ end }}_{{ .chezmoi.arch }}.{{ if eq .chezmoi.os "darwin"}}zip{{ else if eq .chezmoi.os "linux" }}tar.gz{{ end }}"
	[".local/bin/gh".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "gh_{{ $ghVersion }}_{{ if eq .chezmoi.os "darwin"}}macOS{{ else if eq .chezmoi.os "linux" }}linux{{ end }}_{{ .chezmoi.arch }}/bin/gh"]

{{ $viddyVersion := (gitHubLatestRelease "sachaos/viddy").TagName | trimPrefix "v" }}
[".local/bin/viddy"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/sachaos/viddy/releases/download/v{{ $viddyVersion }}/viddy-v{{ $viddyVersion }}-{{ if eq .chezmoi.os "darwin" }}macos{{ else if eq .chezmoi.os "linux" }}linux{{ end }}-{{ if eq .chezmoi.arch "amd64" }}x86_64{{ else if eq .chezmoi.arch "arm64" }}arm64{{ end }}.tar.gz"
[".local/bin/viddy".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "viddy"]

{{ $zoxideVersion := (gitHubLatestRelease "ajeetdsouza/zoxide").TagName | trimPrefix "v" }}
[".local/bin/zoxide"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/ajeetdsouza/zoxide/releases/download/v{{ $zoxideVersion }}/zoxide-{{ $zoxideVersion }}-{{ if eq .chezmoi.arch "amd64" }}x86_64{{ else }}aarch64{{ end }}-{{ if eq .chezmoi.os "darwin" }}apple-darwin{{ else }}unknown-linux-musl{{ end }}.tar.gz"
[".local/bin/zoxide".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "zoxide"]

{{ $batVersion := (gitHubLatestRelease "sharkdp/bat").TagName | trimPrefix "v" }}
[".local/bin/bat"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/sharkdp/bat/releases/download/v{{ $batVersion }}/bat-v{{ $batVersion }}-{{ if eq .chezmoi.arch "arm64" }}aarch64{{ else if eq .chezmoi.arch "amd64" }}x86_64{{ end }}-{{ if eq .chezmoi.os "darwin" }}apple-darwin{{ else if eq .chezmoi.os "linux" }}unknown-linux-gnu{{ end }}.tar.gz"
[".local/bin/bat".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "bat-v{{ $batVersion }}-{{ if eq .chezmoi.arch "arm64" }}aarch64{{ else if eq .chezmoi.arch "amd64" }}x86_64{{ end }}-{{ if eq .chezmoi.os "darwin" }}apple-darwin{{ else if eq .chezmoi.os "linux" }}unknown-linux-gnu{{ end }}/bat"]

{{ $spacerVersion := (gitHubLatestRelease "samwho/spacer").TagName | trimPrefix "v" }}
[".local/bin/spacer"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/samwho/spacer/releases/download/v{{ $spacerVersion }}/spacer-{{ if eq .chezmoi.arch "arm64" }}aarch64{{ else if eq .chezmoi.arch "amd64" }}x86_64{{ end }}-{{ if eq .chezmoi.os "darwin" }}apple-darwin{{ else if eq .chezmoi.os "linux" }}unknown-linux-gnu{{ end }}.tar.gz"
[".local/bin/spacer".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "spacer"]

{{ $d2Version := (gitHubLatestRelease "terrastruct/d2").TagName | trimPrefix "v" }}
[".local/bin/d2"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/terrastruct/d2/releases/download/v{{ $d2Version }}/d2-v{{ $d2Version }}-{{ if eq .chezmoi.os "darwin" }}macos{{ else if eq .chezmoi.os "linux" }}linux{{ end }}-{{ .chezmoi.arch }}.tar.gz"
	[".local/bin/d2".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "d2-v{{ $d2Version }}/bin/d2"]

{{ $styluaVersion := (gitHubLatestRelease "JohnnyMorganz/StyLua").TagName | trimPrefix "v" }}
[".local/bin/stylua"]
	type = "archive-file"
	refreshPeriod = "168h"
	executable = true
	path = "stylua"
	url = "https://github.com/JohnnyMorganz/StyLua/releases/download/v{{ $styluaVersion }}/stylua-{{ if eq .chezmoi.os "linux" }}linux-{{ else if eq .chezmoi.os "darwin" }}macos-{{ end }}{{ if eq .chezmoi.arch "arm64" }}aarch64{{ else if eq .chezmoi.arch "amd64" }}x86_64{{ end }}.zip"

{{ $deltaVersion := (gitHubLatestRelease "dandavison/delta").TagName | trimPrefix "v" }}
[".local/bin/delta"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/dandavison/delta/releases/download/{{ $deltaVersion }}/delta-{{ $deltaVersion }}-{{ if eq .chezmoi.arch "arm64" }}aarch64{{ else if eq .chezmoi.arch "amd64" }}x86_64{{ end }}-{{ if eq .chezmoi.os "linux" }}unknown-linux-gnu{{ else if eq .chezmoi.os "darwin" }}apple-darwin{{ end }}.tar.gz"
	[".local/bin/delta".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "delta-{{ $deltaVersion }}-{{ if eq .chezmoi.arch "arm64" }}aarch64{{ else if eq .chezmoi.arch "amd64" }}x86_64{{ end }}-{{ if eq .chezmoi.os "linux" }}unknown-linux-gnu{{ else if eq .chezmoi.os "darwin" }}apple-darwin{{ end }}/delta"]

{{ $lslintVersion := (gitHubLatestRelease "loeffel-io/ls-lint").TagName | trimPrefix "v" }}
[".local/bin/ls-lint"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/loeffel-io/ls-lint/releases/download/v{{ $lslintVersion }}/ls-lint-{{ .chezmoi.os }}-{{ .chezmoi.arch }}"

{{ $jqVersion := (gitHubLatestRelease "jqlang/jq").TagName | trimPrefix "jq-" }}
[".local/bin/jq"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/jqlang/jq/releases/download/jq-{{ $jqVersion }}/jq-{{ if eq .chezmoi.os "darwin" }}macos{{ else if eq .chezmoi.os "linux" }}linux{{ end }}-{{ .chezmoi.arch }}"
{{ end }}

{{ if .tags.k8s -}}
{{ $helmVersion := (gitHubLatestRelease "helm/helm").TagName | trimPrefix "v" }}
[".local/bin/helm"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	stripComponents = 1
	url = "https://get.helm.sh/helm-v{{ $helmVersion }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz"
	[".local/bin/helm".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "{{ .chezmoi.os }}-{{ .chezmoi.arch }}/helm"]

{{ $k9sVersion := (gitHubLatestRelease "derailed/k9s").TagName | trimPrefix "v" }}
[".local/bin/k9s"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	stripComponents = 1
	url =  "https://github.com/derailed/k9s/releases/download/v{{ $k9sVersion }}/k9s_{{ .chezmoi.os | title }}_{{ .chezmoi.arch }}.tar.gz"
	[".local/bin/k9s".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "k9s"]

{{ $k8Version := "1.34.1" }}
[".local/bin/kubectl"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://dl.k8s.io/v{{ $k8Version }}/bin/{{ .chezmoi.os }}/{{ .chezmoi.arch }}/kubectl"

[".local/bin/krew"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/kubernetes-sigs/krew/releases/latest/download/krew-{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
	[".local/bin/krew".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "./krew-{{ .chezmoi.os }}_{{ .chezmoi.arch }}"]

{{ $terraformVersion := (gitHubLatestRelease "hashicorp/terraform").TagName | trimPrefix "v" }}
[".local/bin/terraform"]
	type = "archive-file"
	refreshPeriod = "168h"
	executable = true
	path = "terraform"
	url =  "https://releases.hashicorp.com/terraform/{{ $terraformVersion }}/terraform_{{ $terraformVersion }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.zip"

{{ $terraformDocsVersion := (gitHubLatestRelease "terraform-docs/terraform-docs").TagName | trimPrefix "v" }}
[".local/bin/terraform-docs"]
	type = "archive-file"
	refreshPeriod = "168h"
	executable = true
	path = "terraform-docs"
	url =  "https://github.com/terraform-docs/terraform-docs/releases/download/v{{ $terraformDocsVersion }}/terraform-docs-v{{ $terraformDocsVersion }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz"

{{ $sternVersion := (gitHubLatestRelease "stern/stern").TagName | trimPrefix "v" }}
[".local/bin/stern"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/stern/stern/releases/download/v{{ $sternVersion }}/stern_{{ $sternVersion }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
[".local/bin/stern".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "stern"]
{{ end }}


{{ if .tags.dev }}
{{ $curlieVersion := (gitHubLatestRelease "rs/curlie").TagName | trimPrefix "v" }}
[".local/bin/curlie"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/rs/curlie/releases/download/v{{ $curlieVersion }}/curlie_{{ $curlieVersion }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
[".local/bin/curlie".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "curlie"]
{{ end }}

{{ if .tags.containers }}
{{ $limaVersion := (gitHubLatestRelease "lima-vm/lima").TagName | trimPrefix "v" }}

{{ $limaGuestAgent := "aarch64" }}
{{ if eq .chezmoi.arch "amd64" }}
	{{ $limaGuestAgent = "x86_64" }}
{{ else if eq .chezmoi.arch "arm64" }}
	{{ $limaGuestAgent = "aarch64" }}
{{ end }}

{{ range list "bin/lima" "bin/limactl" (print "share/lima/lima-guestagent." "Linux-" ($limaGuestAgent) ".gz") }}
[".local/{{ . }}"]
	type = "archive-file"
	refreshPeriod = "168h"
	stripComponents = 1
	path = "{{ . }}"
	url = "https://github.com/lima-vm/lima/releases/download/v{{ $limaVersion }}/lima-{{ $limaVersion }}-{{ $.chezmoi.os | title }}-{{ if eq $.chezmoi.arch "amd64" }}x86_64{{ else if eq $.chezmoi.os "darwin" }}arm64{{ else if eq $.chezmoi.os "linux" }}arm64{{ end }}.tar.gz"
{{ end }}

[".local/share/lima"]
	type = "archive"
	refreshPeriod = "168h"
	stripComponents = 3
	url = "https://github.com/lima-vm/lima/releases/download/v{{ $limaVersion }}/lima-additional-guestagents-{{ $limaVersion }}-{{ $.chezmoi.os | title }}-{{ if eq $.chezmoi.arch "amd64" }}x86_64{{ else if eq $.chezmoi.os "darwin" }}arm64{{ else if eq $.chezmoi.os "linux" }}arm64{{ end }}.tar.gz"
{{ end }}
