# vim:ft=toml

# chezmoi.toml hash: {{ include (joinPath ".chezmoi.toml.tmpl") | sha256sum }}

{{ if (or .tags.dev .tags.k8s .tags.neovim) }}
{{ $revive_v := output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/mgechev/revive/releases/latest" | trim | base | trimPrefix "v" }}
[".local/bin/revive"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/mgechev/revive/releases/download/v{{ $revive_v }}/revive_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
[".local/bin/revive".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "revive"]

{{ $lazygit_v := output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/jesseduffield/lazygit/releases/latest" | trim | base | trimPrefix "v" }}
[".local/bin/lazygit"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/jesseduffield/lazygit/releases/download/v{{ $lazygit_v }}/lazygit_{{ $lazygit_v }}_{{ .chezmoi.os | title }}_{{ if eq .chezmoi.arch "amd64" }}{{ .arch.opt2 }}{{ else if eq .chezmoi.arch "arm64" }}{{ .arch.opt1 }}{{ end }}.tar.gz"
	[".local/bin/lazygit".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "lazygit"]

{{ $lazydocker_v := output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/jesseduffield/lazydocker/releases/latest" | trim | base | trimPrefix "v" }}
[".local/bin/lazydocker"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/jesseduffield/lazydocker/releases/download/v{{ $lazydocker_v }}/lazydocker_{{ $lazydocker_v }}_{{ .chezmoi.os | title }}_{{ if eq .chezmoi.arch "amd64" }}{{ .arch.opt2 }}{{ else if eq .chezmoi.arch "arm64" }}{{ .arch.opt1 }}{{ end }}.tar.gz"
	[".local/bin/lazydocker".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "lazydocker"]

{{ $dive_v := output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/wagoodman/dive/releases/latest" | trim | base | trimPrefix "v" }}
[".local/bin/dive"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/wagoodman/dive/releases/download/v{{ $dive_v }}/dive_{{ $dive_v }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
[".local/bin/dive".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "dive"]

{{ $gh_v := output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/cli/cli/releases/latest" | trim | base | trimPrefix "v" }}
[".local/bin/gh"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/cli/cli/releases/download/v{{ $gh_v }}/gh_{{ $gh_v }}_{{ if eq .chezmoi.os "darwin"}}macOS{{ else if eq .chezmoi.os "linux" }}linux{{ end }}_{{ .chezmoi.arch }}.{{ if eq .chezmoi.os "darwin"}}zip{{ else if eq .chezmoi.os "linux" }}tar.gz{{ end }}"
	[".local/bin/gh".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "gh_{{ $gh_v }}_{{ if eq .chezmoi.os "darwin"}}macOS{{ else if eq .chezmoi.os "linux" }}linux{{ end }}_{{ .chezmoi.arch }}/bin/gh"]

{{ $viddy_v := output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/sachaos/viddy/releases/latest" | trim | base | trimPrefix "v" }}
[".local/bin/viddy"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/sachaos/viddy/releases/download/v{{ $viddy_v }}/viddy-v{{ $viddy_v }}-{{ if eq .chezmoi.os "darwin" }}macos{{ else if eq .chezmoi.os "linux" }}linux{{ end }}-{{ if eq .chezmoi.arch "amd64" }}x86_64{{ else if eq .chezmoi.arch "arm64" }}arm64{{ end }}.tar.gz"
[".local/bin/viddy".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "viddy"]

{{ $zoxide_v := output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/ajeetdsouza/zoxide/releases/latest" | trim | base | trimPrefix "v" }}
[".local/bin/zoxide"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/ajeetdsouza/zoxide/releases/download/v{{ $zoxide_v }}/zoxide-{{ $zoxide_v }}-{{ if eq .chezmoi.arch "amd64" }}x86_64{{ else }}aarch64{{ end }}-{{ if eq .chezmoi.os "darwin" }}apple-darwin{{ else }}unknown-linux-musl{{ end }}.tar.gz"
[".local/bin/zoxide".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "zoxide"]

{{ $bat_v := output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/sharkdp/bat/releases/latest" | trim | base | trimPrefix "v" }}
[".local/bin/bat"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/sharkdp/bat/releases/download/v{{ $bat_v }}/bat-v{{ $bat_v }}-{{ if eq .chezmoi.arch "arm64" }}aarch64{{ else if eq .chezmoi.arch "amd64" }}x86_64{{ end }}-{{ if eq .chezmoi.os "darwin" }}apple-darwin{{ else if eq .chezmoi.os "linux" }}unknown-linux-gnu{{ end }}.tar.gz"
[".local/bin/bat".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "bat-v{{ $bat_v }}-{{ if eq .chezmoi.arch "arm64" }}aarch64{{ else if eq .chezmoi.arch "amd64" }}x86_64{{ end }}-{{ if eq .chezmoi.os "darwin" }}apple-darwin{{ else if eq .chezmoi.os "linux" }}unknown-linux-gnu{{ end }}/bat"]

{{ $spacer_v := output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/samwho/spacer/releases/latest" | trim | base | trimPrefix "v" }}
[".local/bin/spacer"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/samwho/spacer/releases/download/v{{ $spacer_v }}/spacer-{{ if eq .chezmoi.arch "arm64" }}aarch64{{ else if eq .chezmoi.arch "amd64" }}x86_64{{ end }}-{{ if eq .chezmoi.os "darwin" }}apple-darwin{{ else if eq .chezmoi.os "linux" }}unknown-linux-gnu{{ end }}.tar.gz"
[".local/bin/spacer".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "spacer"]

{{ $d2_v := output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/terrastruct/d2/releases/latest" | trim | base | trimPrefix "v" }}
[".local/bin/d2"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/terrastruct/d2/releases/download/v{{ $d2_v }}/d2-v{{ $d2_v }}-{{ if eq .chezmoi.os "darwin" }}macos{{ else if eq .chezmoi.os "linux" }}linux{{ end }}-{{ .chezmoi.arch }}.tar.gz"
	[".local/bin/d2".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "d2-v{{ $d2_v }}/bin/d2"]

{{ $stylua_v := output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/JohnnyMorganz/StyLua/releases/latest" | trim | base | trimPrefix "v" }}
[".local/bin/stylua"]
	type = "archive-file"
	refreshPeriod = "168h"
	executable = true
	path = "stylua"
	url = "https://github.com/JohnnyMorganz/StyLua/releases/download/v{{ $stylua_v }}/stylua-{{ if eq .chezmoi.os "linux" }}linux-{{ else if eq .chezmoi.os "darwin" }}macos-{{ end }}{{ if eq .chezmoi.arch "arm64" }}aarch64{{ else if eq .chezmoi.arch "amd64" }}x86_64{{ end }}.zip"

{{ $delta_v := output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/dandavison/delta/releases/latest" | trim | base | trimPrefix "v" }}
[".local/bin/delta"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/dandavison/delta/releases/download/{{ $delta_v }}/delta-{{ $delta_v }}-{{ if eq .chezmoi.arch "arm64" }}aarch64{{ else if eq .chezmoi.arch "amd64" }}x86_64{{ end }}-{{ if eq .chezmoi.os "linux" }}unknown-linux-gnu{{ else if eq .chezmoi.os "darwin" }}apple-darwin{{ end }}.tar.gz"
	[".local/bin/delta".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "delta-{{ $delta_v }}-{{ if eq .chezmoi.arch "arm64" }}aarch64{{ else if eq .chezmoi.arch "amd64" }}x86_64{{ end }}-{{ if eq .chezmoi.os "linux" }}unknown-linux-gnu{{ else if eq .chezmoi.os "darwin" }}apple-darwin{{ end }}/delta"]

{{ $lslint_v := output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/loeffel-io/ls-lint/releases/latest" | trim | base | trimPrefix "v" }}
[".local/bin/ls-lint"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/loeffel-io/ls-lint/releases/download/v{{ $lslint_v }}/ls-lint-{{ .chezmoi.os }}-{{ .chezmoi.arch }}"

{{ $jq_v := output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/jqlang/jq/releases/latest" | trim | base | trimPrefix "jq-" }}
[".local/bin/jq"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/jqlang/jq/releases/download/jq-{{ $jq_v }}/jq-{{ if eq .chezmoi.os "darwin" }}macos{{ else if eq .chezmoi.os "linux" }}linux{{ end }}-{{ .chezmoi.arch }}"
{{ end }}

{{ if .tags.k8s -}}
{{ $helm_v := output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/helm/helm/releases/latest" | trim | base | trimPrefix "v" }}
[".local/bin/helm"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	stripComponents = 1
	url = "https://get.helm.sh/helm-v{{ $helm_v }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz"
	[".local/bin/helm".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "{{ .chezmoi.os }}-{{ .chezmoi.arch }}/helm"]

{{ $k9s_v := output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/derailed/k9s/releases/latest" | trim | base | trimPrefix "v" }}
[".local/bin/k9s"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	stripComponents = 1
	url =  "https://github.com/derailed/k9s/releases/download/v{{ $k9s_v }}/k9s_{{ .chezmoi.os | title }}_{{ .chezmoi.arch }}.tar.gz"
	[".local/bin/k9s".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "k9s"]

{{ $k8_v := "1.34.1" }}
[".local/bin/kubectl"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://dl.k8s.io/v{{ $k8_v }}/bin/{{ .chezmoi.os }}/{{ .chezmoi.arch }}/kubectl"

[".local/bin/krew"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/kubernetes-sigs/krew/releases/latest/download/krew-{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
	[".local/bin/krew".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "./krew-{{ .chezmoi.os }}_{{ .chezmoi.arch }}"]

{{ $terraform_v := output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/hashicorp/terraform/releases/latest" | trim | base | trimPrefix "v" }}
[".local/bin/terraform"]
	type = "archive-file"
	refreshPeriod = "168h"
	executable = true
	path = "terraform"
	url =  "https://releases.hashicorp.com/terraform/{{ $terraform_v }}/terraform_{{ $terraform_v }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.zip"

{{ $terraform_docs_v := output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/terraform-docs/terraform-docs/releases/latest" | trim | base | trimPrefix "v" }}
[".local/bin/terraform-docs"]
	type = "archive-file"
	refreshPeriod = "168h"
	executable = true
	path = "terraform-docs"
	url =  "https://github.com/terraform-docs/terraform-docs/releases/download/v{{ $terraform_docs_v }}/terraform-docs-v{{ $terraform_docs_v }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz"

{{ $stern_v := output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/stern/stern/releases/latest" | trim | base | trimPrefix "v" }}
[".local/bin/stern"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/stern/stern/releases/download/v{{ $stern_v }}/stern_{{ $stern_v }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
[".local/bin/stern".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "stern"]
{{ end }}


{{ if .tags.dev }}
{{ $curlie_v := output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/rs/curlie/releases/latest" | trim | base | trimPrefix "v" }}
[".local/bin/curlie"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/rs/curlie/releases/download/v{{ $curlie_v }}/curlie_{{ $curlie_v }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
[".local/bin/curlie".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "curlie"]
{{ end }}

{{ if .tags.containers }}
{{ $limaVersion := (gitHubLatestRelease "lima-vm/lima").TagName | trimPrefix "v" }}

{{ $limaGuestAgent := "aarch64" }}
{{ if eq .chezmoi.arch "amd64" }}
	{{ $limaGuestAgent = "x86_64" }}
{{ else if eq .chezmoi.arch "arm64" }}
	{{ $limaGuestAgent = "aarch64" }}
{{ end }}

{{ range list "bin/lima" "bin/limactl" (print "share/lima/lima-guestagent." "Linux-" ($limaGuestAgent) ".gz") }}
[".local/{{ . }}"]
	type = "archive-file"
	refreshPeriod = "168h"
	stripComponents = 1
	path = "{{ . }}"
	url = "https://github.com/lima-vm/lima/releases/download/v{{ $limaVersion }}/lima-{{ $limaVersion }}-{{ $.chezmoi.os | title }}-{{ if eq $.chezmoi.arch "amd64" }}x86_64{{ else if eq $.chezmoi.os "darwin" }}arm64{{ else if eq $.chezmoi.os "linux" }}arm64{{ end }}.tar.gz"
{{ end }}

[".local/share/lima"]
	type = "archive"
	refreshPeriod = "168h"
	stripComponents = 3
	url = "https://github.com/lima-vm/lima/releases/download/v{{ $limaVersion }}/lima-additional-guestagents-{{ $limaVersion }}-{{ $.chezmoi.os | title }}-{{ if eq $.chezmoi.arch "amd64" }}x86_64{{ else if eq $.chezmoi.os "darwin" }}arm64{{ else if eq $.chezmoi.os "linux" }}arm64{{ end }}.tar.gz"
{{ end }}
