# vim:ft=toml

# chezmoi.toml hash: {{ include (joinPath ".chezmoi.toml.tmpl") | sha256sum }}

{{ if eq .tags.embedded true -}}
[".local/esp-idf"]
	type = "git-repo"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/espressif/esp-idf.git"
	[".local/esp-idf".pull]
		args = ["--recurse-submodules=true"]
{{- end }}
