# vim:ft=toml

# chezmoi.toml hash: {{ include (joinPath ".chezmoi.toml.tmpl") | sha256sum }}

{{ if .tags.news }}
{{ $readerVersion := (gitHubLatestRelease "mrusme/reader").TagName | trimPrefix "v" }}
[".local/bin/reader"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/mrusme/reader/releases/download/v{{ $readerVersion }}/reader_{{ $readerVersion }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
[".local/bin/reader".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "reader"]
{{ end }}
