# vim:ft=toml

{{ if .tags.newsCli.enabled }}
{{ $readerVersion := output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/mrusme/reader/releases/latest" | trim | base | trimPrefix "v" }}
[".local/bin/reader"]
	type = "file"
	refreshPeriod = "168h"
	executable = true
	url = "https://github.com/mrusme/reader/releases/download/v{{ $readerVersion }}/reader_{{ $readerVersion }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
[".local/bin/reader".filter]
		command = "tar"
		args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "reader"]
{{ end }}
