{{- /*
	vim:ft=toml.gotexttmpl
*/ -}}

--theme={{ (print .theme.themeName "-" .theme.themeVariant) | quote }}

--style="numbers,changes,header"

--tabs={{ .terminal.tabs }}

#--pager="less --RAW-CONTROL-CHARS --quit-if-one-screen --mouse"

--map-syntax "*.ino:C++"
--map-syntax ".ignore:Git Ignore"
