{{- /*
	vim:ft=toml.gotexttmpl
*/ -}}

--theme={{ (print .tui.theme "-" .tui.themeVariant) | quote }}

--style="numbers,changes,header"

--tabs={{ .tui.tabs }}

#--pager="less --RAW-CONTROL-CHARS --quit-if-one-screen --mouse"

--map-syntax "*.ino:C++"
--map-syntax ".ignore:Git Ignore"
