# Terminal applications need Ctrl+Shift for copy/paste
[alacritty]
cmd.c = C-S-c
cmd.v = C-S-v

[foot]
cmd.c = C-S-c
cmd.v = C-S-v

[com-mitchellh-ghostty]
cmd.c = C-S-c
cmd.v = C-S-v
cmd.t = C-S-t
cmd.w = C-S-w
cmd.leftbrace = C-S-tab
cmd.rightbrace = C-tab
