{{- /*
	vim:ft=conf.gotexttmpl
*/ -}}

[foot]
# add simple copy/paste
cmd.c = C-S-c
cmd.v = C-S-v
# preserv keys
alt.left = A-left
alt.right = A-right

[com.mitchellh.ghostty]
# add simple copy/paste
cmd.c = C-S-c
cmd.v = C-S-v
# preserv keys
alt.left = A-left
alt.right = A-right

# LIBREWOLF
[librewolf]
cmd+alt.l = C-S-y

# WATERFOX
[waterfox]
cmd+alt.l = C-S-y

# FIREFOX
[firefox]
cmd+alt.l = C-S-y

# CHROMIUM
[chromium]
cmd+alt.l = C-j

# HELIUM
[helium]
cmd+alt.l = C-j
