{{- /*
	vim:ft=conf.gotexttmpl
*/ -}}

# FOOT: add simple copy/paste
[foot]
cmd.c = C-S-c
cmd.v = C-S-v

# LIBREWOLF
[librewolf]
cmd+alt.l = C-S-y

# WATERFOX
[waterfox]
cmd+alt.l = C-S-y

# FIREFOX
[firefox]
cmd+alt.l = C-S-y

# CHROMIUM
[chromium]
cmd+alt.l = C-j

# HELIUM
[helium]
cmd+alt.l = C-j
