{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

# Slow app launch fix -- set systemd vars
systemctl --user import-environment $(env | cut -d'=' -f 1) >/dev/null 2>&1 &
systemctl --user import-environment WAYLAND_DISPLAY XDG_CURRENT_DESKTOP >/dev/null 2>&1 &
dbus-update-activation-environment --systemd --all >/dev/null 2>&1 &

# Disk automount
udiskie -t >/dev/null 2>&1 &

# Auth agent
/usr/lib/polkit-kde-authentication-agent-1 >/dev/null 2>&1 &

# Idle, Lockscreen
hypridle --config {{ joinPath .chezmoi.homeDir ".config/hypr/hypridle.conf" }} >/dev/null 2>&1 &
hyprpaper >/dev/null 2>&1 &

# Mako notifications center
mako >/dev/null 2>&1 &

# Walker, Spotlight replacement
elephant &
walker --gapplication-service >/dev/null 2>&1 &

# Ashell, system menubar
ashell --config-path {{ joinPath .chezmoi.homeDir ".config/ashell/config.toml" }} >/dev/null 2>&1 &

# Playerctl daemon
playerctld >/dev/null 2>&1 &

# Display manager
kanshi >/dev/null 2>&1 &
