{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

# Slow app launch fix -- set systemd vars
systemctl --user import-environment $(env | cut -d'=' -f 1) >/dev/null 2>&1 &
systemctl --user import-environment WAYLAND_DISPLAY XDG_CURRENT_DESKTOP >/dev/null 2>&1 &
dbus-update-activation-environment --systemd --all >/dev/null 2>&1 &
dbus-daemon --session --address=unix:path=$XDG_RUNTIME_DIR/bus >/dev/null 2>&1 &

# Disk automount
udiskie -t >/dev/null 2>&1 &

# Auth agent
/usr/lib/polkit-kde-authentication-agent-1 >/dev/null 2>&1 &

# Idle, Lockscreen
hypridle --config {{ joinPath .chezmoi.homeDir ".config/hypr/hypridle.conf" }} >/dev/null 2>&1 &
swaybg -i {{ joinPath .chezmoi.homeDir ".local/share/wallpapers/default.png" }} >/dev/null 2>&1 &

# Mako notifications center
mako >/dev/null 2>&1 &

# Walker, Spotlight replacement
elephant >/dev/null 2>&1 &
walker --gapplication-service >/dev/null 2>&1 &

# Playerctl daemon
playerctld >/dev/null 2>&1 &

# Display manager
kanshi >/dev/null 2>&1 &
