{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

# XKB_DEFAULT_LAYOUT=se
# XKB_DEFAULT_LAYOUT=se,us(intl)
# XKB_DEFAULT_OPTIONS=grp:alt_shift_toggle
# XKB_DEFAULT_OPTIONS=grp:shift_caps_toggle

## GTK4 started to require input methods like fcitx5 or ibus to handle
## simple compose sequences. If you do not use input methods, uncomment
## the following line to force GTK4 internal composing. For further
## information see https://labwc.github.io/integration.html#gtk
##
# GTK_IM_MODULE=simple

# XCURSOR_THEME=breeze_cursors
# XCURSOR_THEME=capitaine-cursors
# XCURSOR_SIZE=24

# WLR_NO_HARDWARE_CURSORS=1

# _JAVA_AWT_WM_NONREPARENTING=0

# XDG_CURRENT_DESKTOP=labwc:wlroots

# LABWC_FALLBACK_OUTPUT=NOOP-fallback
