{{- /*
vim:ft=ini.gotexttmpl
*/ -}}

{{ if .tags.zephyrus.enabled -}}
output "Samsung Electric Company LS28AG700N HCJT306236" {
	position -1920,0
	scale 2.0
	alias $ODYSSEY
}
output "eDP-1" {
	position 0,0
	scale 1.666666
	alias $G16
}

profile docked {
  output $ODYSSEY enable
  output $G16 enable
}

profile single {
  output $G16 enable
}
{{ end -}}
