#!/usr/bin/env sh
# vim:ft=bash.gotexttmpl

{{ template "path.tmpl" . }}

cd {{ .chezmoi.homeDir | quote }} || exit 1

{{ if eq .chezmoi.os "darwin" }}
	{{ template "resources-alacritty.tmpl" . }}
	{{ template "resources-wezterm.tmpl" . }}
{{ end }}
