#!/usr/bin/env sh
# vim:ft=bash.gotexttmpl

cd "$HOME" || exit 1

{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch")) }}
	echo "Install {{ .chezmoi.osRelease.id | title }} Linux packages"
	{{ template "path.tmpl" . }}
	{{ template "arch.tmpl" . }}

	{{ if and (stat (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id)) (gt (stat (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id)).size 0) }}
		# {{ .chezmoi.osRelease.id }} hash: {{ include (joinPath ".packagefiles" .chezmoi.osRelease.id) | sha256sum }}
		(sudo pacman --noconfirm --needed -Syu $(paste -s -d ' ' {{ joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id | quote }})) || exit 1
	{{ end }}

	{{ if or (stat (print (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id) ".aur")) (stat (print (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id) ".aur.workstation")) }}
		cargo install paru || exit 1
	{{ end }}

	{{ if and (stat (print (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id) ".aur")) (gt (stat (print (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id) ".aur")).size 0) }}
		# {{ .chezmoi.osRelease.id }}.aur hash: {{ include (print (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id) ".aur") | sha256sum }}
		(paru --noconfirm --needed -Syu $(paste -s -d ' ' {{ (print (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id) ".aur" | quote) }})) || exit 1
	{{ end }}

	{{ if .workstation }}
		{{ if and (stat (print (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id) ".workstation")) (gt (stat (print (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id) ".workstation")).size 0) }}
			# {{ .chezmoi.osRelease.id }}.workstation hash: {{ include (print (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id) ".workstation") | sha256sum }}
			(sudo pacman --noconfirm --needed -Syu $(paste -s -d ' ' {{ (print (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id) ".workstation" | quote) }})) || exit 1
		{{ end }}

		{{ if and (stat (print (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id) ".aur.workstation")) (gt (stat (print (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id) ".aur.workstation")).size 0) }}
			# {{ .chezmoi.osRelease.id }}.aur.workstation hash: {{ include (print (joinPath ".packagefiles" .chezmoi.osRelease.id) ".aur.workstation") | sha256sum }}
			(paru --noconfirm --needed -Syu $(paste -s -d ' ' {{ (print (joinPath ".packagefiles" .chezmoi.osRelease.id) ".aur.workstation" | quote) }})) || exit 1
		{{ end }}
	{{ end }}
{{ end }}
