#!/usr/bin/env sh
# vim:ft=bash.gotexttmpl

cd {{ .chezmoi.homeDir | quote }} || exit 1

{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "centos")) }}
	echo "Fix {{ .chezmoi.osRelease.id | title }} repositories url, ruby, etc"
	sudo sed -i 's/mirrorlist/#mirrorlist/g' /etc/yum.repos.d/CentOS-*
	sudo sed -i 's|#baseurl=http://mirror.centos.org|baseurl=http://vault.centos.org|g' /etc/yum.repos.d/CentOS-*
	sudo dnf install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm || exit 1
	{{ template "fedora.tmpl" . }}
	sudo dnf module reset ruby -y || exit 1
{{ end }}

{{ if (and (eq .chezmoi.os "linux") (or (eq .chezmoi.osRelease.id "fedora") (eq .chezmoi.osRelease.id "centos"))) }}
	echo "Install {{ .chezmoi.osRelease.id | title }} Linux packages"
	{{ template "fedora.tmpl" . }}

	{{ if and (stat (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id)) (gt (stat (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id)).size 0) }}
		# {{ .chezmoi.osRelease.id }} hash: {{ include (joinPath ".packagefiles" .chezmoi.osRelease.id) | sha256sum }}
		(sudo dnf install -y $(paste -s -d ' ' {{ joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id | quote }})) || exit 1
	{{ end }}

	{{ if .tags.devops }}
		echo "Install {{ .chezmoi.osRelease.id | title }} Linux DevOps packages"
		{{ if and (stat (print (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id) ".devops")) (gt (stat (print (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id) ".devops")).size 0) }}
			# {{ .chezmoi.osRelease.id }}.devops hash: {{ include (print (joinPath ".packagefiles" .chezmoi.osRelease.id) ".devops") | sha256sum }}
			(sudo dnf install -y $(paste -s -d ' ' "$i")) || exit 1
			(sudo dnf install -y $(paste -s -d ' ' {{ print (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id) ".devops" | quote }})) || exit 1
		{{ end }}
	{{ end }}

	{{ if .tags.dev }}
		echo "Install {{ .chezmoi.osRelease.id | title }} Linux Dev packages"
		{{ if and (stat (print (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id) ".dev")) (gt (stat (print (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id) ".dev")).size 0) }}
			# {{ .chezmoi.osRelease.id }}.dev hash: {{ include (print (joinPath ".packagefiles" .chezmoi.osRelease.id) ".dev") | sha256sum }}
			(sudo dnf install -y $(paste -s -d ' ' "$i")) || exit 1
			(sudo dnf install -y $(paste -s -d ' ' {{ print (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id) ".dev" | quote }})) || exit 1
		{{ end }}
	{{ end }}

	{{ if and (and (or .tags.devops .tags.dev) (eq .chezmoi.arch "amd64")) (or (eq .session.type "wayland") (eq .session.type "x11") (eq .session.type "xorg")) }}
		sudo dnf install -y https://github.com/wez/wezterm/releases/download/nightly/wezterm-nightly-{{ .chezmoi.osRelease.id }}{{ .chezmoi.osRelease.versionID }}.rpm
	{{ end }}
{{ end }}
