#!/usr/bin/env sh
# vim:ft=bash.gotexttmpl

{{ template "path.tmpl" . }}

cd {{ .chezmoi.homeDir | quote }} || exit 1

{{ if stat (joinPath .chezmoi.homeDir ".local/esp-idf") | quote }}
	# {{ .chezmoi.homeDir}}.local/esp-idf hash: {{ include (joinPath .chezmoi.homeDir ".local/esp-idf/.git/packed-refs") | sha256sum }}
	{{ template "path.tmpl" . }}
	export IDF_TOOLS_PATH={{ (joinPath .chezmoi.homeDir ".local/espressif") | quote }}
	echo "ESP-IDF. Install"
	(cd {{ (joinPath .chezmoi.homeDir ".local/esp-idf") | quote }} && ./install.sh all) || exit 1
{{ end }}
