#!/usr/bin/env sh
# vim:ft=bash.gotexttmpl

# trap '' SIGINT

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") }}

	cd {{ .chezmoi.homeDir | quote }} || exit 1

	{{ template "helper-sudo-access.tmpl" . }}

	{{ template "helper-arch-upgrade.tmpl" . }}
{{ end }}
