#!/usr/bin/env sh
# vim:ft=go

cd "$HOME" || exit 1

{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "fedora")) }}
echo "Install Fedora Linux packages"
# Yumfile hash: {{ include ".packagefiles/Yumfile" | sha256sum }}
{{ end }}
