{{- /*
vim:ft=bash.gotexttmpl
*/ -}}
#!/usr/bin/env bash
# vim:ft=bash.gotexttmpl

trap "exit" INT

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") }}

	cd {{ .chezmoi.homeDir | quote }} || exit 1

{{ template "helper-sudo-access.tmpl" . }}

{{ template "env.tmpl" . }}
{{ template "shellrc-path.tmpl" . }}

{{ template "helper-arch-upgrade.tmpl" . }}
{{ end }}
