#!/usr/bin/env sh
# vim:ft=go

cd "$HOME" || exit 1

echo "Install Nvim Lazy plugin and dependencies"
if command -v nvim >/dev/null; then
	echo "Lazy NeoVim update..."
	nvim --headless "+Lazy! sync" +qall! || exit 1
else
	echo "Neovim is missing!"
	exit 1
fi
