#!/usr/bin/env sh
# vim:ft=go

cd "$HOME" || exit 1

mkdir -p "$HOME"/.local/bin

# chezmoi.toml hash: {{ include (joinPath ".chezmoi.toml.tmpl") | sha256sum }}

echo "Install chezmoi binary"
{{ if eq .libc.platform "musl" }}
	export CHEZMOI_BINARY_URL="https://github.com/twpayne/chezmoi/releases/download/v{{ .tools.chezmoi.version }}/chezmoi-{{ .chezmoi.os }}-{{ .chezmoi.arch }}-{{ .libc.platform }}"
{{ else }}
	export CHEZMOI_BINARY_URL="https://github.com/twpayne/chezmoi/releases/download/v{{ .tools.chezmoi.version }}/chezmoi-{{ .chezmoi.os }}-{{ .chezmoi.arch }}"
{{ end }}
${SOFTWARE_DOWNLOAD_CMD} "${CHEZMOI_BINARY_URL}" -o "$HOME"/.local/bin/chezmoi && chmod 755 "$HOME"/.local/bin/chezmoi

echo "Install fzf binary"
${SOFTWARE_DOWNLOAD_CMD} https://github.com/junegunn/fzf/releases/download/{{ .tools.fzf.version }}/fzf-{{ .tools.fzf.version }}-{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz | tar -xzv -C "$HOME"/.local/bin fzf

echo "Install helm binary"
${SOFTWARE_DOWNLOAD_CMD} https://get.helm.sh/helm-v{{ .tools.helm.version }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz | tar -xzv --strip-components 1 -C "$HOME"/.local/bin {{ .chezmoi.os }}-{{ .chezmoi.arch }}/helm

echo "Install rke binary"
${SOFTWARE_DOWNLOAD_CMD} https://github.com/rancher/rke/releases/download/v{{ .tools.rke.version }}/rke_{{ .chezmoi.os }}-{{ .chezmoi.arch }} -o "$HOME"/.local/bin/rke && chmod 755 "$HOME"/.local/bin/rke

echo "Install kubectl binary"
${SOFTWARE_DOWNLOAD_CMD} https://storage.googleapis.com/kubernetes-release/release/v{{ .tools.kubectl.version }}/bin/{{ .chezmoi.os }}/{{ .chezmoi.arch }}/kubectl -o "$HOME"/.local/bin/kubectl && chmod 755 "$HOME"/.local/bin/kubectl

echo "Install kubectl krew binary"
${SOFTWARE_DOWNLOAD_CMD} https://github.com/kubernetes-sigs/krew/releases/download/v{{ .tools.krew.version }}/krew-{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz | tar -xzv -C "$HOME"/.local/bin --transform='s,krew-{{ .chezmoi.os }}_{{ .chezmoi.arch }},krew,' --show-transformed-names ./krew-{{ .chezmoi.os }}_{{ .chezmoi.arch }}

echo "Install bat binary"
{{ if eq .chezmoi.os "darwin" }}
	{{ if eq .chezmoi.arch "amd64" }}
		${SOFTWARE_DOWNLOAD_CMD} https://github.com/sharkdp/bat/releases/download/v{{ .tools.bat.version }}/bat-v{{ .tools.bat.version }}-x86_64-apple-darwin.tar.gz | tar -xzv --strip-components 1 -C "$HOME"/.local/bin bat-v{{ .tools.bat.version }}-x86_64-apple-darwin/bat
	{{ end }}
{{ end }}
{{ if eq .chezmoi.os "linux" }}
	{{ if eq .chezmoi.arch "amd64" }}
		${SOFTWARE_DOWNLOAD_CMD} https://github.com/sharkdp/bat/releases/download/v{{ .tools.bat.version }}/bat-v{{ .tools.bat.version }}-x86_64-unknown-linux-{{ .libc.platform }}.tar.gz | tar -xzv --strip-components 1 -C "$HOME"/.local/bin bat-v{{ .tools.bat.version }}-x86_64-unknown-linux-{{ .libc.platform }}/bat
	{{ else if eq .chezmoi.arch "arm64" }}
		${SOFTWARE_DOWNLOAD_CMD} https://github.com/sharkdp/bat/releases/download/v{{ .tools.bat.version }}/bat-v{{ .tools.bat.version }}-aarch64-unknown-linux-{{ .libc.platform }}.tar.gz | tar -xzv --strip-components 1 -C "$HOME"/.local/bin bat-v{{ .tools.bat.version }}-aarch64-unknown-linux-{{ .libc.platform }}/bat
	{{ end }}
{{ end }}
