#!/usr/bin/env sh
# vim:ft=go

cd "$HOME" || exit 1

echo "Install zsh antigen"
curl -L git.io/antigen > "$HOME"/.local/antigen.zsh

echo "Configure shell environment"
{{ if eq .chezmoi.os "linux" }}
	echo "Password may be required"
	sudo usermod -s /bin/zsh "$(id -u -n)"
// {{ else if eq .chezmoi.os "darwin" }}
#	terminal-notifier -title "Configuring shell environment" -sound default -ignoreDnD -message "Please type password in Terminal"
#	chsh -s /bin/zsh
{{ end }}
