#!/usr/bin/env sh
# vim:ft=bash.gotexttmpl

echo "Configure User Environment"
{{ if eq .chezmoi.os "darwin" }}
# Activity Monitor
defaults write com.apple.ActivityMonitor OpenMainWindow -bool true
defaults write com.apple.ActivityMonitor IconType -int 5
defaults write com.apple.ActivityMonitor ShowCategory -int 0
defaults write com.apple.ActivityMonitor SortColumn -string "CPUUsage"
defaults write com.apple.ActivityMonitor SortDirection -int 0

# Disk Utility
defaults write com.apple.DiskUtility advanced-image-options -bool true

# Dock: enable highlight hover effect for the grid view of a stack
defaults write com.apple.dock mouse-over-hilite-stack -bool true

# Dock: set the icon size of Dock items to 32 pixels
defaults write com.apple.dock tilesize -int 32

# Dock: change minimize/maximize window effect
defaults write com.apple.dock mineffect -string "scale"

# Dock: minimize windows into their application’s icon
defaults write com.apple.dock minimize-to-application -bool true

# Dock: enable spring loading for all Dock items
defaults write com.apple.dock enable-spring-load-actions-on-all-items -bool true

# Dock: show indicator lights for open applications in the Dock
defaults write com.apple.dock show-process-indicators -bool true

# Dock: automatically hide and show
defaults write com.apple.dock autohide -bool true

# Dock: make icons of hidden applications translucent
defaults write com.apple.dock showhidden -bool true

# Dock: show recent applications in Dock
defaults write com.apple.dock show-recents -bool true

# Mission Control: speed up animations
defaults write com.apple.dock expose-animation-duration -float 0.1

# Mission Control: group windows by application
defaults write com.apple.dock expose-group-by-app -bool true

# Mission Control: don’t automatically rearrange Spaces based on most recent use
defaults write com.apple.dock mru-spaces -bool false

# Hot corners
# Possible values:
#  0: no-op
#  2: Mission Control
#  3: Show application windows
#  4: Desktop
#  5: Start screen saver
#  6: Disable screen saver
#  7: Dashboard
# 10: Put display to sleep
# 11: Launchpad
# 12: Notification Center
# Top left screen corner → Mission Control
defaults write com.apple.dock wvous-tl-corner -int 6
defaults write com.apple.dock wvous-tl-modifier -int 0
# Top right
defaults write com.apple.dock wvous-tr-corner -int 0
defaults write com.apple.dock wvous-tr-modifier -int 0
# Bottom left
defaults write com.apple.dock wvous-bl-corner -int 0
defaults write com.apple.dock wvous-bl-modifier -int 0
# Bottom right
defaults write com.apple.dock wvous-br-corner -int 0
defaults write com.apple.dock wvous-br-modifier -int 0

# Finder: disable desktop
defaults write com.apple.finder CreateDesktop -bool false

# Finder: disable window animations and Get Info animations
#defaults write com.apple.finder DisableAllAnimations -bool true

# Finder: set Documents as the default location for new Finder windows
defaults write com.apple.finder NewWindowTarget -string "PfDo"
defaults write com.apple.finder NewWindowTargetPath -string "file://{{ .chezmoi.homeDir | quote }}/Documents/"

# Finder: hide icons for hard drives, servers, and removable media on the desktop
defaults write com.apple.finder ShowExternalHardDrivesOnDesktop -bool false
defaults write com.apple.finder ShowHardDrivesOnDesktop -bool false
defaults write com.apple.finder ShowMountedServersOnDesktop -bool false
defaults write com.apple.finder ShowRemovableMediaOnDesktop -bool false

# Finder: hide hidden files by default
defaults write com.apple.finder AppleShowAllFiles -bool false

# Finder: show all filename extensions
defaults write NSGlobalDomain AppleShowAllExtensions -bool true

# Finder: show status bar
defaults write com.apple.finder ShowStatusBar -bool true

# Finder: show path bar
defaults write com.apple.finder ShowPathbar -bool false

# Finder: allow text selection in Quick Look
defaults write com.apple.finder QLEnableTextSelection -bool true

# Finder: display full POSIX path as Finder window title
defaults write com.apple.finder _FXShowPosixPathInTitle -bool false

# Finder: when performing a search, search the current folder by default
defaults write com.apple.finder FXDefaultSearchScope -string "SCcf"

# Finder: disable the warning when changing a file extension
defaults write com.apple.finder FXEnableExtensionChangeWarning -bool false

# Finder: enable spring loading for directories
defaults write NSGlobalDomain com.apple.springing.enabled -bool true

# Finder: set the spring loading delay for directories
defaults write NSGlobalDomain com.apple.springing.delay -float 1

# Finder: avoid creating .DS_Store files on network volumes
defaults write com.apple.desktopservices DSDontWriteNetworkStores -bool true

# Finder: enable disk image verification
defaults write com.apple.frameworks.diskimages skip-verify -bool false
defaults write com.apple.frameworks.diskimages skip-verify-locked -bool false
defaults write com.apple.frameworks.diskimages skip-verify-remote -bool false

# Finder: disable automatically open a new Finder window when a volume is mounted
defaults write com.apple.frameworks.diskimages auto-open-ro-root -bool false
defaults write com.apple.frameworks.diskimages auto-open-rw-root -bool false
defaults write com.apple.finder OpenWindowForNewRemovableDisk -bool false

# Finder: enable snap-to-grid for icons on the desktop and in other icon views
/usr/libexec/PlistBuddy -c "Set :DesktopViewSettings:IconViewSettings:arrangeBy grid" ~/Library/Preferences/com.apple.finder.plist
/usr/libexec/PlistBuddy -c "Set :FK_StandardViewSettings:IconViewSettings:arrangeBy grid" ~/Library/Preferences/com.apple.finder.plist
/usr/libexec/PlistBuddy -c "Set :StandardViewSettings:IconViewSettings:arrangeBy grid" ~/Library/Preferences/com.apple.finder.plist

# Finder: decrease grid spacing for icons on the desktop and in other icon views
/usr/libexec/PlistBuddy -c "Set :DesktopViewSettings:IconViewSettings:gridSpacing 54" ~/Library/Preferences/com.apple.finder.plist
/usr/libexec/PlistBuddy -c "Set :FK_StandardViewSettings:IconViewSettings:gridSpacing 54" ~/Library/Preferences/com.apple.finder.plist
/usr/libexec/PlistBuddy -c "Set :StandardViewSettings:IconViewSettings:gridSpacing 54" ~/Library/Preferences/com.apple.finder.plist

# Finder: decrease the size of icons on the desktop and in other icon views
/usr/libexec/PlistBuddy -c "Set :DesktopViewSettings:IconViewSettings:iconSize 32" ~/Library/Preferences/com.apple.finder.plist
/usr/libexec/PlistBuddy -c "Set :FK_StandardViewSettings:IconViewSettings:iconSize 32" ~/Library/Preferences/com.apple.finder.plist
/usr/libexec/PlistBuddy -c "Set :StandardViewSettings:IconViewSettings:iconSize 32" ~/Library/Preferences/com.apple.finder.plist

# Finder: use list view in all Finder windows by default. Four-letter codes for the other view modes: `icnv`, `clmv`, `Flwv`
defaults write com.apple.finder FXPreferredViewStyle -string "Nlsv"

# Finder: enable the warning before emptying the Trash
defaults write com.apple.finder WarnOnEmptyTrash -bool true

# Finder: disable Empty Trash securely
#defaults write com.apple.finder EmptyTrashSecurely -bool false

# macOS: enable AirDrop over Ethernet and on unsupported Macs running Lion
#defaults write com.apple.NetworkBrowser BrowseAllInterfaces -bool true

# macOS: set the timezone; see `sudo systemsetup -listtimezones` for other values
#sudo systemsetup -settimezone "America/Los_Angeles" > /dev/null

# Finder: expand the following File Info panes:
defaults write com.apple.finder FXInfoPanesExpanded -dict Comments -bool false Preview -bool false General -bool true OpenWith -bool true Privileges -bool false

# Trackpad: enable “natural” scrolling
defaults write NSGlobalDomain com.apple.swipescrolldirection -bool true

# Sound: increase sound quality for Bluetooth headphones/headsets
defaults write com.apple.BluetoothAudioAgent "Apple Bitpool Min (editable)" -int 40

# Keyboard: enable full keyboard access for all controls
defaults write NSGlobalDomain AppleKeyboardUIMode -int 3

# Keyboaard: use scroll gesture with the Ctrl (^) modifier key to zoom
defaults write com.apple.universalaccess closeViewScrollWheelToggle -int 0

# Keyboard: enable press-and-hold for keys in favor of key repeat
defaults write NSGlobalDomain ApplePressAndHoldEnabled -bool false

# Keyboard: set language and text formats
# Note: if you’re in the US, replace `EUR` with `USD`, `Centimeters` with `Inches`, `en_GB` with `en_US`, and `true` with `false`.
defaults write NSGlobalDomain AppleLanguages -array "en-GB" "en" "uk"
defaults write NSGlobalDomain AppleLocale -string "en_US@currency=USD"
defaults write NSGlobalDomain AppleMeasurementUnits -string "Centimeters"
defaults write NSGlobalDomain AppleMetricUnits -bool true

# Keyboard: show language menu in the top right corner of the boot screen
#sudo defaults write /Library/Preferences/com.apple.loginwindow showInputMenu -bool true

# Keyboard: enable auto-correct
defaults write NSGlobalDomain NSAutomaticSpellingCorrectionEnabled -bool true

# Mail: disable send and reply animations
#defaults write com.apple.mail DisableReplyAnimations -bool true
#defaults write com.apple.mail DisableSendAnimations -bool true

# Mail: copy email addresses as `Foo Bar <foo@example.com>` instead of `foo@example.com` in Mail.app
defaults write com.apple.mail AddressesIncludeNameOnPasteboard -bool true

# Mail: display emails in threaded mode, sorted by date (oldest at the top)
#defaults write com.apple.mail DraftsViewerAttributes -dict-add "DisplayInThreadedMode" -string "no"
#defaults write com.apple.mail DraftsViewerAttributes -dict-add "SortedDescending" -string "YES"
#defaults write com.apple.mail DraftsViewerAttributes -dict-add "SortOrder" -string "last-saved-date"
#defaults write com.apple.mail DraftsViewerAttributes -dict-add "SearchSortDescending" -string "YES"
#defaults write com.apple.mail DraftsViewerAttributes -dict-add "SearchSortOrder" -string "rank"

# Mail: enable inline attachments
defaults write com.apple.mail DisableInlineAttachmentViewing -bool false

# Mail: enable automatic spell checking
defaults write com.apple.mail SpellCheckingBehavior -string "InlineSpellCheckingEnabled"

# Messages: enable automatic emoji substitution
defaults write com.apple.messageshelper.MessageController SOInputLineSettings -dict-add "automaticEmojiSubstitutionEnabledLegacy" -bool true
defaults write com.apple.messageshelper.MessageController SOInputLineSettings -dict-add "automaticEmojiSubstitutionEnablediMessage" -bool true

# Messages: enable smart quotes
#defaults write com.apple.messageshelper.MessageController SOInputLineSettings -dict-add "automaticQuoteSubstitutionEnabled" -bool true
# Messages: enable dash quotes
#defaults write com.apple.messageshelper.MessageController SOInputLineSettings -dict-add "automaticDashSubstitutionEnabled" -bool true

# Messages: enable data and link detectors
defaults write com.apple.messageshelper.MessageController SOInputLineSettings -dict-add "automaticDataDetectionEnabled" -bool true
defaults write com.apple.messageshelper.MessageController SOInputLineSettings -dict-add "automaticLinkDetectionEnabled" -bool true

# Messages: enable continuous spell checking
defaults write com.apple.messageshelper.MessageController SOInputLineSettings -dict-add "continuousSpellCheckingEnabled" -bool true
defaults write com.apple.messageshelper.MessageController SOInputLineSettings -dict-add "grammarCheckingEnabled" -bool true
defaults write com.apple.messageshelper.MessageController SOInputLineSettings -dict-add "automaticSpellingCorrectionEnabled" -bool true

# Messages: enable autoreplacement
defaults write com.apple.messageshelper.MessageController SOInputLineSettings -dict-add "automaticTextReplacementEnabled" -bool true
defaults write com.apple.messageshelper.MessageController SOInputLineSettings -dict-add "smartInsertDeleteEnabled" -bool true

# Menu bar, enable everything all
defaults write com.apple.systemuiserver menuExtras -array \
	"/System/Library/CoreServices/Menu Extras/Bluetooth.menu" \
	"/System/Library/CoreServices/Menu Extras/AirPort.menu" \
	"/System/Library/CoreServices/Menu Extras/Battery.menu" \
	"/System/Library/CoreServices/Menu Extras/TimeMachine.menu" \
	"/System/Library/CoreServices/Menu Extras/Volume.menu" \
	"/System/Library/CoreServices/Menu Extras/Clock.menu"

# Menu Extras: show remaining battery percentage; hide time
defaults write com.apple.menuextra.battery ShowPercent -string "YES"

# macOS: set highlight color to Red
#defaults write NSGlobalDomain AppleHighlightColor -string "1.000000 0.733333 0.721569 Red"

# Finder: set sidebar icon size to medium
defaults write NSGlobalDomain NSTableViewDefaultSizeMode -int 2

# Finder: keep folders on top when sorting by name
#defaults write com.apple.finder _FXSortFoldersFirst -bool true

# macOS: scrollbars
# Possible values: `WhenScrolling`, `Automatic` and `Always`
defaults write NSGlobalDomain AppleShowScrollBars -string "WhenScrolling"

# macOS: expand save panel by default
defaults write NSGlobalDomain NSNavPanelExpandedStateForSaveMode -bool true
defaults write NSGlobalDomain NSNavPanelExpandedStateForSaveMode2 -bool true

# macOS: save to disk (not to iCloud) by default
#defaults write NSGlobalDomain NSDocumentSaveNewDocumentsToCloud -bool false

# macOS: expand print panel by default
defaults write NSGlobalDomain PMPrintingExpandedStateForPrint -bool true
defaults write NSGlobalDomain PMPrintingExpandedStateForPrint2 -bool true

# macOS: automatically quit printer app once the print jobs complete
defaults write com.apple.print.PrintingPrefs "Quit When Finished" -bool true

# macOS: enable Resume system-wide
defaults write com.apple.systempreferences NSQuitAlwaysKeepsWindows -bool true

# macOS: enable automatic termination of inactive apps
defaults write NSGlobalDomain NSDisableAutomaticTermination -bool true

# macOS: switch the Crash Reporter to use NC
defaults write com.apple.CrashReporter UseUNC -int 1

# macOS: set Help Viewer windows to non-floating mode
defaults write com.apple.helpviewer DevMode -bool true

# macOS: enable smart quotes
#defaults write NSGlobalDomain NSAutomaticQuoteSubstitutionEnabled -bool true

# macOS: enable smart dashes
#defaults write NSGlobalDomain NSAutomaticDashSubstitutionEnabled -bool true

# Dashboard: disable
defaults write com.apple.dashboard mcx-disabled -bool true

# Dashboard: don’t show Dashboard as a Space
defaults write com.apple.dock dashboard-in-overlay -bool true

# Safari: press Tab to highlight each item on a web page
defaults write com.apple.Safari WebKitTabToLinksPreferenceKey -bool true
defaults write com.apple.Safari com.apple.Safari.ContentPageGroupIdentifier.WebKit2TabsToLinks -bool true

# Safari: show the full URL in the address bar (note: this still hides the scheme)
defaults write com.apple.Safari ShowFullURLInSmartSearchField -bool true

# Safari: set Safari’s home page to `about:blank`
defaults write com.apple.Safari HomePage -string "about:blank"

# Safari: prevent Safari from opening ‘safe’ files automatically after downloading
defaults write com.apple.Safari AutoOpenSafeDownloads -bool false

# Safari: hide Safari’s bookmarks bar by default
defaults write com.apple.Safari ShowFavoritesBar -bool false

# Safari: enable the Develop menu and the Web Inspector in Safari
defaults write com.apple.Safari IncludeDevelopMenu -bool true
defaults write com.apple.Safari WebKitDeveloperExtrasEnabledPreferenceKey -bool true
defaults write com.apple.Safari com.apple.Safari.ContentPageGroupIdentifier.WebKit2DeveloperExtrasEnabled -bool true

# Safari: add a context menu item for showing the Web Inspector in web views
defaults write NSGlobalDomain WebKitDeveloperExtras -bool true

# Safari: new tab and windows behavior
defaults write com.apple.Safari NewTabBehavior -int 1
defaults write com.apple.Safari NewWindowBehavior -int 1
defaults write com.apple.Safari TabCreationPolicy -int 2

# Safari: do not track
defaults write com.apple.Safari SendDoNotTrackHTTPHeader -int 1

# Safari: minimal font size
defaults write com.apple.Safari WebKitMinimumFontSize -int 12

# Safari: hide sidebar in new windows
defaults write com.apple.Safari ShowSidebarInNewWindows -int 0

# Safari: disable auto-playing video
defaults write com.apple.Safari WebKitMediaPlaybackAllowsInline -bool false
defaults write com.apple.SafariTechnologyPreview WebKitMediaPlaybackAllowsInline -bool false
defaults write com.apple.Safari com.apple.Safari.ContentPageGroupIdentifier.WebKit2AllowsInlineMediaPlayback -bool false
defaults write com.apple.SafariTechnologyPreview com.apple.Safari.ContentPageGroupIdentifier.WebKit2AllowsInlineMediaPlayback -bool false

# Safari: enable “Do Not Track”
defaults write com.apple.Safari SendDoNotTrackHTTPHeader -bool true

# Safari: disable Java
defaults write com.apple.Safari WebKitJavaEnabled -bool false
defaults write com.apple.Safari com.apple.Safari.ContentPageGroupIdentifier.WebKit2JavaEnabled -bool false
defaults write com.apple.Safari com.apple.Safari.ContentPageGroupIdentifier.WebKit2JavaEnabledForLocalFiles -bool false

# Safari: setup search engine
#defaults write com.apple.Safari SearchProviderIdentifier -string "com.duckduckgo"
#defaults write com.apple.Safari SearchProviderIdentifierMigratedToSystemPreference -int 1

# Safari: restore at launch
defaults write com.apple.Safari AlwaysRestoreSessionAtLaunch -int 1

# QuickTime: auto-play videos when opened with QuickTime Player
defaults write com.apple.QuickTimePlayerX MGPlayMovieOnOpen -bool false

# macOS: require password immediately after sleep or screen saver begins
defaults write com.apple.screensaver askForPassword -int 1
defaults write com.apple.screensaver askForPasswordDelay -int 5

# macOS: setup screensaver
defaults -currentHost write com.apple.screensaver showClock -int 1
defaults -currentHost write com.apple.screensaver idleTime -int 600

# macOS: save screenshots to the Downloads
defaults write com.apple.screencapture location -string "{{ .chezmoi.homeDir | quote }}/Downloads"

# macOS: save screenshots in PNG format (other options: BMP, GIF, JPG, PDF, TIFF)
defaults write com.apple.screencapture type -string "png"

# macOS: disable shadow in screenshots
defaults write com.apple.screencapture disable-shadow -bool true

# Mac App Store: enable the automatic update check
defaults write com.apple.SoftwareUpdate AutomaticCheckEnabled -bool true

# Mac App Store: check for software updates daily, not just once per week
defaults write com.apple.SoftwareUpdate ScheduleFrequency -int 1

# Mac App Store: download newly available updates in background
defaults write com.apple.SoftwareUpdate AutomaticDownload -int 1

# Mac App Store: install System data files & security updates
defaults write com.apple.SoftwareUpdate CriticalUpdateInstall -int 1

# Mac App Store: automatically download apps purchased on other Macs
#defaults write com.apple.SoftwareUpdate ConfigDataInstall -int 1

# Mac App Store: turn on app auto-update
defaults write com.apple.commerce AutoUpdate -bool true

# Mac App Store: allow the App Store to reboot machine on macOS updates
defaults write com.apple.commerce AutoUpdateRestartRequired -bool true

# TextEdit: use plain text mode for new TextEdit documents
defaults write com.apple.TextEdit RichText -int 0

# TextEdit: open and save files as UTF-8 in TextEdit
defaults write com.apple.TextEdit PlainTextEncoding -int 4
defaults write com.apple.TextEdit PlainTextEncodingForWrite -int 4

# TimeMachine: prevent from prompting to use new hard drives as backup volume
defaults write com.apple.TimeMachine DoNotOfferNewDisksForBackup -bool true
{{ end }}