#!/usr/bin/env sh
# vim:ft=go

cd "$HOME" || exit 1

{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "alpine")) }}
echo "Install Alpine Linux packages"
# Apkfile hash: {{ include ".packagefiles/Apkfile" | sha256sum }}
# Apkfile.workstation hash: {{ include ".packagefiles/Apkfile.workstation" | sha256sum }}
	(sudo apk update && sudo apk upgrade && sudo apk --update add $(paste -s -d ' ' {{ joinPath .chezmoi.sourceDir ".packagefiles/Apkfile" | quote }})) || exit 1
	if [[ -f {{ joinPath .chezmoi.sourceDir ".packagefiles/Apkfile" | quote }} ]]; then
		sudo apk --update add $(paste -s -d ' ' {{ joinPath .chezmoi.sourceDir ".packagefiles/Apkfile" | quote }}) || exit 1
	fi
{{ end }}
