#!/usr/bin/env sh
# vim:ft=go

cd "$HOME" || exit 1

{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch")) }}
echo "Install {{ .chezmoi.osRelease.id | title }} Linux packages"
# {{ .chezmoi.osRelease.id }} hash: {{ include (joinPath ".packagefiles" .chezmoi.osRelease.id) | sha256sum }}
# {{ .chezmoi.osRelease.id }}.workstation hash: {{ include (print (joinPath ".packagefiles" .chezmoi.osRelease.id) ".workstation") | sha256sum }}
# {{ .chezmoi.osRelease.id }}.aur hash: {{ include (print (joinPath ".packagefiles" .chezmoi.osRelease.id) ".aur") | sha256sum }}
# {{ .chezmoi.osRelease.id }}..aur.workstation hash: {{ include (print (joinPath ".packagefiles" .chezmoi.osRelease.id) ".aur.workstation") | sha256sum }}

	for i in {{ joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id | quote }} {{ print (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id) ".workstation" | quote }}; do
		if [[ -f "$i" ]] && [[ -s "$i" ]]; then
			(sudo pacman --noconfirm --needed -Syu $(paste -s -d ' ' "$i")) || exit 1
		fi
	done

	for i in {{ print (joinPath ".packagefiles" .chezmoi.osRelease.id) ".aur" | quote }} {{ print (joinPath ".packagefiles" .chezmoi.osRelease.id) ".aur.workstation" | quote }}; do
		if [[ -f "$i" ]] && [[ -s "$i" ]]; then
			(paru --noconfirm --needed -Syu $(paste -s -d ' ' "$i")) || exit 1
		fi
	done
fi
{{ end }}
