#!/usr/bin/env sh
# vim:ft=bash.gotexttmpl

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") }}

	cd {{ .chezmoi.homeDir | quote }} || exit 1

	{{ template "sudo-access.tmpl" . }}

	{{ $_ := set $.steps "upgrade" true }}

	{{ template "helper.tmpl" . }}
{{ end }}
