{{- /*
vim:ft=bash.gotexttmpl
*/ -}}
#!/usr/bin/env bash
# vim:ft=bash.gotexttmpl

trap "exit" INT

{{ if eq .chezmoi.os "darwin" }}

	cd {{ .chezmoi.homeDir | quote }} || exit 1

{{ template "env.tmpl" . }}
{{ template "shellrc-path.tmpl" . }}

{{ template "helper-darwin-upgrade.tmpl" . }}
{{ end }}
