#!/usr/bin/env sh
# vim:ft=go

cd "$HOME" || exit 1

{{ if eq .chezmoi.os "darwin" }}
# {{ .chezmoi.os }} hash: {{ include (joinPath ".packagefiles" .chezmoi.os) | sha256sum }}

	echo "Install {{ .chezmoi.os | title }} packages"
	if [[ -f {{ joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.os | quote }} ]] && [[ -s {{ joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.os | quote }} ]]; then
		export HOMEBREW_CASK_OPTS="--appdir="$HOME"/Applications
		{{ template "darwin.tmpl" . }}
		brew bundle --appdir="$HOME"/Applications --cleanup --force --no-lock --file={{ joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.os | quote }} || true
		brew cleanup --quiet --prune=30 || true
	fi
{{ end }}
