#!/usr/bin/env sh
# vim:ft=bash.gotexttmpl

# .chezmoidata/k8s.toml hash: {{ include ".chezmoidata/k8s.toml" | sha256sum }}

cd {{ .chezmoi.homeDir | quote }} || exit 1

{{ template "path.tmpl" . }}

{{ if lookPath "krew" }}
	echo "Krew. Install kubectl krew packages"
	export KREW_ROOT={{ (joinPath .chezmoi.homeDir ".local/krew") | quote }}
	krew install {{ join " " (.k8s.krew | sortAlpha | uniq) }}
{{ end }}