#!/usr/bin/env sh
# vim:ft=go

cd "$HOME" || exit 1

{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "alpine")) }}
	{{ if and (stat (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id)) (gt (stat (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id)).size 0) }}
		# {{ .chezmoi.osRelease.id }} hash: {{ include (joinPath ".packagefiles" .chezmoi.osRelease.id) | sha256sum }}
		echo "Install {{ .chezmoi.osRelease.id | title }} Linux packages"
		{{ template "alpine.tmpl" . }}
		(sudo apk --update add $(paste -s -d ' ' {{ joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.osRelease.id | quote }})) || exit 1
	{{ end }}
{{ end }}
