#!/usr/bin/env sh
# vim:ft=go

cd "$HOME" || exit 1

{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "fedora")) }}
echo "Install Fedora Linux packages"
# Yumfile hash: {{ include ".packagefiles/Yumfile" | sha256sum }}
# Yumfile.workstation hash: {{ include ".packagefiles/Yumfile.workstation" | sha256sum }}
	if [[ -f {{ joinPath .chezmoi.sourceDir ".packagefiles/Yumfile" | quote }} ]] && [[ -s {{ joinPath .chezmoi.sourceDir ".packagefiles/Yumfile" | quote }} ]]; then
		(sudo dnf install -y $(paste -s -d ' ' {{ joinPath .chezmoi.sourceDir ".packagefiles/Yumfile" | quote }})) || exit 1
	fi
	if [[ -f {{ joinPath .chezmoi.sourceDir ".packagefiles/Yumfile.workstation" | quote }} ]] && [[ -s {{ joinPath .chezmoi.sourceDir ".packagefiles/Yumfile.workstation" | quote }} ]]; then
		(sudo dnf install -y $(paste -s -d ' ' {{ joinPath .chezmoi.sourceDir ".packagefiles/Yumfile.workstation" | quote }})) || exit 1
	fi
{{ end }}
