#!/usr/bin/env sh
# vim:ft=bash.gotexttmpl

cd "$HOME" || exit 1

{{ template "update-os-packages.tmpl" . }}

{{ template "gcloud.tmpl" . }}

{{ template "krew.tmpl" . }}

{{ template "python3.tmpl" . }}

{{ template "ruby.tmpl" . }}

{{ template "go.tmpl" . }}

{{ template "antigen.tmpl" . }}

{{ template "tmux.tmpl" . }}

{{ template "neovim.tmpl" . }}
