#!/usr/bin/env sh
# vim:ft=go

cd "$HOME" || exit 1

echo "Install Go tools and libs"
if command -v go >/dev/null; then
# Gofile hash: {{ include ".packagefiles/Gofile" | sha256sum }}
	export GOPATH=$HOME/.local/golang-packages
	export GOBIN=$HOME/.local/bin
	while IFS= read -r line; do
		go install "$line"
	done <{{ joinPath .chezmoi.sourceDir ".packagefiles/Gofile" | quote }}
fi
