#!/usr/bin/env sh
# vim:ft=go

cd "$HOME" || exit 1

echo "System cleanup after all this mess"
{{ if eq .chezmoi.os "darwin" }}
	(brew cleanup --quiet --prune=30 && brew autoremove) || exit 1
{{ else if eq .chezmoi.os "linux" }}
	{{ if eq .chezmoi.osRelease.id "ubuntu" }}
		if command -v snap >/dev/null; then
			echo "Remove Ubuntu spyware"
			(sudo snap remove $(snap list | awk '!/^Name|^core/ {print $1}') && \
			sudo systemctl disable --now snapd.service && \
			sudo systemctl disable --now snapd.socket && \
			sudo systemctl disable --now snapd.seeded.service && \
			sudo apt remove --purge -y snapd gnome-software-plugin-snap && \
			sudo rm -rf /snap /var/snap /var/lib/snapd /var/cache/snapd /usr/lib/snapd) || exit 1
		fi
		(sudo echo -e "Package: snapd\nPin: release a=*\nPin-Priority: -1" > /etc/apt/preferences.d/no-snap && \
		sudo chown root:root /etc/apt/preferences.d/no-snap) || exit 1
		sudo apt autoremove --purge snapd
		sudo apt purge -y firefox
		(sudo echo -e "Package: firefox*\nPin: release o=Ubuntu*\nPin-Priority: -1" > /etc/apt/preferences.d/firefox-no-snap && \
		sudo chown root:root /etc/apt/preferences.d/firefox-no-snap) || exit 1
		sudo apt autoremove -y || exit 1
	{{ else if eq .chezmoi.osRelease.id "arch" }}
		(sudo pacman --noconfirm -R $(pacman -Qdtq)) || exit 1
	{{ else if eq .chezmoi.osRelease.id "alpine" }}
	{{ else if eq .chezmoi.osRelease.id "fedora" }}
	{{ end }}
{{ end }}
