#!/usr/bin/env sh
# vim:ft=bash.gotexttmpl

# .chezmoidata.toml hash: {{ include ".chezmoidata.toml" | sha256sum }}

cd "$HOME" || exit 1

{{ template "path.tmpl" . }}

if command -v krew >/dev/null 2>&1; then
	echo "Krew. Install kubectl krew packages"
	krew install {{ join " " (.k8s.krew | sortAlpha | uniq) }}
fi
