#!/usr/bin/env sh
# vim:ft=bash.gotexttmpl

cd {{ .chezmoi.homeDir | quote }} || exit 1

echo "Prepare system. Install essential packages like brew, etc"
{{ if eq .chezmoi.os "darwin" }}
	{{ if stat .path.homebrew }}
		rm -Rf {{ .path.homebrew | quote }}
	{{ end }}
	export HOMEBREW_CASK_OPTS="--appdir={{ (joinPath .chezmoi.homeDir "Applications") | quote }} --no-quarantine"

	git clone https://github.com/Homebrew/brew.git {{ .path.homebrew | quote }} || exit 1
	{{ template "darwin.tmpl" . }}

	# Stop Homebrew from spying on you
	brew analytics off

	# brew tap --force homebrew/core || exit 1
	brew install --force curl git gnu-tar || exit 1

	# Bypass gettext dependencies issues
	brew unlink --quiet gettext
	brew reinstall --force gettext || exit 1
	brew link --force gettext || exit 1
{{ end }}
