{{- /*
vim:ft=bash.gotexttmpl
*/ -}}
#!/usr/bin/env sh
# vim:ft=bash.gotexttmpl

trap "exit" INT

# {{ .chezmoi.os }} hash: {{ include ".chezmoi.toml.tmpl" | sha256sum }}

# {{ range (glob (print .chezmoi.sourceDir "/.chezmoidata/*.toml")) }}
# .chezmoidate/{{ . }}.toml {{ include . | sha256sum }} {{ end }}

# {{ range (glob (print .chezmoi.sourceDir "/.chezmotemplates/*.tmpl")) }}
# .chezmoitemplates/{{ . }}.toml {{ include . | sha256sum }} {{ end }}

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") }}
	cd {{ .chezmoi.homeDir | quote }} || exit 1

	{{ template "helper-sudo-access.tmpl" . }}

	echo "ARCH: disable the debug build with yay"
	sudo sed -i '/^OPTIONS=(/s/ debug/ !debug/' /etc/makepkg.conf || true

	echo "ARCH: update packages"
	sudo pacman --noconfirm --needed --sync --refresh --sysupgrade || exit 1

	echo "ARCH: install locales"
	sudo pacman --noconfirm --needed --sync glibc-locales || exit 1

	echo "ARCH: generate locales"
	{{ template "locales.tmpl" . }}

	echo "ARCH: force SYSTEM_EDITOR to vim"
	{{ template "system-editor.tmpl" . }}

	echo "ARCH: install basic tools"
	sudo pacman --noconfirm --needed --sync sudo bash less curl tar wget git base-devel || exit 1

	{{ if not (lookPath "yay") }}
		sudo pacman --noconfirm --needed --sync go || exit 1
		echo "ARCH: install yay"
		(cd {{ .chezmoi.homeDir }} && git clone https://aur.archlinux.org/yay.git && cd yay && makepkg -sif --noconfirm && cd {{ .chezmoi.homeDir }} && rm -Rf yay) || exit 1
	{{ end }}

	{{ template "helper.tmpl" . }}
{{ end }}
