#!/usr/bin/env sh
# vim:ft=go

cd "$HOME" || exit 1

{{ if eq .chezmoi.os "darwin" }}
	{{ template "darwin.tmpl" . }}
	export HOMEBREW_CASK_OPTS="--appdir=$HOME/Applications --no-quarantine"

	{{ if and (stat (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.os)) (gt (stat (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.os )).size 0) }}
		# {{ .chezmoi.os }} hash: {{ include (joinPath ".packagefiles" .chezmoi.os) | sha256sum }}
		echo "Install {{ .chezmoi.os | title }} packages"
		brew install --force $(paste -s -d ' ' {{ joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.os | quote }})
	{{ end }}

	{{ if and (stat (print (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.os) ".head")) (gt (stat (print (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.os ) ".head")).size 0) }}
		# {{ .chezmoi.os }}.head hash: {{ include (print (joinPath ".packagefiles" .chezmoi.os) ".head" ) | sha256sum }}
		echo "Install {{ .chezmoi.os | title }} packages with HEAD options"
		brew install --HEAD --force $(paste -s -d ' ' {{ print (joinPath .chezmoi.sourceDir ".packagefiles" .chezmoi.os) ".head" | quote }})
	{{ end }}
	brew cleanup --quiet --prune=30 || true
{{ end }}
