#!/usr/bin/env sh
# vim:ft=bash.gotexttmpl

{{ template "path.tmpl" . }}

cd {{ .chezmoi.homeDir | quote }} || exit 1

{{ template "update-os-packages.tmpl" . }}

{{ template "update-fonts-cache.tmpl" . }}

{{ template "gcloud.tmpl" . }}

{{ template "krew.tmpl" . }}

{{ template "python3.tmpl" . }}

{{ template "ruby.tmpl" . }}

{{ template "update-cargo.tmpl" . }}

{{ template "go.tmpl" . }}

{{ template "neovim.tmpl" . }}

{{ template "tmux.tmpl" . }}

{{ template "block-ads.tmpl" . }}
