#!/usr/bin/env sh
# vim:ft=go

cd "$HOME" || exit 1

echo "Install Homebrew packages"
{{ if eq .chezmoi.os "darwin" }}
# Brewfile hash: {{ include ".packagefiles/Brewfile" | sha256sum }}
	export PATH="$HOME"/.homebrew/bin:"$PATH"
	brew bundle --no-lock --force --file={{ joinPath .chezmoi.sourceDir ".packagefiles/Brewfile" | quote }} || true
	brew cleanup --quiet --prune=30 || true
{{ end }}
