#!/usr/bin/env sh
# vim:ft=bash.gotexttmpl

{{ template "path.tmpl" . }}

cd {{ .chezmoi.homeDir | quote }} || exit 1

{{ template "os-packages-update.tmpl" . }}

{{ template "fonts-cache-update.tmpl" . }}

{{ template "gcloud.tmpl" . }}

{{ template "krew.tmpl" . }}

{{ template "python3.tmpl" . }}

{{ template "uv.tmpl" . }}

{{ template "ruby.tmpl" . }}

{{ template "cargo-update.tmpl" . }}

{{ template "go.tmpl" . }}

{{ template "neovim.tmpl" . }}

{{ template "tmux.tmpl" . }}

{{ template "bat.tmpl" . }}

{{ template "ads-block.tmpl" . }}
