{{- /*
	vim:ft=conf.gotexttmpl
*/ -}}

# Screen brightness
bindd = , XF86MonBrightnessUp, Brightness increase, exec, $backlightup
bindd = , XF86MonBrightnessDown, Brightness decrease, exec, $backlightdown

# Keyboard brightness
# bindd = keyboard_brightness_up_shortcut, Keyboard brightness increase, exec, {{ joinPath .chezmoi.homeDir ".config/hypr/scripts/kbbacklight" }} --inc
# bind = keyboard_brightness_up_shortcut, Keyboard brightness decrease, exec, {{ joinPath .chezmoi.homeDir ".config/hypr/scripts/kbbacklight" }} --dec
