{{- /*
	vim:ft=conf.gotexttmpl
*/ -}}

# Switch keyboard language
bindd = CTRL, SPACE, Switch keyboard language, exec, switch=$(hyprctl devices -j | jq -r '.keyboards[] | .active_keymap' | uniq -c | [ $(wc -l) -eq 1 ] && echo "next" || echo "0"); for device in $(hyprctl devices -j | jq -r '.keyboards[] | .name'); do hyprctl switchxkblayout $device $switch; done; activeKeymap=$(hyprctl devices -j | jq -r '.keyboards[0] | .active_keymap'); if [ $switch == "0" ]; then resetStr="(reset)"; else resetStr=""; fi; hyprctl notify -1 1500 0 "$activeKeymap $resetStr";

# bindl = CTRL, SPACE, exec, hyprctl notify -1 1500 0 $(hyprctl devices -j | jq -r '.keyboards[] | select(.main == true) | first(.active_keymap)')

bindd = SUPER, TAB, Apps Switcher, exec, $appsswitcher # Apps Switcher

# Lock screen
bindd = SUPER CTRL, Q, Lock the screen, exec, $screenlock # macOS alike
bindd = SUPER, L, Lock the screen, exec, $screenlock # Windows alike

# Screenshots
bindd = SUPER SHIFT, 3, Screenshot window, exec, hyprshot -m output # macOS alike
bindd = SUPER SHIFT, 4, Screenshot area, exec, hyprshot -m window
bindd = , PRINT, Screenshot window, exec, hyprshot -m window # Windows alike
bindd = SHIFT, PRINT, Screenshot area, exec, hyprshot -m region

bindd = SUPER, SPACE, Spotlight, exec, $spotlight

bindd = SUPER SHIFT, N, Notification Center, exec, $notifications # Notification Center

bindd = CTRL ALT, DELETE, Exit Hyprland, exec, $logout # Logout
