{{- /*
	vim:ft=conf.gotexttmpl
*/ -}}

# Screen brightness
bindd = , XF86MonBrightnessUp, Brightness increase, exec, $backlightup
bindd = , XF86MonBrightnessDown, Brightness decrease, exec, $backlightdown

{{- if .tags.zephyrus.enabled }}
bindd = , XF86Launch1, ROG Control Center, exec, rog-control-center
{{- end }}

{{- if or (.tags.zephyrus.enabled) (.tags.thinkpad.enabled) }}
# Sleep on close lid
bindl= , switch:on:Lid Switch, exec, systemctl suspend
{{ end }}
