# Simulate macOS
binds = SUPER, A, sendshortcut, CTRL, A,
binds = SUPER, B, sendshortcut, CTRL, B,
# binds = SUPER, C, sendshortcut, CTRL, C,
binds = SUPER, D, sendshortcut, CTRL, D,
binds = SUPER, E, sendshortcut, CTRL, E,
binds = SUPER, F, sendshortcut, CTRL, F,
binds = SUPER, G, sendshortcut, CTRL, G,
binds = SUPER, H, sendshortcut, CTRL, H,
binds = SUPER, I, sendshortcut, CTRL, I,
binds = SUPER, J, sendshortcut, CTRL, J,
binds = SUPER, K, sendshortcut, CTRL, K,
binds = SUPER, L, sendshortcut, CTRL, L,
binds = SUPER, M, sendshortcut, CTRL, M,
binds = SUPER, N, sendshortcut, CTRL, N,
binds = SUPER, O, sendshortcut, CTRL, O,
binds = SUPER, P, sendshortcut, CTRL, P,
binds = SUPER, Q, sendshortcut, CTRL, Q,
binds = SUPER, R, sendshortcut, CTRL, R,
binds = SUPER, S, sendshortcut, CTRL, S,
binds = SUPER, T, sendshortcut, CTRL, T,
binds = SUPER, U, sendshortcut, CTRL, U,
# binds = SUPER, V, sendshortcut, CTRL, V,
binds = SUPER, W, sendshortcut, CTRL, W,
# binds = SUPER, X, sendshortcut, CTRL, X,
binds = SUPER, Y, sendshortcut, CTRL, Y,
binds = SUPER, Z, sendshortcut, CTRL, Z, # Undo

binds = SUPER SHIFT, A, sendshortcut, CTRL SHIFT, A,
binds = SUPER SHIFT, B, sendshortcut, CTRL SHIFT, B,
binds = SUPER SHIFT, C, sendshortcut, CTRL SHIFT, C,
binds = SUPER SHIFT, D, sendshortcut, CTRL SHIFT, D,
binds = SUPER SHIFT, E, sendshortcut, CTRL SHIFT, E,
binds = SUPER SHIFT, F, sendshortcut, CTRL SHIFT, F,
binds = SUPER SHIFT, G, sendshortcut, CTRL SHIFT, G,
binds = SUPER SHIFT, H, sendshortcut, CTRL SHIFT, H,
binds = SUPER SHIFT, I, sendshortcut, CTRL SHIFT, I,
binds = SUPER SHIFT, J, sendshortcut, CTRL SHIFT, J,
binds = SUPER SHIFT, K, sendshortcut, CTRL SHIFT, K,
binds = SUPER SHIFT, L, sendshortcut, CTRL SHIFT, L,
binds = SUPER SHIFT, M, sendshortcut, CTRL SHIFT, M,
binds = SUPER SHIFT, N, sendshortcut, CTRL SHIFT, N,
binds = SUPER SHIFT, O, sendshortcut, CTRL SHIFT, O,
binds = SUPER SHIFT, P, sendshortcut, CTRL SHIFT, P,
# binds = SUPER SHIFT, Q, sendshortcut, CTRL SHIFT, Q, # Logout
binds = SUPER SHIFT, R, sendshortcut, CTRL SHIFT, R,
binds = SUPER SHIFT, S, sendshortcut, CTRL SHIFT, S,
binds = SUPER SHIFT, T, sendshortcut, CTRL SHIFT, T,
binds = SUPER SHIFT, U, sendshortcut, CTRL SHIFT, U,
binds = SUPER SHIFT, V, sendshortcut, CTRL SHIFT, V,
binds = SUPER SHIFT, W, sendshortcut, CTRL SHIFT, W,
binds = SUPER SHIFT, X, sendshortcut, CTRL SHIFT, X,
binds = SUPER SHIFT, Y, sendshortcut, CTRL SHIFT, Y,
binds = SUPER SHIFT, Z, sendshortcut, CTRL SHIFT, Z, # Redo


# Next / Prev tab
binds = SUPER SHIFT, code:34, sendshortcut, CTRL, page_up,
binds = SUPER SHIFT, code:35, sendshortcut, CTRL, page_down,

# Copy / Paste
binds = SUPER, C, sendshortcut, CTRL, INSERT,
binds = SUPER, V, sendshortcut, SHIFT, INSERT,
binds = SUPER, X, sendshortcut, CTRL, X,

# macOS Emacs like text editing
# binds = CTRL, A, sendshortcut, , home,
# binds = CTRL, E, sendshortcut, , end,
# binds = CTRL, F, sendshortcut, , right,
# binds = CTRL, B, sendshortcut, , left,
# binds = CTRL, P, sendshortcut, , up,
# binds = CTRL, N, sendshortcut, , down,
# binds = CTRL, D, sendshortcut, , delete,
# binds = CTRL, H, sendshortcut, , backspace,
