# Simulate macOS
# SUPER -> CTRL
binde = SUPER, A, sendshortcut, CTRL, A,
binde = SUPER, B, sendshortcut, CTRL, B,
# binde = SUPER, C, sendshortcut, CTRL, C, # Copy
binde = SUPER, D, sendshortcut, CTRL, D,
binde = SUPER, E, sendshortcut, CTRL, E,
binde = SUPER, F, sendshortcut, CTRL, F,
binde = SUPER, G, sendshortcut, CTRL, G,
binde = SUPER, H, sendshortcut, CTRL, H,
binde = SUPER, I, sendshortcut, CTRL, I,
binde = SUPER, J, sendshortcut, CTRL, J,
binde = SUPER, K, sendshortcut, CTRL, K,
binde = SUPER, L, sendshortcut, CTRL, L,
binde = SUPER, M, sendshortcut, CTRL, M,
binde = SUPER, N, sendshortcut, CTRL, N,
binde = SUPER, O, sendshortcut, CTRL, O,
binde = SUPER, P, sendshortcut, CTRL, P,
binde = SUPER, Q, sendshortcut, CTRL, Q,
binde = SUPER, R, sendshortcut, CTRL, R,
binde = SUPER, S, sendshortcut, CTRL, S,
binde = SUPER, T, sendshortcut, CTRL, T,
binde = SUPER, U, sendshortcut, CTRL, U,
# binde = SUPER, V, sendshortcut, CTRL, V, # Paste
binde = SUPER, W, sendshortcut, CTRL, W,
# binde = SUPER, X, sendshortcut, CTRL, X, # Cut
binde = SUPER, Y, sendshortcut, CTRL, Y,
binde = SUPER, Z, sendshortcut, CTRL, Z, # Undo

# SUPER SHIFT -> CTRL SHIFT
binde = SUPER SHIFT, A, sendshortcut, CTRL SHIFT, A,
binde = SUPER SHIFT, B, sendshortcut, CTRL SHIFT, B,
binde = SUPER SHIFT, C, sendshortcut, CTRL SHIFT, C,
binde = SUPER SHIFT, D, sendshortcut, CTRL SHIFT, D,
binde = SUPER SHIFT, E, sendshortcut, CTRL SHIFT, E,
binde = SUPER SHIFT, F, sendshortcut, CTRL SHIFT, F,
binde = SUPER SHIFT, G, sendshortcut, CTRL SHIFT, G,
binde = SUPER SHIFT, H, sendshortcut, CTRL SHIFT, H,
binde = SUPER SHIFT, I, sendshortcut, CTRL SHIFT, I,
binde = SUPER SHIFT, J, sendshortcut, CTRL SHIFT, J,
binde = SUPER SHIFT, K, sendshortcut, CTRL SHIFT, K,
binde = SUPER SHIFT, L, sendshortcut, CTRL SHIFT, L,
binde = SUPER SHIFT, M, sendshortcut, CTRL SHIFT, M,
binde = SUPER SHIFT, N, sendshortcut, CTRL SHIFT, N,
binde = SUPER SHIFT, O, sendshortcut, CTRL SHIFT, O,
binde = SUPER SHIFT, P, sendshortcut, CTRL SHIFT, P,
binde = SUPER SHIFT, Q, sendshortcut, CTRL SHIFT, Q, # Logout
binde = SUPER SHIFT, R, sendshortcut, CTRL SHIFT, R,
binde = SUPER SHIFT, S, sendshortcut, CTRL SHIFT, S,
binde = SUPER SHIFT, T, sendshortcut, CTRL SHIFT, T,
binde = SUPER SHIFT, U, sendshortcut, CTRL SHIFT, U,
binde = SUPER SHIFT, V, sendshortcut, CTRL SHIFT, V,
binde = SUPER SHIFT, W, sendshortcut, CTRL SHIFT, W,
binde = SUPER SHIFT, X, sendshortcut, CTRL SHIFT, X,
binde = SUPER SHIFT, Y, sendshortcut, CTRL SHIFT, Y,
binde = SUPER SHIFT, Z, sendshortcut, CTRL SHIFT, Z, # Redo

# SUPER ALT SHIFT -> CTRL ALT SHIFT
binde = SUPER ALT SHIFT, A, sendshortcut, CTRL ALT SHIFT, A,
binde = SUPER ALT SHIFT, B, sendshortcut, CTRL ALT SHIFT, B,
binde = SUPER ALT SHIFT, C, sendshortcut, CTRL ALT SHIFT, C,
binde = SUPER ALT SHIFT, D, sendshortcut, CTRL ALT SHIFT, D,
binde = SUPER ALT SHIFT, E, sendshortcut, CTRL ALT SHIFT, E,
binde = SUPER ALT SHIFT, F, sendshortcut, CTRL ALT SHIFT, F,
binde = SUPER ALT SHIFT, G, sendshortcut, CTRL ALT SHIFT, G,
binde = SUPER ALT SHIFT, H, sendshortcut, CTRL ALT SHIFT, H,
binde = SUPER ALT SHIFT, I, sendshortcut, CTRL ALT SHIFT, I,
binde = SUPER ALT SHIFT, J, sendshortcut, CTRL ALT SHIFT, J,
binde = SUPER ALT SHIFT, K, sendshortcut, CTRL ALT SHIFT, K,
binde = SUPER ALT SHIFT, L, sendshortcut, CTRL ALT SHIFT, L,
binde = SUPER ALT SHIFT, M, sendshortcut, CTRL ALT SHIFT, M,
binde = SUPER ALT SHIFT, N, sendshortcut, CTRL ALT SHIFT, N,
binde = SUPER ALT SHIFT, O, sendshortcut, CTRL ALT SHIFT, O,
binde = SUPER ALT SHIFT, P, sendshortcut, CTRL ALT SHIFT, P,
binde = SUPER ALT SHIFT, Q, sendshortcut, CTRL ALT SHIFT, Q,
binde = SUPER ALT SHIFT, R, sendshortcut, CTRL ALT SHIFT, R,
binde = SUPER ALT SHIFT, S, sendshortcut, CTRL ALT SHIFT, S,
binde = SUPER ALT SHIFT, T, sendshortcut, CTRL ALT SHIFT, T,
binde = SUPER ALT SHIFT, U, sendshortcut, CTRL ALT SHIFT, U,
binde = SUPER ALT SHIFT, V, sendshortcut, CTRL ALT SHIFT, V,
binde = SUPER ALT SHIFT, W, sendshortcut, CTRL ALT SHIFT, W,
binde = SUPER ALT SHIFT, X, sendshortcut, CTRL ALT SHIFT, X,
binde = SUPER ALT SHIFT, Y, sendshortcut, CTRL ALT SHIFT, Y,
binde = SUPER ALT SHIFT, Z, sendshortcut, CTRL ALT SHIFT, Z,

# Next / Prev tab
binde = SUPER SHIFT, code:34, sendshortcut, CTRL, page_up,
binde = SUPER SHIFT, code:35, sendshortcut, CTRL, page_down,

# Copy / Paste
binde = SUPER, C, sendshortcut, CTRL, INSERT,
binde = SUPER, V, sendshortcut, SHIFT, INSERT,
binde = SUPER, X, sendshortcut, CTRL, X,

# Zoom
binde = SUPER, EQUAL, sendshortcut, CTRL, EQUAL,
binde = SUPER, MINUS, sendshortcut, CTRL, MINUS,
binde = SUPER, 0, sendshortcut, CTRL, 0,


# macOS Emacs like text editing. Impossible to use directly like this
# binde = CTRL, A, sendshortcut, , home,
# binde = CTRL, E, sendshortcut, , end,
# binde = CTRL, F, sendshortcut, , right,
# binde = CTRL, B, sendshortcut, , left,
# binde = CTRL, P, sendshortcut, , up,
# binde = CTRL, N, sendshortcut, , down,
# binde = CTRL, D, sendshortcut, , delete,
# binde = CTRL, H, sendshortcut, , backspace,
