{{- /*
	vim:ft=conf.gotexttmpl
*/ -}}

# Volume control
bindd = , XF86AudioRaiseVolume, Volume increase, exec, $volumeup
bindd = , XF86AudioLowerVolume, Volume decrease, exec, $volumedown
bindd = , XF86AudioMute, Volume Mute, exec, $volumemute

bindd = , XF86AudioMicMute, Microphone mute, exec, $micmute

# Media control
bindd = , XF86AudioPlay, Play, exec, playerctl play-pause
bindd = , XF86AudioPause, Pause, exec, playerctl play-pause
bindd = , XF86AudioNext, Next, exec, playerctl next
bindd = , XF86AudioPrev, Previous, exec, playerctl previous
