{{- /*
	vim:ft=toml.gotexttmpl
*/ -}}

TODO
README.md
Dockerfile*
Vagrantfile*
tags
node_modules
.vagrant
.neoconf.json
.test*
.entrypoint*
.packagefiles
.shortcuts
.resources
.stfolder
.stignore
{{ if ne .chezmoi.os "darwin" }}
Library
{{ else if ne .chezmoi.os "linux" }}
.Xresources
.config/autostart*
.config/awesome*
.config/akonadi*
.config/dconf
.config/dolphinrc
.config/fedora*
.config/foot*
.config/KDE*
.config/kde*
.config/kconf*
.config/qt*
.config/gtk-*
.config/kscreenlockerrc
.config/kdedefaults*
.config/kdeglobals*
.config/kxkbrc*
.config/plasma*
.config/Plasma*
.config/pulse*
.config/gtk*
.config/konsole
.config/ocular*
.config/Thunar
.config/imsettings
.config/Mousepad
.config/procps
.config/xarchiver
.config/xfce*
.config/trashrc
.config/Trolltech.conf
.config/user-dirs*
.config/systemd*
.config/superfile*
.config/kwinrc*
.config/xdg-desktop-portal*
.config/rog*
.local/bin/asus*
.local/bin/mod_options.sh
.local/share/applications*
.local/share/plasma*
.local/share/knewstuff3*
.gtk*
.themes
.icons
{{ end }}
{{ if not .tags.adsToolsCli.enabled }}
.config/hblock
{{ end }}
{{ if or (and (not .tags.devToolsCli.enabled) (not .tags.neovimCli.enabled)) (ne .chezmoi.os "linux") }}
.config/lazygit
.config/lazydocker
{{ end }}
{{ if and (not .tags.limaCli.enabled) (not .tags.k8sToolsCli.enabled) }}
.lima
{{ end }}
{{ if not .tags.terminalEmulators.enabled }}
.config/nvim/lua/plugins/wezterm.lua
{{ end }}
.stignore
