{{- /*
	vim:ft=toml.gotexttmpl
*/ -}}

TODO
README.md
Dockerfile*
Vagrantfile*
tags
.vagrant
.neoconf.json
.test*
.entrypoint*
.packagefiles
.shortcuts
.resources
{{- if ne .chezmoi.os "darwin" }}
Library
{{ else if ne .chezmoi.os "linux" }}
.Xresources
.config/autostart*
.config/awesome*
.config/akonadi*
.config/dconf
.config/fedora*
.config/foot*
.config/KDE*
.config/kde*
.config/kconf*
.config/qt*
.config/plasma*
.config/Plasma*
.config/pulse*
.config/gtk*
.config/konsole
.config/ocular*
.config/Thunar
.config/imsettings
.config/Mousepad
.config/procps
.config/xarchiver
.config/xfce*
.config/trashrc
.config/Trolltech.conf
.config/user-dirs*
.config/ghostty*
.config/k9s*
.gtk*
.themes
.icons
{{- end }}
{{- if eq .tags.ads false }}
.config/hblock
{{- end }}
{{- if or (eq .tags.dev false) (eq .tags.devops false) }}
.config/lazygit
.config/lazydocker
{{- end }}
{{ if and (eq .chezmoi.os "linux") (or (ne .session.type "wayland") (ne .session.type "x11") (ne .session.type "xorg")) }}
.config/nvim/lua/plugins/wezterm.lua
{{ end }}
