{{- /*
	vim:ft=toml.gotexttmpl
*/ -}}

bin
.bin
Bin
.Bin
.krew
.shellrc
.profile
.bash_profile
.config/astronvim
.homebrew
.brew/bin/*.lima
{{ if and (eq .chezmoi.os "linux") (or (ne .session.type "wayland") (ne .session.type "x11") (ne .session.type "xorg")) }}
.config/nvim/lua/plugins/wezterm.lua
{{ end }}
