{{ $workstation := promptBool "workstation" -}}
{{ $email := promptString "email" -}}

{{ if eq .chezmoi.os "darwin" }}

{{ end}}

[data]
  workstation = {{ $workstation }}
  email = {{ $email | quote }}
