{{- /*
	vim:ft=toml.gotexttmpl
*/ -}}

[scriptEnv]
	SOFTWARE_DOWNLOAD_CMD="curl --connect-timeout 300 --retry 5 --retry-delay 20 --silent --insecure --location"

{{ $email := promptString "What is your email address" "fu@bar.org" }}
{{ $workstation := promptBool "Is this workstation" false }}
{{ $tabs := promptInt "Configure default tabs width" 2 }}
{{ $opacity := promptString "Windows opacity" "1.0" }}
{{ $shellPath := promptString "Path to shell" "/bin/zsh" }}

[data]
	workstation = {{ $workstation }}
	email = {{ $email | quote }}

[data.tui]
	shellPath = {{ $shellPath | quote }}
	tabs = {{ $tabs }}

[data.gui]
	font = "Iosevka Nerd Font"
  fontSize = 15
	cols = 140
	rows = 50
	opacity = {{ $opacity }}
{{ if lt ($opacity | float64) 1.0 }}
	blur = 20
{{ else }}
	blur = 0
{{ end}}
{{ if eq .chezmoi.os "darwin" }}
	fontDir = {{ (joinPath .chezmoi.homeDir "Library/Fonts") | quote }}
{{ else if eq .chezmoi.os "linux" }}
	fontDir = {{ (joinPath .chezmoi.homeDir ".local/share/fonts") | quote }}
{{ end }}

[data.libc]
{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "alpine")) }}
	platform = "musl"
{{ else }}
	platform = "gnu"
{{ end }}

[data.arch]
{{ if eq .chezmoi.arch "amd64" }}
	opt1 = "{{ .chezmoi.arch }}"
	opt2 = "x86_64"
{{ else if eq .chezmoi.arch "arm64" }}
	opt1 = "{{ .chezmoi.arch }}"
	opt2 = "aarch64"
{{ end }}

[data.tools.fzf]
	version = "{{ output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/junegunn/fzf/releases/latest" | trim | base }}"

[data.tools.bat]
	version = "{{ output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/sharkdp/bat/releases/latest" | trim | base | trimPrefix "v" }}"

[data.tools.chezmoi]
	version = "{{ output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/twpayne/chezmoi/releases/latest" | trim | base | trimPrefix "v" }}"

[data.tools.helm]
	version = "{{ output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/helm/helm/releases/latest" | trim | base | trimPrefix "v" }}"

[data.tools.rke]
	version = "{{ output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/rancher/rke/releases/latest" | trim | base | trimPrefix "v" }}"

[data.tools.limactl]
	version = "{{ output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/lima-vm/lima/releases/latest" | trim | base | trimPrefix "v" }}"

[data.tools.kubectl]
	version = "1.26.2"

[data.tools.krew]
	version = "{{ output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/kubernetes-sigs/krew/releases/latest" | trim | base | trimPrefix "v" }}"

[data.tools.terraform]
	version = "{{ output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/hashicorp/terraform/releases/latest" | trim | base | trimPrefix "v" }}"

[data.tools.packer]
	version = "{{ output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/hashicorp/packer/releases/latest" | trim | base | trimPrefix "v" }}"

[data.tools.vagrant]
	version = "{{ output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/hashicorp/vagrant/releases/latest" | trim | base | trimPrefix "v" }}"

[data.tools.vault]
	version = "{{ output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/hashicorp/vault/releases/latest" | trim | base | trimPrefix "v" }}"

[data.tools.consul]
	version = "{{ output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/hashicorp/consul/releases/latest" | trim | base | trimPrefix "v" }}"

[data.tools.lazygit]
	version = "{{ output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/jesseduffield/lazygit/releases/latest" | trim | base | trimPrefix "v" }}"

[data.tools.lazydocker]
	version = "{{ output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/jesseduffield/lazydocker/releases/latest" | trim | base | trimPrefix "v" }}"

[data.tools.revive]
	version = "{{ output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com//mgechev/revive/releases/latest" | trim | base | trimPrefix "v" }}"

[data.tools.staticcheck]
	version = "{{ output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/dominikh/go-tools/releases/latest" | trim | base }}"

[data.gui.wezterm]
	version = "{{ output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/wez/wezterm/releases/latest" | trim | base }}"

[data.gui.astronvim]
	version = "{{ output "curl" "-fsSL" "-o" "/dev/null" "-w" "%{url_effective}" "https://github.com/AstroNvim/AstroNvim/releases/latest" | trim | base | trimPrefix "v" }}"

{{- writeToStdout "email address is set to: " $email "\n" -}}
{{ if $workstation }}
	{{- writeToStdout "is workstation?: true\n" -}}
{{ else }}
	{{- writeToStdout "is workstation?: false\n" -}}
{{ end }}
{{- writeToStdout "tabs wight set to: " ($tabs | toString) "\n" -}}
{{- writeToStdout "terminals window opacity set to: " $opacity "\n" -}}
{{- writeToStdout "shell command set to: " $shellPath "\n" -}}
