{{- /*
	vim:ft=toml.gotexttmpl
*/ -}}

bin
.bin
Bin
.Bin
.krew
.shellrc
.profile
.bash_profile
.bashrc_*
.zshrc_*
.config/astronvim
.homebrew
.brew/bin/*.lima
.local/zsh/plugins/starship.zsh
.local/zsh/completions/starship.zsh
.local/bash/plugins/starship.bash
.local/bash/completions/starship.bash
