# vim:ft=go

[scriptEnv]
	SOFTWARE_DOWNLOAD_CMD="curl --connect-timeout 300 --retry 5 --retry-delay 20 --silent --insecure --location"

{{ $email := promptString "email" -}}
{{ $workstation := promptBool "workstation" false -}}

[data]
	workstation = {{ $workstation | default false }}
	email = {{ $email | quote }}

[data.wezterm.hdpi]
  fontsize = 15

[data.wezterm.fhd]
  fontsize = 16

[data.libc]
{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "alpine")) }}
	platform = "musl"
{{ else }}
	platform = "gnu"
{{ end }}

[data.tools.fzf]
	version = "0.38.0"

[data.tools.bat]
	version = "0.22.1"

[data.tools.chezmoi]
	version = "2.31.1"

[data.tools.helm]
	version = "3.11.1"

[data.tools.rke]
	version = "0.3.2"

[data.tools.kubectl]
	version = "1.14.8"

[data.tools.krew]
	version = "0.4.3"

{{- writeToStdout "email address is: " $email "\n" -}}
{{ if $workstation }}
	{{- writeToStdout "is workstation?: true\n" -}}
{{ else }}
	{{- writeToStdout "is workstation?: false\n" -}}
{{ end }}
