*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# Secrets
.secrc

# YARD artifacts
.yardoc
_yardoc
doc/

# Vim artifacts
.session.vim
.undodir

# Brew artifacts
Brewfile.lock.json
