{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

# vim:ft=bash
# shellcheck source=/dev/null

{{ template "shellrc-path.tmpl" . }}

{{ template "shellrc-env.tmpl" . }}

{{ template "shellrc-editor.tmpl" . }}

{{ template "shellrc-media.tmpl" . }}

{{ template "shellrc-notify.tmpl" . }}

{{ template "shellrc-aliases.tmpl" . }}

{{ template "shellrc-functions.tmpl" . }}

{{ if eq .chezmoi.os "linux" }}
{{ template "gui-env.tmpl" . }}
{{ end }}

{{- if lookPath "starship" }}
export starship_config={{ (joinPath .chezmoi.homeDir "/.config/starship.toml") | quote }}
{{ end -}}

{{- if stat (joinPath .chezmoi.homeDir ".config/bash/plugins") }}
for f in {{ joinPath .chezmoi.homeDir ".config/bash/plugins" }}/*.bash; do
	source $f
done
{{ end -}}
