{{- /*
	vim:ft=ini.gotexttmpl
*/ -}}

[core]
	excludesfile = ~/.gitignore_global
	editor = $EDITOR
	{{ if lookPath "delta" }}
	pager = delta --tabs {{ .tui.tabs }}
	{{ else }}
	pager = less -R --tabs={{ .tui.tabs }}
	{{ end }}
	autocrlf = false
	safecrlf = true
	whitespace = fix, indent-with-non-tab, space-before-tab, trailing-space, cr-at-eol, blank-at-eol, blank-at-eof, tabwidth = {{ .tui.tabs }}

[user]
	name = {{ .uname | quote }}
	email = {{ .email | quote }}

{{- if lookPath "delta" }}
[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
{{ end -}}

[diff]
	renames = copy
	colorMoved = default

[difftool]
	prompt = 0

[merge]
	conflictStyle = zdiff3

[mergetool]
	keepBackup = true

[pull]
	rebase = false

[push]
	default = matching

[rebase]
	autosquash = true
	autostash = true

[tag]
	sort = version:refname

[credential]
	helper = cache --timeout=900

[grep]
	lineNumber = true
	extendedRegexp = true

[log]
	decorate = full

[http]
	cookiefile = ~/.gitcookies

[alias]
	a = add
	ap = add -p
	c = commit -v
	ph = push
	p = pull
	cp = cherry-pick
	s = switch

	f = fetch
	fa = fetch --all

	r = rebase

	rename = branch -m

	t = tag
	tph = push origin --tags
	td = tag -d

	done = !git push origin HEAD #push changes to upstream

	co = checkout
	cob = checkout -b #create new branch and switch
	del = branch -D #delete branch
	cl = clone
	br = branch
	bra = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate #list all branches

	df = diff
	diff = diff --word-diff
	dc = diff --cached

	st = status -sb
	su = status -sb --untracked-files=no

	l = log
	lh = log --graph
	la = !git lh --date-order --all 2> /dev/null
	lb = log --graph --simplify-by-decoration
	lba = !git lb --all

	# resets without explanation
	undo = reset HEAD~1 --mixed
	r0 = reset
	r1 = reset HEAD^
	r2 = reset HEAD^^
	rh = reset --hard
	rh1 = reset HEAD^ --hard
	rh2 = reset HEAD^^ --hard

	# stash shortcuts
	sl = stash list
	sa = stash apply
	ss = stash save
	sr = stash apply --index

	# search for TODO
	todo = grep TODO

	# show all prfiles
	ls = !git rev-parse --abbrev-ref HEAD | xargs git ls-tree -r --full-tree --full-name --name-only

	# push into current remote branch
	pc = !git rev-parse --abbrev-ref HEAD | xargs git push origin

	# show conflicts
	conflicts = !git ls-files --unmerged | cut -f2 | sort -u | xargs	grep -El '<<<<<<<|=======|>>>>>>>'

	# show aliases
	aliases = !git config -l | grep alias | cut -c 7-

	# assume a file as unchanged
	assume = !gitt update-index --assume-unchanged

	# unassume a file
	unassume = !gitignoret update-index --no-assume-unchanged

	# show assumed files
	assumed = !git ls-files -v | grep ^h | cut -c 3-

	# pull from remote repository
	fork = !git config --get remote.origin.url | xargs git pull

[help]
	autocorrect = 1
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
	process = git-lfs filter-process

[include]
	path = ~/.gitconfig.d/*
