{{- /*
vim:ft=zsh.gotexttmpl
*/ -}}

# vim:ft=zsh :
# shellcheck source=/dev/null

{{ template "shellrc-path.tmpl" . }}

{{ template "shellrc-zsh.tmpl" . }}

{{ template "shellrc-aliases.tmpl" . }}

{{ template "shellrc-env.tmpl" . }}

{{ template "shellrc-functions.tmpl" . }}

{{ template "shellrc-editor.tmpl" . }}

{{ if eq .chezmoi.os "linux" }}
{{ template "gui-env.tmpl" . }}
{{ end }}
