{{- /*
vim:ft=zsh.gotexttmpl
*/ -}}

# vim:ft=zsh :
# shellcheck source=/dev/null

{{ template "shellrc-path.tmpl" . }}

{{ template "shellrc-env.tmpl" . }}

{{ template "shellrc-editor.tmpl" . }}

{{ template "shellrc-media.tmpl" . }}

{{ template "shellrc-reader.tmpl" . }}

{{ template "shellrc-notify.tmpl" . }}

{{ template "shellrc-zsh.tmpl" . }}

{{ template "shellrc-aliases.tmpl" . }}

{{ template "shellrc-wezterm.tmpl" . }}

{{ template "shellrc-functions.tmpl" . }}

{{- if lookPath "starship" }}
export starship_config={{ (joinPath .chezmoi.homeDir "/.config/starship.toml") | quote }}
{{ end -}}

{{- if stat (joinPath .chezmoi.homeDir ".local/zsh/completions") }}
	{{- range glob (print $.chezmoi.homeDir "/.local/zsh/completions/*") }}
source {{ . | quote -}}
	{{ end -}}
{{ end }}

{{ if stat (joinPath $.chezmoi.homeDir ".local/zsh/plugins") }}
	{{- if and (lookPath "fzf") (stat (joinPath .chezmoi.homeDir ".local/zsh/plugins/fzf-tab")) }}
source {{ (joinPath .chezmoi.homeDir ".local/zsh/plugins/fzf-tab/fzf-tab.plugin.zsh") | quote }}
zstyle ':completion:*' menu no
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'ls --color=auto $realpath'
zstyle ':fzf-tab:*' switch-group '<' '>'
export FZF_DEFAULT_OPTS='--bind ctrl-p:toggle-preview,ctrl-f:page-down,ctrl-b:page-up,alt-f:preview-page-down,alt-b:preview-page-up,q:abort --border --preview-window bottom:hidden --height 80% --layout=reverse --preview "[[ $(file --mime {}) =~ binary ]] && echo {} is a binary file || ({{ if lookPath "bat" }}bat --style=numbers,changes --color=always {}{{ else }}cat -b {}{{ end }} || head -100 {}) 2> /dev/null | head -100"'
		{{- if eq .chezmoi.os "darwin" }}
bindkey 'ç' fzf-cd-widget
		{{ end -}}
	{{ end -}}

	{{ range $k, $v := omit $.zsh.pluginsList "fzf-tab" }}
		{{- if stat (joinPath $.chezmoi.homeDir ".local/zsh/plugins" $k ) }}
source {{ (print $.chezmoi.homeDir "/.local/zsh/plugins/" $k "/" $k ".plugin.zsh") | quote -}}
		{{ end -}}
	{{ end -}}
{{ end -}}

{{ if eq .chezmoi.os "linux" }}
{{ template "gui-env.tmpl" . }}
{{ end -}}
