{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

# vim:ft=bash
# shellcheck source=/dev/null

{{ template "shellrc-path.tmpl" . }}

{{ template "shellrc-env.tmpl" . }}

{{ template "shellrc-editor.tmpl" . }}

{{ template "shellrc-media.tmpl" . }}

{{ template "shellrc-reader.tmpl" . }}

{{ template "shellrc-notify.tmpl" . }}

{{ template "shellrc-bash.tmpl" . }}

{{ template "shellrc-aliases.tmpl" . }}

{{ template "shellrc-wezterm.tmpl" . }}

{{ template "shellrc-functions.tmpl" . }}

{{- if lookPath "starship" }}
export starship_config={{ (joinPath .chezmoi.homeDir "/.config/starship.toml") | quote }}
{{ end -}}

{{- if stat (joinPath .chezmoi.homeDir ".local/bash/completions") }}
	{{- range glob (print $.chezmoi.homeDir "/.local/bash/completions/*") }}
source {{ . | quote -}}
	{{ end -}}
{{ end }}

{{ if eq .chezmoi.os "linux" }}
{{ template "gui-env.tmpl" . }}
{{ end -}}
