ansible==2.8.5
ansible-lint==4.1.0
asn1crypto==0.24.0
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
clipboard==0.0.4
console==0.94
cpplint==1.4.4
cryptography==2.7
docker-pycreds==0.4.0
ezenv==0.86
fasteners==0.15
google-oauth2l==1.0.2
greenlet==0.4.15
httplib2==0.13.1
idna==2.8
Jinja2==2.10.1
jsondiff==1.2.0
MarkupSafe==1.1.1
meson==0.51.2
monotonic==1.5
msgpack==0.6.1
neovim==0.3.1
oauth2client==4.1.3
pyasn1==0.4.7
pyasn1-modules==0.2.6
pycparser==2.19
Pygments==2.4.2
pynvim==0.3.2
pyOpenSSL==19.0.0
pyperclip==1.7.0
PyYAML==5.1.2
requests==2.22.0
rsa==4.0
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.1.2
six==1.12.0
ui==0.1.4
urllib3==1.25.3
websocket-client==0.56.0
youtube-dl==2019.9.12.1
