XTerm*saveLines: 0
XTerm*vt100.translations: #override \n\
  Ctrl <Btn4Down>: string(0x1b) string("[25S") \n\
  Lock Ctrl <Btn4Down>: string(0x1b) string("[25S") \n\
  Lock @Num_Lock Ctrl <Btn4Down>: string(0x1b) string("[25S") \n\
  @Num_Lock Ctrl <Btn4Down>: string(0x1b) string("[25S") \n\
  <Btn4Down>: string(0x1b) string("[5S") \n\
  Ctrl <Btn5Down>: string(0x1b) string("[25T") \n\
  Lock Ctrl <Btn5Down>: string(0x1b) string("[25T") \n\
  Lock @Num_Lock Ctrl <Btn5Down>: string(0x1b) string("[25T") \n\
  @Num_Lock Ctrl <Btn5Down>: string(0x1b) string("[25T") \n\
  <Btn5Down>: string(0x1b) string("[5T") \n\
  Shift <KeyPress> Prior: string(0x1b) string("[25S") \n\
  Shift <KeyPress> Next: string(0x1b) string("[25T") \n

*foreground: {{ print "#" .colours.normal.foreground }}
*background: {{ if .theme.blackout }}#000000{{ else }}{{ print "#" .colours.normal.background }}{{ end }}
*color0:  {{ if .theme.blackout }}#000000{{ else }}{{ print "#" .colours.normal.black }}{{ end }}
*color1:  {{ print "#" .colours.normal.red }}
*color2:  {{ print "#" .colours.normal.green }}
*color3:  {{ print "#" .colours.normal.yellow }}
*color4:  {{ print "#" .colours.normal.blue }}
*color5:  {{ print "#" .colours.normal.magenta }}
*color6:  {{ print "#" .colours.normal.cyan }}
*color7:  {{ print "#" .colours.normal.white }}
*color8:  {{ print "#" .colours.bright.black }}
*color9:  {{ print "#" .colours.bright.red }}
*color10: {{ print "#" .colours.bright.green }}
*color11: {{ print "#" .colours.bright.yellow }}
*color12: {{ print "#" .colours.bright.blue }}
*color13: {{ print "#" .colours.bright.magenta }}
*color14: {{ print "#" .colours.bright.cyan }}
*color15: {{ print "#" .colours.bright.white }}
