{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

# vim:ft=bash
# shellcheck source=/dev/null

{{ template "env.tmpl" . }}

{{ template "shellrc-path.tmpl" . }}

{{ template "shellrc-editor.tmpl" . }}

{{ template "shellrc-notify.tmpl" . }}

{{ template "shellrc-bash.tmpl" . }}

{{ template "shellrc-aliases.tmpl" . }}

{{ template "shellrc-wezterm.tmpl" . }}

{{ template "shellrc-functions.tmpl" . }}

{{- if stat (joinPath .chezmoi.homeDir ".local/bash/completions") }}
	{{- range glob (print $.chezmoi.homeDir "/.local/bash/completions/*") }}
source {{ . | quote -}}
	{{ end -}}

{{ template "shellrc-fzf.tmpl" . }}
{{ end -}}

{{ template "shellrc-gui-env.tmpl" . }}

{{ template "bashrc-prompt.tmpl" . }}
