#!/usr/bin/env sh

cd "$HOME" || exit 1

{{ if eq .chezmoi.os "linux" }}
if ! grep -q docker /proc/1/cgroup; then
	if command -v pacman >/dev/null && [ -f "$HOME"/.config/Pacfile.workstation ]; then
		sudo pacman --noconfirm --needed -Syu $(paste -s -d ' ' "$HOME"/.config/Pacfile.workstation) || exit 1
		if command -v yay >/dev/null && [ -f "$HOME"/.config/Yayfile.workstation ]; then
			yay --noconfirm --needed -Syu $(paste -s -d ' ' "$HOME"/.config/Yayfile.workstation) || exit 1
		fi
	fi
	if command -v apk >/dev/null && [ -f "$HOME"/.config/Apkfile.workstation ]; then
		sudo apk --update add $(paste -s -d ' ' "$HOME"/.config/Apkfile.workstation) || exit 1
	fi
fi

{{ else if eq .chezmoi.os "darwin" }}
	{{ if eq .chezmoi.arch "amd64" }}
export PATH="$HOME"/.homebrew/bin:$PATH
terminal-notifier -title "Brew Installing Vagrant" -sound default -ignoreDnD -message "Please type password in Terminal"
brew install --cask --force vagrant || true
brew cleanup --quiet --prune=30
if [ -f /opt/vagrant/embedded/gems/2.2.19/gems/vagrant-2.2.19/plugins/hosts/darwin/cap/path.rb ]; then
	sudo curl https://raw.githubusercontent.com/hashicorp/vagrant/42db2569e32a69e604634462b633bb14ca20709a/plugins/hosts/darwin/cap/path.rb -o /opt/vagrant/embedded/gems/2.2.19/gems/vagrant-2.2.19/plugins/hosts/darwin/cap/path.rb
fi
	{{ end }}
{{ end }}
