#!/usr/bin/env sh

cd "$HOME" || exit 1

{{ if eq .chezmoi.os "linux" -}}
if [[ command -v pacman >/dev/null && -f "$HOME"/.config/Pacfile ]]; then
	sudo pacman --noconfirm -Syu $(paste -s -d ' ' "$HOME"/.config/Pacfile) || exit 1
	if [[ command -v yay >/dev/null && -f "$HOME"/.config/Yayfile ]]; then
		yay --noconfirm -Syu $(paste -s -d ' ' "$HOME"/.config/Yayfile) || exit 1
	fi
fi
if [[ command -v apk >/dev/null && -f "$HOME"/.config/Apkfile ]]; then
	sudo apk update && sudo apk upgrade && sudo apk --update add $(paste -s -d ' ' "$HOME"/.config/Apkfile) || exit 1
fi

{{ else if eq .chezmoi.os "darwin" -}}
	export PATH="$HOME"/.homebrew/bin:$PATH
	brew bundle --no-lock --file="$HOME/.config/Brewfile" || exit 1
	brew cleanup --quiet --prune=30
{{ end -}}

if command -v pip3 >/dev/null; then
	pip3 install --no-warn-script-location --user --upgrade pip || exit 1
	pip3 install --no-warn-script-location --user --upgrade --force-reinstall -r "$HOME"/.config/Pipfile || exit 1
fi

if command -v kubectl-krew >/dev/null; then
	kubectl-krew install <"$HOME"/.config/Krewfile
fi

if command -v gem >/dev/null; then
	xargs <"$HOME"/.config/Gemsfile gem install
fi

if command -v go >/dev/null; then
	source "$HOME"/.shellrc/golang
	while IFS= read -r line; do
		go get -u "$line"
	done <"$HOME"/.config/Gofile
fi
