#!/usr/bin/env sh

cd "$HOME" || exit 1

{{ if eq .chezmoi.os "linux" }}
if command -v apt >/dev/null; then
	sudo apt autoremove || exit 1
fi

{{ else if eq .chezmoi.os "darwin" }}
brew cleanup --quiet --prune=30
{{ end }}
