#!/usr/bin/env sh

cd "$HOME" || exit 1

{{ if eq .chezmoi.os "linux" }}
if command -v pacman >/dev/null && [[ -f "$HOME"/.config/Pacfile ]]; then
	sudo pacman --noconfirm --needed -Syu $(paste -s -d ' ' "$HOME"/.config/Pacfile) || exit 1
	if command -v yay >/dev/null && [[ -f "$HOME"/.config/Yayfile ]]; then
		yay --noconfirm --needed -Syu $(paste -s -d ' ' "$HOME"/.config/Yayfile) || exit 1
	fi
fi
if command -v apk >/dev/null && [[ -f "$HOME"/.config/Apkfile ]]; then
	sudo apk update && sudo apk upgrade && sudo apk --update add $(paste -s -d ' ' "$HOME"/.config/Apkfile) || exit 1
fi
if command -v apt >/dev/null && [[ -f "$HOME"/.config/Aptfile ]]; then
	sudo apt update -y && sudo apt upgrade -y && sudo apt install $(paste -s -d ' ' "$HOME"/.config/Aptfile) || exit 1
fi
if command -v snap >/dev/null && [[ -f "$HOME"/.config/Snapfile ]]; then
	sudo snap install $(paste -s -d ' ' "$HOME"/.config/Snapfile) --classic || exit 1
fi


{{ else if eq .chezmoi.os "darwin" }}
	export PATH="$HOME"/.homebrew/bin:$PATH
	brew bundle --no-lock --file="$HOME/.config/Brewfile" || true
	brew cleanup --quiet --prune=30
{{ end }}

if command -v pip3 >/dev/null; then
	pip3 install --no-warn-script-location --user --upgrade pip || exit 1
	pip3 install --no-warn-script-location --user --upgrade --force-reinstall -r "$HOME"/.config/Pipfile || exit 1
fi

if command -v kubectl-krew >/dev/null; then
	kubectl-krew install <"$HOME"/.config/Krewfile
fi

if command -v gem >/dev/null; then
	xargs <"$HOME"/.config/Gemsfile gem install --no-suggestions --no-lock -n "$HOME"/.local/bin --user-install
fi

if command -v npm >/dev/null; then
	xargs <"$HOME"/.config/NPMfile npm install -g
fi

if command -v go >/dev/null; then
	source "$HOME"/.shellrc/golang.sh
	while IFS= read -r line; do
		go install "$line"
	done <"$HOME"/.config/Gofile
fi
