{{- /*
	vim:ft=conf.gotexttmpl
*/ -}}

source = {{ joinPath .chezmoi.homeDir ".config/hypr/autostart.conf" }}

source = {{ joinPath .chezmoi.homeDir ".config/hypr/input.conf" }}
source = {{ joinPath .chezmoi.homeDir ".config/hypr/bindings/general.conf" }}
source = {{ joinPath .chezmoi.homeDir ".config/hypr/bindings/tiles.conf" }}
source = {{ joinPath .chezmoi.homeDir ".config/hypr/bindings/clipboard.conf" }}

source = {{ joinPath .chezmoi.homeDir ".config/hypr/monitors.conf" }}

source = {{ joinPath .chezmoi.homeDir ".config/hypr/ui.conf" }}

source = {{ joinPath .chezmoi.homeDir ".config/hypr/env.conf" }}

source = {{ joinPath .chezmoi.homeDir ".config/hypr/theme.conf" }}
