# See https://wiki.hypr.land/Configuring/Variables/#input
input {
	kb_layout = us,uk
	kb_options = ,grp:lctrl_space_toggle

	kb_options=ctrl:nocaps

	# Change speed of keyboard repeat
	repeat_rate = 40
	repeat_delay = 600

	# Start with numlock on by default
	numlock_by_default = false

	# Increase sensitivity for mouse/trackpad (default: 0)
	# sensitivity = 0.35

	touchpad {
		# Use natural (inverse) scrolling
		natural_scroll = true

		# Use two-finger clicks for right-click instead of lower-right corner
		clickfinger_behavior = true

		# Control the speed of your scrolling
		scroll_factor = 0.4
	}
}

# Scroll nicely in the terminal
windowrule = scrolltouchpad 1.5, class:(Alacritty|kitty)
windowrule = scrolltouchpad 0.2, class:com.mitchellh.ghostty

# See https://wiki.hyprland.org/Configuring/Gestures/
# gesture = 3, horizontal, workspace
