# See https://wiki.hyprland.org/Configuring/Monitors/
# List current monitors and resolutions possible: hyprctl monitors
# Format: monitor = [port], resolution, position, scale

# Optimized for retina-class 2x displays, like 13" 2.8K, 27" 5K, 32" 6K.
env = GDK_SCALE, 1.666666
monitor=, preferred, auto, 1.666666

monitor = eDP-1, preferred, auto, 1.666666

monitor = DP-1, preferred, auto-left, 2.0
