return {
	-- add any tools you want to have installed below
	{
		"williamboman/mason.nvim",
		opts = {
			ensure_installed = {
				"ansible-language-server",
				"arduino-language-server",
				"bash-language-server",
				"buf-language-server",
				"cmake-language-server",
				"cspell",
				"delve",
				"diagnostic-languageserver",
				"docker-compose-language-service",
				"dockerfile-language-server",
				"flake8",
				"hadolint",
				"lua-language-server",
				"nginx-language-server",
				"prettier",
				"protolint",
				"revive",
				"ruff-lsp",
				"shellharden",
				"staticcheck",
				"stylua",
				"taplo",
				"terraform-ls",
				"vim-language-server",
			},
			pip = {
				upgrade_pip = false,
				install_args = {
					"--no-warn-script-location",
					"--disable-pip-version-check",
					"--no-cache-dir",
					"--upgrade",
					"--use-pep517",
					"--force-reinstall",
					"--ignore-installed",
					{{- if (eq .chezmoi.os "linux") }}
					"--user",
					{{- end }}
				},
			},
			ui = {
				border = "single",
				width = 0.8,
				height = 0.8,
			},
		},
		config = function(_, opts)
			require("mason").setup(opts)
		end,
	},
}
