[colors]
cursor={{ .current.theme.cursor.text}} {{ .current.theme.cursor.cursor }}
foreground={{ .current.theme.primary.background }}
background={{ .current.theme.primary.background }}

regular0={{ .current.theme.normal.black }}
regular1={{ .current.theme.normal.red }}
regular2={{ .current.theme.normal.green }}
regular3={{ .current.theme.normal.yellow }}
regular4={{ .current.theme.normal.blue }}
regular5={{ .current.theme.normal.magenta }}
regular6={{ .current.theme.normal.cyan }}
regular7={{ .current.theme.normal.white }}

bright0={{ .current.theme.bright.black }}
bright1={{ .current.theme.bright.red }}
bright2={{ .current.theme.bright.green }}
bright3={{ .current.theme.bright.yellow }}
bright4={{ .current.theme.bright.blue }}
bright5={{ .current.theme.bright.magenta }}
bright6={{ .current.theme.bright.cyan }}
bright7={{ .current.theme.bright.white }}

16={{ .current.theme.indexed_colors.color16 }}
17={{ .current.theme.indexed_colors.color17}}

selection-foreground={{ .current.theme.selection.text }}
selection-background={{ .current.theme.selection.background }}

search-box-no-match={{ .current.theme.cursor.text}} {{ .current.theme.cursor.cursor }}
search-box-match={{ .current.theme.primary.bright_foreground }} {{ .current.theme.primary.background }}

jump-labels={{ .current.theme.cursor.text}} {{ .current.theme.indexed_colors.color16 }}
urls={{ .current.theme.urls }}
