log_level = "error"
outputs = { Targets = ["eDP-1"] }
position = "Bottom"

app_launcher_cmd = "walker"

[settings]
lock_cmd = "playerctl --all-players pause; hyprlock &"


[modules]
left = [[ "Workspaces" ], [ "WindowTitle" ]]
center = [ "MediaPlayer" ]
right = [[ "Tray" ], [ "SystemInfo" ], [ "Privacy" ], [ "Clock", "Settings" ]]

[workspaces]
visibility_mode = "All"
max_workspaces = 10

[window_title]
mode = "Title"
truncate_title_after_length = 50

[media_player]
max_title_length = 50

# Theme
[appearance]
font_name = "JetBrainsMono NFP"
scale_factor = 1.0
opacity = {{ .env.opacityInactive }}

style = "Islands"

success_color = {{ (print "#" .current.theme.green) | quote }}
text_color = {{ (print "#" .current.theme.text) | quote }}

workspace_colors = [ {{ (print "#" .current.theme.indexed_colors.color16) | quote }}, {{ (print "#" .current.theme.lavender) | quote }}, {{ (print "#" .current.theme.mauve) | quote }} ]

[appearance.menu]
opacity = 0.5
backdrop = 0.3

[appearance.primary_color]
base = {{ (print "#" .current.theme.peach) | quote }}
text = {{ (print "#" .current.theme.mantle) | quote }}

[appearance.danger_color]
base = {{ (print "#" .current.theme.red) | quote }}
weak = {{ (print "#" .current.theme.yellow) | quote }}

[appearance.background_color]
base = {{ (print "#" .current.theme.base) | quote }}
weak = {{ (print "#" .current.theme.surface0) | quote }}
strong = {{ (print "#" .current.theme.surface1) | quote }}

[appearance.secondary_color]
base = {{ (print "#" .current.theme.crust) | quote }}
strong = {{ (print "#" .current.theme.mantle) | quote }}
