{{- /*
	vim:ft=lua.gotexttmpl
*/ -}}

local wezterm = require("wezterm")
local act = wezterm.action
local M = {}

function M.setup(config)
	config.mouse_bindings = {
		{
			event = { Up = { streak = 1, button = "Left" } },
			mods = {{ if eq .chezmoi.os "darwin" }}"SUPER",{{ else }}{{ if eq .chezmoi.os "linux" }}"CTRL",{{ end }}{{ end }}
			action = wezterm.action.OpenLinkAtMouseCursor,
		},
		{
			event = { Down = { streak = 1, button = "Right" } },
			mods = "NONE",
			action = wezterm.action_callback(function(window, pane)
				local has_selection = window:get_selection_text_for_pane(pane) ~= ""
				if has_selection then
					window:perform_action(act.CopyTo("ClipboardAndPrimarySelection"), pane)
					window:perform_action(act.ClearSelection, pane)
				else
					window:perform_action(act({ PasteFrom = "Clipboard" }), pane)
				end
			end),
		},
	}
end

return M
