{{- /*
	vim:ft=lua.gotexttmpl
*/ -}}

-- WezTerm
-- vim:ft=lua

local wezterm = require("wezterm")
local act = wezterm.action

local detect = require("utils.detect")

local keys = require("keys")
local mouse = require("mouse")

wezterm.on("gui-startup", function(cmd)
	local screen = wezterm.gui.screens().active
	local ratio = 0.7
	local width, height = screen.width * ratio, screen.height * ratio
	local tab, pane, window = wezterm.mux.spawn_window({
		position = {
			x = (screen.width - width) / 2,
			y = (screen.height - height) / 2,
			origin = "ActiveScreen",
		},
	})
	-- window:gui_window():maximize()
	window:gui_window():set_inner_size(width, height)
end)

-- wezterm.gui.screens(), useful command to get screens information
wezterm.on("window-config-reloaded", function(window)
	if detect.linux() then 
		if wezterm.gui.screens().active.name == "LS28AG700N" then
			window:set_config_overrides({
				dpi = 144,
				font_size = 15,
				initial_cols = 100,
				initial_rows = 24,
			})
		end
		if wezterm.gui.screens().active.name == "eDP-1" then
			window:set_config_overrides({
				dpi = 192,
				font_size = 16,
				initial_cols = 100,
				initial_rows = 24,
			})
		end
	end
end)

local config = wezterm.config_builder()

-- Schemas
local scheme_current = wezterm.color.get_builtin_schemes()[{{ (print (.theme.themeName | title) " " (.theme.themeVariant | title)) | quote }}]
{{ if .theme.themeBlackout }}
-- Override Schema Background
scheme_current.background = "#000000"
scheme_current.tab_bar.background = "#040404"
scheme_current.tab_bar.inactive_tab.bg_color = "#0f0f0f"
scheme_current.tab_bar.new_tab.bg_color = "#080808"
{{ end }}

config = {
	default_prog = { '{{ .terminal.shellPath }}', '--login' },
	window_close_confirmation = "NeverPrompt",
	exit_behavior = "Close",
	audible_bell = "Disabled",
	show_new_tab_button_in_tab_bar = false,
	hide_tab_bar_if_only_one_tab = true,
	use_fancy_tab_bar = false,
	tab_bar_at_bottom = false,
	tab_max_width = 40,

	window_decorations = detect.decorations(),
	window_padding = {
		left = "1cell",
		right = "1cell",
		top = "0.5cell",
		bottom = "0.5cell",
	},
	window_frame = {
		font = wezterm.font({
			family = {{ .terminal.font | quote }},
		}),
		font_size = {{ .terminal.fontSize }}
		-- active_titlebar_bg = "#000000",
		-- inactive_titlebar_bg = "#000000",
	},
	window_background_opacity = {{ .terminal.opacity }},
	macos_window_background_blur = {{ .terminal.blur }},
	enable_scroll_bar = false,
	text_blink_rate = 0,
	adjust_window_size_when_changing_font_size = false,
	{{- if eq .chezmoi.os "darwin" }}
	native_macos_fullscreen_mode = true,
	quit_when_all_windows_are_closed = true,
	{{ end -}}
	{{- if eq .chezmoi.os "linux" }}
	enable_wayland = detect.wayland(),
	{{ end }}
	initial_cols = {{ .terminal.cols }},
	initial_rows = {{ .terminal.rows }},
	inactive_pane_hsb = {
		saturation = 0.3,
		brightness = 0.3,
	},
	font = wezterm.font({{ .terminal.font | quote }}),
	font_size = {{ if or (.tags.zephyrus.enabled) (.tags.thinkpad.enabled) }}{{ 4 | sub .terminal.fontSize }}{{ else }}{{ .terminal.fontSize }}{{ end }},
	max_fps = 120,
	line_height = 1.1,
	-- Cursor style
	default_cursor_style = "BlinkingBlock",
	check_for_updates = true,
	-- check_for_updates_interval_seconds = 86400,
	disable_default_key_bindings = true,
	pane_focus_follows_mouse = false,
	send_composed_key_when_left_alt_is_pressed = true,
	send_composed_key_when_right_alt_is_pressed = false,
	key_map_preference = "Physical",
}

keys.setup(config)
mouse.setup(config)

config.color_schemes = {
	["scheme_current"] = scheme_current,
}
config.color_scheme = "scheme_current"

return config
