# vim:ft=config.gotexttmpl

# Feed settings
auto-reload yes
reload-time 120
reload-threads 8
prepopulate-query-feeds yes
download-full-page yes
display-article-progress yes
keep-articles-days 30
scrolloff 5
text-width 72

# Bindings
unbind-key SPACE

unbind-key o
unbind-key p
unbind-key b
unbind-key d
unbind-key m
unbind-key ESC
unbind-key LEFT
unbind-key DOWN
unbind-key UP
unbind-key RIGHT
unbind-key g
unbind-key G
unbind-key d
unbind-key u
unbind-key c
unbind-key h
unbind-key j
unbind-key k
unbind-key l
unbind-key H
unbind-key L
unbind-key y

bind-key SPACE macro-prefix

bind-key ESC quit
bind-key LEFT quit
bind-key DOWN down
bind-key UP up
bind-key RIGHT open
bind-key h quit
bind-key j down
bind-key k up
bind-key l open

bind-key H prev-feed
bind-key L next-feed
bind-key HOME home
bind-key g home
bind-key END end
bind-key G end
bind-key NPAGE pagedown
bind-key ^f pagedown
bind-key d pagedown
bind-key PPAGE pageup
bind-key ^b pageup
bind-key u pageup
bind-key a toggle-article-read
bind-key c toggle-show-read-feeds

# Browsers
browser "$BROWSER %u"
macro o set browser "nohup $BROWSER %u & disown -a"; open-in-browser-noninteractively; toggle-article-read "read"
macro p set browser "nohup $MEDIAPLAYER %u & disown -a"; open-in-browser-noninteractively; toggle-article-read "read"; set browser "$BROWSER %u"
macro b set browser "nohup yd-boat.sh -b %u & disown -a"; open-in-browser-noninteractively; toggle-article-read "read"; set browser "$BROWSER %u"
macro d set browser "nohup yd-boat.sh -d %u & disown -a"; open-in-browser-noninteractively; toggle-article-read "read"; set browser "$BROWSER %u"
macro m set browser "nohup yd-boat.sh -m %u & disown -a"; open-in-browser-noninteractively; toggle-article-read "read"; set browser "$BROWSER %u"
macro l set browser "nohup ar-boat.sh -l %u & disown -a"; open-in-browser-noninteractively; toggle-article-read "read"; set browser "$BROWSER %u"
macro r set browser "nohup ar-boat.sh -r %u & disown -a"; open-in-browser-noninteractively; toggle-article-read "read"; set browser "$BROWSER %u"
macro w set browser "nohup ar-boat.sh -w %u & disown -a"; open-in-browser-noninteractively; toggle-article-read "read"; set browser "$BROWSER %u"
macro c set browser "nohup echo %u | {{ if eq .chezmoi.os "darwin" }}pbcopy{{ else if eq .chezmoi.os "linux" }}wl-copy{{ end }} & disown -a"; open-in-browser-noninteractively; toggle-article-read "read"; set browser "$BROWSER %u"

# Rules of Engagement
ignore-mode "display"
ignore-article "*" "tags !# \"youtube\" and (title # \"(lgbtq|LGBTQ|lgbt|LGBT|transgender|gay)\")"

# Colours
color background default default
color listnormal default default
color listfocus_unread black red standout bold
color listfocus black red standout bold
color listnormal_unread blue default
color article default default
color info blue default dim
color hint-keys-delimiter yellow default dim
color hint-separator red default dim

highlight all "--.*---" default

highlight feedlist ".*(0/0))" black

highlight article "(^Feed:.*|^Title:.*|^Author:.*)" cyan default bold
highlight article "(^Link:.*|^Date:.*)" default default
highlight article "https?://[^ ]+" green default

highlight article "^(Title):.*$" blue default
highlight article "\\[[0-9][0-9]*\\]" magenta default bold
highlight article "\\[image\\ [0-9]+\\]" green default bold
highlight article "\\[embedded flash: [0-9][0-9]*\\]" green default bold
highlight article ":.*\\(link\\)$" cyan default
highlight article ":.*\\(image\\)$" blue default
highlight article ":.*\\(embedded flash\\)$" magenta default
