{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

# Integration with systemd
systemctl -q --no-block --user start labwc-session.target

# Slow app launch fix -- set systemd vars
systemctl --user import-environment $(env | cut -d'=' -f 1) >/dev/null 2>&1 &
systemctl --user import-environment WAYLAND_DISPLAY XDG_CURRENT_DESKTOP >/dev/null 2>&1 &
dbus-update-activation-environment --systemd --all >/dev/null 2>&1 &
dbus-daemon --session --address=unix:path=$XDG_RUNTIME_DIR/bus >/dev/null 2>&1 &

# Let KWallet to use your login credentials automatically
/usr/lib/pam_kwallet_init >/dev/null 2>&1 &

# Disk automount
# udiskie -t >/dev/null 2>&1 &

# Auth agent
systemctl --user start plasma-polkit-agent.service >/dev/null 2>&1 &

# Display manager
kanshi >/dev/null 2>&1 &

{{ if .tags.laptop.enabled -}}
# Audio effects
easyeffects --hide-window >/dev/null 2>&1 &
{{ end }}

{{ if .tags.syncTools.enabled -}}
# LocalSend
localsend --hidden >/dev/null 2>&1 &

# Syncthing Tray
syncthingtray-qt6 >/dev/null 2>&1 &
{{ end }}

{{ if .tags.zephyrus.enabled -}}
# ROG Control Center
rog-control-center --background >/dev/null 2>&1 &
{{ end }}

# System shell
noctalia >/dev/null 2>&1 &

# Mute mic
noctalia msg mic-mute >/dev/null 2>&1 &
