[general]

mode = overview

follow_monitor = false

[theme]
name = current.ini
border_width = 2
corner_radius = 0

[layout]
card_width = 160
card_height = 140

card_gap = 10
padding = 20

max_cols = 5

icon_size = 56
icon_radius = 12

[icons]
theme = Tela-dracula
fallback = Tela-circle-dracula
show_letter_fallback = true

[font]
family = Sans
weight = Bold
title_size = 10
icon_letter_size = 24
