{{- /*
vim:ft=toml.gotexttmpl
*/ -}}

# Syntax highlighting
# -------------------
"attribute" = "yellow"

"type" = "yellow"
"type.enum.variant" = "teal"

"constructor" = "sapphire"

"constant" = "peach"
"constant.character" = "teal"
"constant.character.escape" = "pink"

"string" = "green"
"string.regexp" = "pink"
"string.special" = "blue"
"string.special.symbol" = "red"

"comment" = { fg = "overlay2", modifiers = ["italic"] }

"variable" = "text"
"variable.parameter" = { fg = "maroon", modifiers = ["italic"] }
"variable.builtin" = "red"
"variable.other.member" = "blue"

"label" = "sapphire" # used for lifetimes

"punctuation" = "overlay2"
"punctuation.special" = "sky"

"keyword" = "mauve"
"keyword.control.conditional" = { fg = "mauve", modifiers = ["italic"] }

"operator" = "sky"

"function" = "blue"
"function.macro" = "mauve"

"tag" = "blue"

"namespace" = { fg = "yellow", modifiers = ["italic"] }

"special" = "blue" # fuzzy highlight

"markup.heading.1" = "red"
"markup.heading.2" = "peach"
"markup.heading.3" = "yellow"
"markup.heading.4" = "green"
"markup.heading.5" = "sapphire"
"markup.heading.6" = "lavender"
"markup.list" = "teal"
"markup.list.unchecked" = "overlay2"
"markup.list.checked" = "green"
"markup.bold" = { fg = "red", modifiers = ["bold"] }
"markup.italic" = { fg = "red", modifiers = ["italic"] }
"markup.link.url" = { fg = "blue", modifiers = ["italic", "underlined"] }
"markup.link.text" = "lavender"
"markup.link.label" = "sapphire"
"markup.raw" = "green"
"markup.quote" = "pink"

"diff.plus" = "green"
"diff.minus" = "red"
"diff.delta" = "blue"

# User Interface
# --------------
"ui.background" = { fg = "text", bg = "base" }

"ui.linenr" = { fg = "surface1" }
"ui.linenr.selected" = { fg = "lavender" }

"ui.statusline" = { fg = "subtext1", bg = "mantle" }
"ui.statusline.inactive" = { fg = "surface2", bg = "mantle" }
"ui.statusline.normal" = { fg = "base", bg = "rosewater", modifiers = ["bold"] }
"ui.statusline.insert" = { fg = "base", bg = "green", modifiers = ["bold"] }
"ui.statusline.select" = { fg = "base", bg = "lavender", modifiers = ["bold"] }

"ui.popup" = { fg = "text", bg = "surface0" }
"ui.window" = { fg = "crust" }
"ui.help" = { fg = "overlay2", bg = "surface0" }

"ui.bufferline" = { fg = "subtext0", bg = "mantle" }
"ui.bufferline.active" = { fg = "mauve", bg = "base", underline = { color = "mauve", style = "line" } }
"ui.bufferline.background" = { bg = "crust" }

"ui.text" = "text"
"ui.text.focus" = { fg = "text", bg = "surface0", modifiers = ["bold"] }
"ui.text.inactive" = { fg = "overlay1" }
"ui.text.directory" = { fg = "blue" }

"ui.virtual" = "overlay0"
"ui.virtual.ruler" = { bg = "surface0" }
"ui.virtual.indent-guide" = "surface0"
"ui.virtual.inlay-hint" = { fg = "surface1", bg = "mantle" }
"ui.virtual.jump-label" = { fg = "rosewater", modifiers = ["bold"] }

"ui.selection" = { bg = "surface1" }

"ui.cursor" = { fg = "base", bg = "secondary_cursor" }
"ui.cursor.primary" = { fg = "base", bg = "rosewater" }
"ui.cursor.match" = { fg = "peach", modifiers = ["bold"] }

"ui.cursor.primary.normal" = { fg = "base", bg = "rosewater" }
"ui.cursor.primary.insert" = { fg = "base", bg = "green" }
"ui.cursor.primary.select" = { fg = "base", bg = "lavender" }

"ui.cursor.normal" = { fg = "base", bg = "secondary_cursor_normal" }
"ui.cursor.insert" = { fg = "base", bg = "secondary_cursor_insert" }
"ui.cursor.select" = { fg = "base", bg = "secondary_cursor_select" }

"ui.cursorline.primary" = { bg = "cursorline" }

"ui.highlight" = { bg = "surface1", modifiers = ["bold"] }

"ui.menu" = { fg = "overlay2", bg = "surface0" }
"ui.menu.selected" = { fg = "text", bg = "surface1", modifiers = ["bold"] }

"diagnostic.error" = { underline = { color = "red", style = "curl" } }
"diagnostic.warning" = { underline = { color = "yellow", style = "curl" } }
"diagnostic.info" = { underline = { color = "sky", style = "curl" } }
"diagnostic.hint" = { underline = { color = "teal", style = "curl" } }
"diagnostic.unnecessary" = { modifiers = ["dim"] }

error = "red"
warning = "yellow"
info = "sky"
hint = "teal"

rainbow = ["red", "peach", "yellow", "green", "sapphire", "lavender"]

[palette]
rosewater = {{ (print "#" .colours.normal.rosewater) | quote }}
flamingo = {{ (print "#" .colours.normal.flamingo) | quote }}
pink = {{ (print "#" .colours.normal.pink) | quote }}
mauve = {{ (print "#" .colours.normal.mauve) | quote }}
red = {{ (print "#" .colours.normal.red) | quote }}
maroon = {{ (print "#" .colours.normal.maroon) | quote }}
peach = {{ (print "#" .colours.normal.peach) | quote }}
yellow = {{ (print "#" .colours.normal.yellow) | quote }}
green = {{ (print "#" .colours.normal.green) | quote }}
teal = {{ (print "#" .colours.normal.teal) | quote }}
sky = {{ (print "#" .colours.normal.sky) | quote }}
sapphire = {{ (print "#" .colours.normal.sapphire) | quote }}
blue = {{ (print "#" .colours.normal.blue) | quote }}
lavender = {{ (print "#" .colours.normal.lavender) | quote }}
text = {{ (print "#" .colours.normal.foreground) | quote }}
subtext1 = {{ (print "#" .colours.normal.subtext1) | quote }}
subtext0 = {{ (print "#" .colours.normal.subtext0) | quote }}
overlay2 = {{ (print "#" .colours.normal.overlay2) | quote }}
overlay1 = {{ (print "#" .colours.normal.overlay1) | quote }}
overlay0 = {{ (print "#" .colours.normal.overlay0) | quote }}
surface2 = {{ (print "#" .colours.normal.surface2) | quote }}
surface1 = {{ (print "#" .colours.normal.surface1) | quote }}
surface0 = {{ (print "#" .colours.normal.surface0) | quote }}
base = {{ if .theme.blackout }}"#000000"{{ else }}{{ (print "#" .colours.normal.base) | quote }}{{ end }}
mantle = {{ (print "#" .colours.normal.mantle) | quote }}
crust = {{ (print "#" .colours.normal.crust) | quote }}

cursorline = {{ (print "#" .colours.cursor.line) | quote }}
secondary_cursor = {{ (print "#" .colours.cursor.secondary.cursor) | quote }}
secondary_cursor_select = {{ (print "#" .colours.cursor.secondary.select) | quote }}
secondary_cursor_normal = {{ (print "#" .colours.cursor.secondary.normal) | quote }}
secondary_cursor_insert = {{ (print "#" .colours.cursor.secondary.insert) | quote }}
