{{- /*
	vim:ft=toml.gotexttmpl
*/ -}}

max-history=50
sort=+time
history=1
default-timeout=5000

#font=JetBrainsMono NFP 12

# Theme
background-color={{ if $.theme.blackout }}#000000{{ else }}{{ print "#" .colours.normal.base }}{{ end }}
text-color={{ print "#" .colours.normal.text }}
border-color={{ print "#" .colours.normal.mauve }}
progress-color=over {{ print "#" .colours.normal.surface0 }}
icons=1
icon-path=/usr/share/icons/breeze-dark

[urgency=high]
border-color={{ print "#" .colours.normal.red }}
