{{- /*
	vim:ft=conf.gotexttmpl
*/ -}}

palette = 0={{ (print "#" .colours.normal.black) | quote }}
palette = 1={{ (print "#" .colours.normal.red) | quote }}
palette = 2={{ (print "#" .colours.normal.green) | quote }}
palette = 3={{ (print "#" .colours.normal.yellow) | quote }}
palette = 4={{ (print "#" .colours.normal.blue) | quote }}
palette = 5={{ (print "#" .colours.normal.magenta) | quote }}
palette = 6={{ (print "#" .colours.normal.cyan) | quote }}
palette = 7={{ (print "#" .colours.bright.white) | quote }}
palette = 8={{ (print "#" .colours.bright.black) | quote }}
palette = 9={{ (print "#" .colours.bright.red) | quote }}
palette = 10={{ (print "#" .colours.bright.green) | quote }}
palette = 11={{ (print "#" .colours.bright.yellow) | quote }}
palette = 12={{ (print "#" .colours.bright.blue) | quote }}
palette = 13={{ (print "#" .colours.bright.magenta) | quote }}
palette = 14={{ (print "#" .colours.bright.cyan) | quote }}
palette = 15={{ (print "#" .colours.normal.white) | quote }}
background = {{ if .theme.blackout }}"#000000"{{ else }}{{ (print "#" .colours.normal.background) | quote }}{{ end }}
foreground = {{ (print "#" .colours.normal.foreground) | quote }}
cursor-color = {{ (print "#" .colours.cursor.cursor) | quote }}
cursor-text = {{ (print "#" .colours.cursor.text) | quote }}
selection-background = {{ (print "#" .colours.selection.background) | quote }}
selection-foreground = {{ (print "#" .colours.selection.text) | quote }}
split-divider-color = {{ (print "#" .colours.normal.blue) | quote }}
