/* SwayNC config	*/
@define-color rosewater {{ print "#" .colours.normal.rosewater }};
@define-color flamingo {{ print "#" .colours.normal.flamingo }};
@define-color pink {{ print "#" .colours.normal.pink }};
@define-color mauve {{ print "#" .colours.normal.mauve }};
@define-color red {{ print "#" .colours.normal.red }};
@define-color maroon {{ print "#" .colours.normal.maroon }};
@define-color peach {{ print "#" .colours.normal.peach }};
@define-color yellow {{ print "#" .colours.normal.yellow }};
@define-color green {{ print "#" .colours.normal.green }};
@define-color teal {{ print "#" .colours.normal.teal }};
@define-color sky {{ print "#" .colours.normal.sky }};
@define-color sapphire {{ print "#" .colours.normal.sapphire }};
@define-color blue {{ print "#" .colours.normal.blue }};
@define-color lavender {{ print "#" .colours.normal.lavender }};
@define-color text {{ print "#" .colours.normal.foreground }};
@define-color subtext1 {{ print "#" .colours.normal.subtext1 }};
@define-color subtext0 {{ print "#" .colours.normal.subtext0 }};
@define-color overlay2 {{ print "#" .colours.normal.overlay2 }};
@define-color overlay1 {{ print "#" .colours.normal.overlay1 }};
@define-color overlay0 {{ print "#" .colours.normal.overlay0 }};
@define-color surface2 {{ print "#" .colours.normal.surface2 }};
@define-color surface1 {{ print "#" .colours.normal.surface1 }};
@define-color surface0 {{ print "#" .colours.normal.surface0 }};
@define-color base {{ if .theme.blackout }}#000000{{ else }}{{ print "#" .colours.normal.base }}{{ end }};
@define-color mantle {{ print "#" .colours.normal.mantle }};
@define-color crust {{ print "#" .colours.normal.crust }};
@define-color black {{ if .theme.blackout }}#000000{{ else }}{{ print "#" .colours.normal.black }}{{ end }};
@define-color white {{ print "#" .colours.normal.white }};


* {
	font-size: 1rem;
	font-family: "Iosevka Nerd Font Propo";
	font-weight: bold;
	border-radius: 0px;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
	opacity: 1;
	background: @black;
}

.notification-row {
	outline: none;
}

.notification {
	/*color: #cdd6f4;*/
	background: #0e0e16;
	padding: 7px 7px 7px 0px;
	border: 1px solid #0e0e16;
}

.notification-group {
	background-color: transparent;
	/* border: 1px solid #cdd6f499; */
}
.image {
	margin-right: 12px;
	margin-left: 15px;
	padding: 0;
}

.close-button {
	background: #f7768e;
	color: #0e0e16;
	text-shadow: none;
	padding: 0;
	margin-top: 5px;
	margin-right: 5px;
}

.close-button:hover {
	box-shadow: none;
	background: #f7768e;
	transition: all 0.15s ease-in-out;
	border: none;
}

.notification-action {
	border-top: none;
	background: #0e0e16;
	color: #89dceb;
	padding: 0px; /* Reduce container padding */
	min-height: 0px; /* Remove GTK min height */
	min-width: 0px; /* Remove GTK min width */
}

.notification-action label {
	font-size: 0.8rem;
	padding: 0px;
	margin: 0;
	font-family: monospace;
	color: #89dceb;
}

.notification-default-action {
	font-size: 0.1rem;
	margin: 0;
	padding: 0;
	background: #0e0e16;
}
.notification-default-action:hover,
.notification-action:hover {
	color: #cdd6f4;
	background: #0e0e16;
}

.notification-default-action:not(:only-child) {
}

.notification-action:first-child {
	background: #0e0e16;
}

.notification-action:last-child {
	background: #0e0e16;
}

.inline-reply {
	margin-top: 8px;
}

.inline-reply-entry {
	background: #0e0e16;
	color: #cdd6f4;
	caret-color: #cdd6f4;
	border: 1px solid #0e0e16;
}

.inline-reply-button {
	font-size: 0.5rem;
	margin-left: 4px;
	background: #0e0e16;
	border: 1px solid #0e0e16;
	color: #cdd6f4;
}

.inline-reply-button:disabled {
	background: initial;
	color: #cdd6f4;
	border: 1px solid transparent;
}

.inline-reply-button:hover {
	background: #0e0e16;
}

.body-image {
	margin-top: 6px;
	color: #cdd6f4;
}

.summary {
	font-size: 0.9rem;
	/* font-weight: bold; */
	background: transparent;
	color: #cdd6f4;
	text-shadow: none;
}

.time {
	font-size: 0.8rem;
	/* font-weight: bold; */
	background: transparent;
	color: #cdd6f4;
	text-shadow: none;
	margin-right: 18px;
}

.body {
	font-size: 0.9rem;
	/* font-weight: bold; */
	background: transparent;
	color: #cdd6f4;
	text-shadow: none;
}

.control-center {
	background: #0e0e16;
	border: 1px solid #0e0e16;
	color: #cdd6f4;
}

.control-center-list {
	background: transparent;
}

.control-center-list-placeholder {
	opacity: 0.5;
}

.floating-notifications {
	background: transparent;
}

.blank-window {
	background: alpha(black, 0.1);
}

.widget-title {
	font-size: 1rem;
	color: #cdd6f4;
	background: #0e0e16;
	padding: 3px 6px;
	margin: 5px;
}

.widget-title > button {
	font-size: 0.75rem;
	color: #cdd6f4;
	background: transparent;
	border: 0.5px solid #0e0e16;
}

/* clear button */
.widget-title > button:hover {
	background: #cdd6f4;
	color: #d20f39;
}

.widget-dnd {
	font-size: 0.5rem;
	background: #0e0e16;
	padding: 3px 6px;
	margin: 5px;
	color: #0e0e16;
}

.widget-dnd > switch {
	/* border: 1px solid #00ffff; */
	background: #cdd6f4;
}

.widget-dnd > switch:checked {
	background: #f7768e;
}

.widget-dnd > switch slider {
	background: #0e0e16;
}

.widget-dnd > switch:checked slider {
	background: #0e0e16;
}

.widget-label {
	margin: 5px;
}

.widget-label > label {
	font-size: 1rem;
	color: #cdd6f4;
}

.widget-mpris {
	color: #cdd6f4;
	background: #0e0e16;
	padding: 3px 6px;
	margin: 5px;
}

.widget-mpris > box > button {
}

.widget-mpris-player {
	margin: 5px;
}

.widget-mpris-title {
	font-size: 1rem;
	font-weight: 400;
}

.widget-mpris-subtitle {
	font-size: 0.75rem;
}

.widget-buttons-grid {
	font-size: large;
	color: #0e0e16;
	padding: 2px;
	margin: 5px;
	background: #0e0e16;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
	margin: 1px;
	background: #0e0e16;
	color: #cdd6f4;
}

/* individual buttons */
.widget-buttons-grid > flowbox > flowboxchild > button:hover {
	background: #cdd6f4;
	color: #0e0e16;
}

.widget-menubar > box > .menu-button-bar > button {
	border: none;
	background: transparent;
}

.topbar-buttons > button {
	border: none;
	background: transparent;
}

.notification.low progress,
.notification.normal progress {
	background-color: #00ffff;
}
