{{- /*
vim:ft=toml.gotexttmpl
*/ -}}

hide-cursor-when-typing = false

# ignore-selection-foreground-color = false

theme = 'current'

# padding-x = 10
# padding-y = [30, 10]

option-as-alt = 'right'

# line-height = 1.2

# working_directory = {{ (joinPath .chezmoi.homeDir "Downloads") | quote }}

# env-vars = []

# use-fork = false

confirm-before-quit = false

draw-bold-text-with-light-colors = {{ .env.fontBoldBright }}

[cursor]
shape = 'block'
blinking = true
blinking-interval = 800

[bell]
visual = false
audio = false

[editor]
{{ if lookPath "nvim" }}
program = "nvim"
{{ else if lookPath "vim" }}
program = "vim"
{{ else }}
program = "vi"
{{ end }}
# args = []

[window]
width = 800
height = 600
mode = "windowed"
opacity = {{ .env.opacity }}
{{ if lt (.env.opacity | float64) 1.0 }}
blur = true
{{ else }}
blur = false
{{ end }}
decorations = "transparent"
macos-use-unified-titlebar = false
macos-use-shadow = true
# colorspace = "display-p3"

[renderer]
{{- if eq .chezmoi.os "linux" }}
performance = "low"
{{ else if eq .chezmoi.os "darwin" }}
performance = "high"
{{- end }}
backend = "automatic"
disable-unfocused-render = false
disable-occluded-render = true
# level = 1
# filters = []

# [keyboard]
# use-kitty-keyboard-protocol = false
# disable-ctlseqs-alt = false
# ime-cursor-positioning = true

[fonts]
use-drawable-chars = true
# family = "{{ .env.font }}" # disabled for now due Rio issues with fonts in macOS
# extras = [{ family = "Microsoft JhengHei" }]
# features = ["ss02", "ss03", "ss05", "ss19"]
# hinting = false
# symbol-map = [
#   { start = "2297", end = "2299", font-family = "Cascadia Code NF" }
# ]
size = {{ if or (.tags.zephyrus.enabled) (.tags.thinkpad.enabled) }}{{ if ge (4 | sub .env.fontSize) 10 }}{{ 4 | sub .env.fontSize }}{{ else }}{{ .env.fontSize }}{{ end }}{{ else }}{{ .env.fontSize }}{{ end }}

# [fonts.regular]
# family = "{{ .env.font }}"
# style = "{{ .env.fontNormal }}"
# weight = 400

# [fonts.bold]
# family = "{{ .env.font }}"
# style = "{{ .env.fontBold }}"
# weight = 800

# [fonts.italic]
# family = "{{ .env.font }}"
# style = "{{ .env.fontItalic }}"
# weight = 400

# [fonts.bold-italic]
# family = "{{ .env.font }}"
# style = "{{ .env.fontBoldItalic }}"
# weight = 800

# [scroll]
# multiplier = 3.0
# divider = 1.0

[navigation]
{{- if eq .chezmoi.os "linux" }}
mode = "Bookmark"
{{ else if eq .chezmoi.os "darwin" }}
mode = "Bookmark"
# mode = "NativeTab" # disabled for now due Rio issues
{{- end }}
clickable = true
hide-if-single = true
use-current-path = true
# color-automation = []
use-split = false
navigation.unfocused-split-opacity = {{ if ge (0.2 | sub (float64 .env.opacity)) 0.1 }}{{ 0.2 | sub (float64 .env.opacity) }}{{ else }}{{ .env.opacity }}{{ end }}

[shell]
program = "{{ .env.shellPath }}"
args = ["--login"]

# [bindings]
# keys = [
#   { key = "q", with = "super", action = "Quit" },
#   # Send escape sequence to clear screen
#   { key = "l", with = "control", esc = "\u001b[2J\u001b[H" }
# ]

# [platform]
# linux.shell.program = "tmux"
# linux.shell.args = ["new-session", "-c", "/var/www"]

[developer]
log-level = "OFF"
enable-log-file = false
