{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

{{ template "path.tmpl" . }}

{{ if .tags.ads }}
	{{ if lookPath "hblock" }}
		echo "hblock. Generate and update hosts file.\nPlease enter admin password"
		hblock --color auto
	{{ end }}
{{ end }}
