{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

{{ template "path.tmpl" . }}

{{ if lookPath "zsh" }}
	echo "ZSH Antigen. Install or update plugins"
	/usr/bin/env zsh -c "source {{ (joinPath .chezmoi.homeDir ".zshrc") }} && antigen apply && antigen update"
{{ end }}
