{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

{{ template "path.tmpl" . }}

echo "Darwin. Update brew packages"
export HOMEBREW_CASK_OPTS="--appdir={{ (joinPath .chezmoi.homeDir "Applications") }} --no-quarantine"
brew analytics off || exit 0
(brew update && brew upgrade --overwrite && brew upgrade --cask) || (echo "Brew Update and Upgrade Procedure Failed" && exit 1)
brew unlink --quiet gettext; brew link --overwrite --force gettext
(brew unlink --quiet python; brew link --overwrite --force python) || (echo "Brew Python Link Procedure Failed" && exit 1)
(brew unlink --quiet python-setuptools; brew link --overwrite --force python-setuptools) || (echo "Brew Python Setup Tools Link Procedure Failed" && exit 1)
(brew cleanup --quiet --prune=120 && brew autoremove) || (echo "Brew Cleanup Procedure Fasiled" && exit 1)
