{{- /*
vim:ft=toml.gotexttmpl
*/ -}}

# Basic Configuration
startup_commands = ["sync", "focus articles"]
sync_every_minutes = 30

# Content
auto_scrape = true
text_max_width = 120

# Share Targets
share_targets = [
	"clipboard",
]
