{{- /*
vim:ft=dosini.gotexttmpl
*/ -}}

# TODO: sync keys with wezterm, tmux. Impossible for now. No intergration with NeoVim

#custom-shader = shaders/glitchy.glsl

theme = current

font-family = {{ .env.font | quote }}
font-size = {{ if or (.tags.zephyrus.enabled) (.tags.thinkpad.enabled) }}{{ if ge (4 | sub .env.fontSize) 10 }}{{ 4 | sub .env.fontSize }}{{ else }}{{ .env.fontSize }}{{ end }}{{ else }}{{ .env.fontSize }}{{ end }}
font-thicken = true

cursor-style = block
cursor-style-blink = true
mouse-hide-while-typing = true
mouse-reporting = true
scroll-to-bottom = keystroke, no-output
cursor-click-to-move = true

background-opacity = {{ .env.opacity }}
background-opacity-cells = true
{{ if lt (.env.opacity | float64) 1.0 -}}
{{ if eq .chezmoi.os "darwin" -}}
background-blur = macos-glass-regular
{{ else }}
background-blur = true
{{ end -}}
background-blur-radius = {{ .env.blur }}
{{ else }}
background-blur = false
{{ end -}}

window-decoration = auto
window-theme = auto

window-new-tab-position = current
window-show-tab-bar = auto

clipboard-trim-trailing-spaces = true
clipboard-paste-protection =  true
copy-on-select = true
right-click-action = context-menu

quick-terminal-position = top

{{ if eq .chezmoi.os "darwin" -}}
macos-option-as-alt = right

macos-window-buttons = visible
macos-titlebar-style = tabs
macos-titlebar-proxy-icon = visible
macos-dock-drop-behavior = new-tab
macos-window-shadow = true
macos-hidden = never
macos-auto-secure-input = true
macos-secure-input-indication = true
macos-non-native-fullscreen = false
macos-icon = glass
{{ else -}}
linux-cgroup = single-instance

gtk-titlebar = false
gtk-tabs-location = top
gtk-titlebar-hide-when-maximized = false
gtk-toolbar-style = flat
gtk-titlebar-style = tabs
gtk-wide-tabs = true
{{ end -}}

maximize = false
fullscreen = false

copy-on-select = true
clipboard-paste-protection = true

right-click-action = context-menu

scrollbar = never

notify-on-command-finish = always
notify-on-command-finish-action = no-bell, notify
notify-on-command-finish-after = 1m

confirm-close-surface = false

working-directory = home
window-inherit-working-directory = true
tab-inherit-working-directory = true
split-inherit-working-directory = true

window-height = {{ if .tags.thinkpad.enabled }}{{ if ge (20 | sub .env.rows) 10 }}{{ 20 | sub .env.rows }}{{ else }}{{ .env.rows }}{{ end }}{{ else }}{{ .env.rows }}{{ end }}
window-width = {{ if .tags.thinkpad.enabled }}{{ if ge (5 | sub .env.cols) 10 }}{{ 5 | sub .env.cols }}{{ else }}{{ .env.cols }}{{ end }}{{ else }}{{ .env.cols }}{{ end }}

window-save-state = always
window-step-resize = true

window-padding-x = 5
window-padding-y = 5
window-padding-balance = true

window-new-tab-position = current
window-show-tab-bar = auto

auto-update = off

shell-integration = detect
shell-integration-features = cursor, sudo, title, ssh-env, ssh-terminfo, path

quit-after-last-window-closed = true

command = {{ .env.shellPath }} --login

keybind = global:super+option+`=toggle_quick_terminal

# Only required if not using tmux
keybind = shift+option+\=new_split:right
keybind = shift+option+-=new_split:down

keybind = option+up=goto_split:up
keybind = option+down=goto_split:down
keybind = option+left=goto_split:left
keybind = option+right=goto_split:right

keybind = shift+option+up=resize_split:up,10
keybind = shift+option+down=resize_split:down,10
keybind = shift+option+left=resize_split:left,10
keybind = shift+option+right=resize_split:right,10

keybind = shift+option+z=toggle_split_zoom
