{{ template "path.tmpl" . }}

{{ if and (stat (joinPath .chezmoi.sourceDir ".packagefiles/go.packages")) (gt (stat (joinPath .chezmoi.sourceDir ".packagefiles/go.packages")).size 0) }}
	# go.packages hash: {{ include ".packagefiles/go.packages" | sha256sum }}

	if command -v go >/dev/null; then
			echo "Go. Install or update tools and libs"
			export GOPATH=$HOME/.local/golang-packages
			export GOBIN=$HOME/.local/bin
			while IFS= read -r line; do
				go install "$line"
			done <{{ joinPath .chezmoi.sourceDir ".packagefiles/go.packages" | quote }}
	fi
{{ end }}
