{{- /*
vim:ft=bash.gotexttmpl
*/ -}}
# https://us.download.nvidia.com/XFree86/Linux-x86_64/535.104.05/README/dynamicpowermanagement.html
# https://victorbayas.com/posts/turn-off-nvidia-udev
# https://github.com/bayasdev/nvidia-gpu-off

# Cleanup Nvidia
{{ if eq .chezmoi.os "linux" }}
	{{ if and (eq .tags.zephyrus.enabled false) (eq .tags.nvidia.enabled false) }}
		sudo rm -f /etc/modprobe.d/nvidia.conf
		sudo rm -f /etc/udev/rules.d/50-disable-nvidia.rules
	{{ end }}

# Disable Nvidia GPU, Audio, USB-C. Without disabled Nvidia USB-C, Thunderbolt is not working properly with Hubs.
	{{ if and (eq .tags.zephyrus.enabled true) (eq .tags.nvidia.enabled false) }}
sudo sh -c 'cat > /etc/modprobe.d/nvidia.conf' << EOF
blacklist i2c_nvidia_gpu
blacklist nouveau
blacklist nvidia
blacklist nvidia-uvm
blacklist nvidia_uvm
blacklist nvidia-drm
blacklist nvidia_drm
blacklist nvidia-modeset
blacklist nvidia_modeset
EOF

sudo sh -c 'cat > /etc/udev/rules.d/50-disable-nvidia.rules' << EOF
# Remove NVIDIA USB xHCI Host Controller devices, if present
ACTION=="add", SUBSYSTEM=="pci", ATTR{vendor}=="0x10de", ATTR{class}=="0x0c0330", ATTR{remove}="1"

# Remove NVIDIA USB Type-C UCSI devices, if present
ACTION=="add", SUBSYSTEM=="pci", ATTR{vendor}=="0x10de", ATTR{class}=="0x0c8000", ATTR{remove}="1"

# Remove NVIDIA Audio devices, if present
ACTION=="add", SUBSYSTEM=="pci", ATTR{vendor}=="0x10de", ATTR{class}=="0x040300", ATTR{remove}="1"

# Remove NVIDIA VGA/3D controller
ACTION=="add", SUBSYSTEM=="pci", ATTR{vendor}=="0x10de", ATTR{class}=="0x03[0-9]*", ATTR{remove}="1"
EOF
	{{ end }}

# Enable Nvidia GPU, disable Audio, USB-C. Without disabled Nvidia USB-C, Thunderbolt is not working properly with TB3 hubs.
	{{ if and (eq .tags.zephyrus.enabled true) (eq .tags.nvidia.enabled true) }}
sudo sh -c 'cat > /etc/modprobe.d/nvidia.conf' << EOF
options nvidia_drm modeset=1 fbdev=1

options nvidia NVreg_EnableS0ixPowerManagement=1 NVreg_DynamicPowerManagement=0x02

options nvidia NVreg_EnableGpuFirmware=0 NVreg_EnableBacklighthandler=0 NVreg_RegistryDwords=EnableBrightnessControl=0

# NVreg_DynamicPowerManagement=0x02
# NVreg_PreserveVideoMemoryAllocations=1
# NVreg_TemporaryFilePath=/var/tmp
# options nvidia NVreg_UsePageAttributeTable=1
# options nvidia NVreg_UseVBiosInfoROM=1
# options nvidia NVreg_EnableMSI=1
# options nvidia NVreg_EnablePCIeGen3=1
# options nvidia NVreg_EnablePCIeGen4=1
EOF

sudo sh -c 'cat > /etc/udev/rules.d/50-disable-nvidia.rules' << EOF
# Remove NVIDIA USB xHCI Host Controller devices, if present
ACTION=="add", SUBSYSTEM=="pci", ATTR{vendor}=="0x10de", ATTR{class}=="0x0c0330", ATTR{remove}="1"

# Remove NVIDIA USB Type-C UCSI devices, if present
ACTION=="add", SUBSYSTEM=="pci", ATTR{vendor}=="0x10de", ATTR{class}=="0x0c8000", ATTR{remove}="1"

# Remove NVIDIA Audio devices, if present
ACTION=="add", SUBSYSTEM=="pci", ATTR{vendor}=="0x10de", ATTR{class}=="0x040300", ATTR{remove}="1"

# Enable runtime PM for NVIDIA VGA/3D controller devices on driver bind
ACTION=="bind", SUBSYSTEM=="pci", ATTR{vendor}=="0x10de", ATTR{class}=="0x030000", TEST=="power/control", ATTR{power/control}="auto"
ACTION=="bind", SUBSYSTEM=="pci", ATTR{vendor}=="0x10de", ATTR{class}=="0x030200", TEST=="power/control", ATTR{power/control}="auto"

# Disable runtime PM for NVIDIA VGA/3D controller devices on driver unbind
ACTION=="unbind", SUBSYSTEM=="pci", ATTR{vendor}=="0x10de", ATTR{class}=="0x030000", TEST=="power/control", ATTR{power/control}="on"
ACTION=="unbind", SUBSYSTEM=="pci", ATTR{vendor}=="0x10de", ATTR{class}=="0x030200", TEST=="power/control", ATTR{power/control}="on"
EOF
	{{ end }}

# Intel video
	{{ if or (eq .tags.zephyrus.enabled true) (eq .tags.thinkpad.enabled true) }}
sudo sh -c 'cat > /etc/modprobe.d/i915.conf' << EOF
options i915 enable_rc6=1 enable_fbc=1 lvds_downclock=1
#enable_psr=1
EOF
	{{ end }}

# Intel WiFi 6, 6E.
	{{ if (eq .tags.thinkpad.enabled true) }}
sudo sh -c 'cat > /etc/modprobe.d/iwlwifi.conf' << EOF
options iwlwifi power_save=1
options iwlmvm power_scheme=3
EOF

# NetworkManager power save
sudo sh -c 'cat > /etc/NetworkManager/conf.d/powersave.conf' << EOF
[connection]
wifi.powersave=1
EOF
	{{ end }}

# Intel WiFi 7.
	{{ if (eq .tags.zephyrus.enabled true) }}
sudo sh -c 'cat > /etc/modprobe.d/iwlwifi.conf' << EOF
options iwlwifi power_save=1
EOF

# NetworkManager power save
sudo sh -c 'cat > /etc/NetworkManager/conf.d/powersave.conf' << EOF
[connection]
wifi.powersave=2
EOF
	{{ end }}
{{ end }}
