{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

{{- range $_, $v := $.tags }}
	{{- if $v.enabled }}
		{{- if index $v "upgrade" }}
			{{- if index $v.upgrade "darwin" }}
				{{- if $v.upgrade.darwin }}
					{{- range $cmd := $v.upgrade.darwin }}
						{{ $cmd }} || exit 1
					{{- end }}
				{{- end }}
			{{- end }}
		{{- end }}
	{{- end }}
{{- end }}
