{{- /*
vim:ft=zsh.gotexttmpl
*/ -}}

# vim:ft=zsh :
# shellcheck source=/dev/null

{{ range $s := list "bash" "zsh" "fish" }}
mkdir -p {{ joinPath $.chezmoi.homeDir ".local" $s "completions" }}
	{{ range $k, $v := $.shell.completionsList }}
		{{ if lookPath $k }}
echo "Generate completion file for {{ $k }} for {{ $s }}"
{{ $k }} {{ $v }}{{ $s }} > {{ print $.chezmoi.homeDir "/.local/" $s "/completions/" $k "." $s }}
		{{- end }}
	{{ end }}
{{ end }}
