{{- /*
vim:ft=conf.gotexttmpl
*/ -}}

{{ if eq .chezmoi.os "linux" -}}
sudo mkdir -p /etc/keyd

sudo sh -c 'cat > /etc/keyd/default.conf' << EOF
[global]

[ids]
*

[main]
capslock = overload(control, esc)
EOF


sudo sh -c 'cat > /etc/keyd/default.conf' << EOF
[ids]
0b05:19b6

[main]
f23+leftshift+leftmeta = rightalt

leftmeta = leftalt
rightmeta = rightalt

leftalt = leftmeta
rightalt = rightmeta

# leftalt = layer(cmd)
# rightalt = layer(cmd)

# include common
EOF

sudo sh -c 'cat > /etc/keyd/common' << EOF
j+k = esc

[cmd:C]

# Switch directly to an open tab (e.g. Firefox, VS code)
1 = A-1
2 = A-2
3 = A-3
4 = A-4
5 = A-5
6 = A-6
7 = A-7
8 = A-8
9 = A-9

a = C-a
b = C-b
c = C-insert
d = C-d
v = S-insert

x = S-delete
EOF
{{ end -}}
