{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

{{ template "path.tmpl" . }}

{{ if lookPath "krew" }}
	echo "Kubectl. Update plugins"
	export KREW_ROOT="$HOME"/.local/krew
	(krew update && krew upgrade) || exit 1
{{ end }}
