{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

{{ template "path.tmpl" . }}

{{ if lookPath "krew" }}
	echo "Kubectl. Update plugins"
	export KREW_ROOT={{ (joinPath .chezmoi.homeDir ".local/krew") | quote }}
	(krew update && krew upgrade) || exit 0
{{ end }}