{{-
vim:ft=bash.gotexttmpl
-}}

{{ template "path.tmpl" . }}

if command -v krew >/dev/null 2>&1; then
	echo "Kubectl. Update plugins"
	export KREW_ROOT="$HOME"/.local/krew
	(krew update && krew upgrade) || exit 1
fi
