{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

{{ if eq .chezmoi.os "linux" }}
sudo sh -c 'cat > /etc/locale.conf' << EOF
LANG=en_US.UTF-8
LANGUAGE=en_US:en
LC_ALL=en_US.UTF-8
LC_MEASUREMENT=metric
EOF

	{{ if eq .chezmoi.osRelease.id "arch" }}
sudo sh -c 'cat > /etc/locale.gen' << EOF
en_US.UTF-8 UTF-8
EOF
sudo locale-gen
	{{ else if eq .chezmoi.osRelease.id "fedora" }}
# sudo localectl set-locale LANG=en_US.UTF-8
	{{ end }}
{{ end }}
