{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

{{ template "path.tmpl" . }}

if command -v nvim >/dev/null 2>&1; then
	echo "Nvim. Lazy plugin and dependencies"
	bash --login -c 'nvim --headless +AstroUpdate "+Lazy! sync" +qall!' || exit 1
fi
