{{ if eq .chezmoi.os "darwin" }}
	export PATH="$HOME"/.cargo/bin:"$HOME"/.local/bin:"$HOME"/.homebrew/bin:"$PATH"
{{ else if eq .chezmoi.os "linux" }}
	export PATH="$HOME"/.cargo/bin:"$HOME"/.local/bin:"$PATH"
{{ end }}
