{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

{{- $p := list ((joinPath .chezmoi.homeDir ".local/bin") | quote) ((joinPath .chezmoi.homeDir ".cargo/bin") | quote) -}}

{{- if eq .chezmoi.os "darwin" }}
	{{- if stat (joinPath .path.homebrew "Cellar/ruby") }}
		{{ $p = append $p ((joinPath ((glob (print $.path.homebrew "/Cellar/ruby/*")) | last ) "bin") | quote) }}
	{{- end }}
	{{- $p = append $p ((joinPath .path.homebrew "sbin") | quote) }}
	{{- $p = append $p ((joinPath .path.homebrew "bin") | quote) }}

export HOMEBREW_PREFIX={{ .path.homebrew | quote }}
export HOMEBREW_CELLAR={{ (joinPath .path.homebrew "Cellar") | quote }}
export HOMEBREW_REPOSITORY={{ .path.homebrew | quote }}
export INFOPATH={{ (joinPath .path.homebrew "share/info") | quote }}:"$INFOPATH"
export MANPATH={{ (joinPath .path.homebrew "share/man") | quote }}:"$MANPATH"
export HOMEBREW_CASK_OPTS="--appdir={{ (joinPath .chezmoi.homeDir "Applications") }}"
{{ end }}

{{- if stat (joinPath .chezmoi.homeDir ".local/krew") }}
export KREW_ROOT={{ (joinPath .chezmoi.homeDir ".local/krew") | quote }}
	{{ $p = append $p ((joinPath .chezmoi.homeDir ".local/krew/bin") | quote) }}
{{ end -}}

export PATH={{ join ":" ($p | compact | uniq) }}:"$PATH"
