{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

	{{ if stat (joinPath .chezmoi.homeDir "Applications/Alacritty.app/Contents/MacOS/alacritty") }}
		# alacritty hash: {{ include (joinPath .chezmoi.homeDir "Applications/Alacritty.app/Contents/MacOS/alacritty") | sha256sum }}
		echo "Alacritty. Update icon to something useful. Original ugly as hell"
		cp -f {{ (joinPath .chezmoi.sourceDir ".resources/alacritty/alacritty.icns") | quote }} {{ (joinPath .chezmoi.homeDir "Applications/Alacritty.app/Contents/Resources/alacritty.icns") | quote }}
		xattr -r -d com.apple.quarantine {{ (joinPath .chezmoi.homeDir "Applications/Alacritty.app") | quote }}
	{{ end }}
