{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

{{ template "path.tmpl" . }}

{{ if and (stat (joinPath .chezmoi.sourceDir ".packagefiles/gem.packages")) (gt (stat (joinPath .chezmoi.sourceDir ".packagefiles/gem.packages")).size 0) }}
	# gem.packages hash: {{ include ".packagefiles/gem.packages" | sha256sum }}

	{{ if lookPath "gem" }}
		echo "Ruby. Install or update gem packages"
		export GEM_HOME={{ (joinPath .chezmoi.homeDir ".local/gem-packages") | quote }}
		xargs <{{ joinPath .chezmoi.sourceDir ".packagefiles/gem.packages" | quote }} gem install --no-suggestions --no-lock --no-document --env-shebang --bindir {{ (joinPath .chezmoi.homeDir ".local/bin") | quote }}
		gem cleanup
	{{ end }}
{{ end }}