{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

{{- if lookPath "wezterm" }}
alias wsl="wezterm cli split-pane --left"
alias wsr="wezterm cli split-pane --right"
alias wnw="wezterm cli spawn --new-window"
{{- end -}}
