{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

user_agent={{ .web.userAgent | quote }}

{{- if lookPath "yt-dlp" }}
	# TODO: yt-boat broken for now. Also requires rework.
	# TODO: notifications required some changes. Also need to reconsidering integration with Appple Shortcuts.

export MEDIADOWNLOADER="yd-boat.sh --quiet --no-progress"
{{- end -}}
