{{- /*
vim:ft=zsh.gotexttmpl
*/ -}}

# vim:ft=zsh :
# shellcheck source=/dev/null

{{ $m := dict
	"starship" "init"
	"chezmoi" "completion"
	"limactl" "completion"
	"kubectl" "completion"
}}

{{ range $s := list "bash" "zsh" }}
	{{ range $k, $v := $m }}
		{{ if lookPath $k }}
echo "Generate completion file for {{ $k }} for {{ $s }}"
{{ $k }} {{ $v }} {{ $s }} > {{ print $.chezmoi.homeDir "/.config/" $s "/plugins/" $k "." $s }}
		{{- end }}
	{{- end }}
{{- end }}
