{{- /*
vim:ft=bash.gotexttmpl
*/ -}}


{{ if stat (joinPath .chezmoi.homeDir ".local/antigen.zsh") }}
source {{ (joinPath .chezmoi.homeDir ".local/antigen.zsh") | quote }}

# Load the oh-my-zsh's library
antigen use oh-my-zsh

antigen bundle colored-man-pages
antigen bundle rsync
antigen bundle sudo
antigen bundle ssh
antigen bundle podman
{{- if lookPath "terraform" }}
antigen bundle terraform
{{ end }}
{{- if lookPath "vagrant" }}
antigen bundle vagrant
{{- end }}
# antigen bundle Aloxaf/fzf-tab
# antigen bundle fzf

antigen bundle zsh-users/zsh-syntax-highlighting
antigen bundle zsh-users/zsh-autosuggestions
antigen bundle zsh-users/zsh-completions

antigen bundle jeffreytse/zsh-vi-mode

# Tell Antigen that you're done
antigen apply
{{ end }}

CASE_SENSITIVE="true"
DISABLE_AUTO_UPDATE="true"
export UPDATE_ZSH_DAYS=2
# DISABLE_LS_COLORS="true"
DISABLE_AUTO_TITLE="true"
ENABLE_CORRECTION="true"
COMPLETION_WAITING_DOTS="true"
# DISABLE_UNTRACKED_FILES_DIRTY="true"
# HIST_STAMPS="mm/dd/yyyy"
