{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

notify() {
	{{ if eq .chezmoi.os "darwin" -}}
		osascript -e "display notification \"$2\" with title \"$1\""
	{{- else if eq .chezmoi.os "linux" }}
		notify-send "$2" "$1"
	{{- end }}
}
