{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

export HISTCONTROL=erasedups:ignoredups:ignorespace

export HISTFILESIZE=10000
export HISTSIZE=500

# Causes bash to append to history instead of overwriting it so if you start a new terminal, you have old session history
shopt -s histappend
PROMPT_COMMAND='history -a'

# Ignore case on auto-completion
if [[ $iatest -gt 0 ]]; then bind "set completion-ignore-case on"; fi

# Show auto-completion list automatically, without double tab
if [[ $iatest -gt 0 ]]; then bind "set show-all-if-ambiguous On"; fi
