{{ if eq .chezmoi.os "darwin" }}
	export HOMEBREW_PATH="$HOME"/.homebrew

	export PATH="$HOMEBREW_PATH"/bin:"$PATH"
	export MANPATH="$HOMEBREW_PATH"/share/man:"$MANPATH"

	export HOMEBREW_CASK_OPTS="--appdir=$HOME/Applications"
{{ end }}

{{ if stat (joinPath .chezmoi.homeDir ".local/xtensa-esp32-elf") }}
	export XTENSA_PATH="$HOME"/.local/xtensa-esp32-elf
	export PATH="$PATH":"$XTENSA_PATH"/bin
{{ end }}

{{ if stat (joinPath .chezmoi.homeDir ".local/esp-idf") }}
	export IDF_PATH="$HOME"/.local/esp-idf
{{ end }}

{{ if stat (joinPath .chezmoi.homeDir ".local/krew") }}
	export KREW_ROOT="$HOME/.local/krew"
	export PATH="$KREW_ROOT/bin:$HOME/.local/bin:$PATH"
{{ end }}

export PATH="$HOME"/.local/bin:"$PATH"
