{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

{{ if eq .chezmoi.os "linux"}}
# QT6 Fix
export QT_QPA_PLATFORMTHEME="qt6ct"

# Wayland Fix
export QT_QPA_PLATFORM=wayland
export XDG_SESSION_DESKTOP=hyprland
export XDG_CURRENT_SESION_TYPE=wayland
export GDK_BACKEND="wayland,x11"

# Enable Wayland for Firefox
export MOZ_ENABLE_WAYLAND=1
# Prevent opening multiple copies of Firefox on Linux
export MOZ_NO_REMOTE=1

# Enable truecolour
export COLORTERM="truecolor"
{{ end -}}
