{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

alias ls='ls --color=auto'
alias l='ls -lhF'
alias ll='ls -AlhF'
alias la='ls -AhF'

alias ..='cd ..'

alias grep='grep --color=auto'
alias diff='diff --color=auto'

alias less='less -R --tabs={{ .tui.tabs }}'
alias more='less'

{{ if lookPath "git" }}
alias g='git'

git-submodule-remove() {
	git config -f .git/config --remove-section submodule."$1"
	git config -f .gitmodules --remove-section submodule."$1"
	git rm --cached "$1"
	git commit -m "Remove $1 cookbook submodule"
	rm -rf "$1"
	rm -rf .git/modules/"$1"
}
{{ end }}

{{ if lookPath "yazi" }}
alias y='yazi'
{{ end -}}

{{ if lookPath "direnv" }}
# wrap tmux to avoid issues with environment loading
alias tmux='direnv exec / tmux'
{{ end }}

{{ if lookPath "oauth2l" }}
# configure gcurl alias
alias gcurl='curl -H "$(oauth2l header --json ~/credentials.json cloud-platform userinfo.email)" -H "Content-Type: application/json" '
{{ end }}

alias path='echo -e ${PATH//:/\\n}'

{{ if eq .chezmoi.os "darwin" }}
# cleanup .DS_Store files
alias cleanup='find . -type f \( -name \*.DS_Store -o -name \*._ \) -ls -delete'
{{ end }}

# remove executable
alias removex='find . -type f -exec chmod a-x "{}" \;'

alias ctags-check='ctags --options={{ (joinPath .chezmoi.homeDir ".local/share/chezmoi/dot_ctags") | quote }}'

alias preview='viu --transparent'

{{ if eq .chezmoi.os "darwin" }}
	{{ if stat (joinPath .chezmoi.homeDir "Applications/mpv.app/Contents/MacOS/") | quote }}
alias mpv='{{ (joinPath .chezmoi.homeDir "Applications/mpv.app/Contents/MacOS/mpv") }} --terminal=no --mute=no'
	{{ end}}
	{{ else if eq .chezmoi.os "linux"}}
alias mpv='mpv --terminal=no --mute=no'
{{ end -}}

{{ if lookPath "ansible-lint" }}
alias ansible-lint='ansible-lint -c ~/.ansible-lint'
{{ end -}}

{{ if lookPath "limactl" }}
# lima-vm to support genuine docker
alias docker='limactl shell docker docker'
alias docker-stop-all='docker stop $(docker ps -a -q)'
alias docker-rm-all='docker rm -f $(docker ps -a -q)'
alias docker-rmi-all='docker rmi -f $(docker images --no-trunc=false -a -q)'

# lima-vm to support genuine podman
alias podman='limactl shell podman podman'
alias podman-stop-all='podman stop $(podman ps -a -q)'
alias podman-rm-all='podman rm -f $(podman ps -a -q)'
alias podman-rmi-all='podman rmi -f $(podman images --no-trunc=false -a -q)'

# lima-vm to support genuine nerdctl
alias nerdctl='limactl shell nerdy nerdctl'
alias nerdctl-stop-all='nerdctl stop $(nerdctl ps -a -q)'
alias nerdctl-rm-all='nerdctl rm -f $(nerdctl ps -a -q)'
alias nerdctl-rmi-all='nerdctl rmi -f $(nerdctl images --no-trunc=false -a -q)'
{{ end -}}

{{ if stat (joinPath .chezmoi.homeDir ".local/esp-idf") -}}
alias idf-env='. {{ (joinPath .chezmoi.homeDir ".local/esp-idf/export.sh") | quote }}'
{{ end -}}
