{{ if eq .chezmoi.os "darwin" }}
export HOMEBREW_PATH="$HOME/.homebrew"
# shellcheck disable=SC2046
export RUBY_PATH=`if [[ -d $HOMEBREW_PATH/Cellar/ruby ]]; then dirname $(find $HOMEBREW_PATH/Cellar/ruby/*/bin -name "ruby" -print -quit); fi`
export GEMS_PATH=`if [[ -d $HOMEBREW_PATH/lib/ruby/gems ]]; then find $HOMEBREW_PATH/lib/ruby/gems/* -name "bin" -type d -print -quit; fi`

export PATH="$RUBY_PATH:$GEMS_PATH:$HOMEBREW_PATH/bin:$PATH"
export MANPATH="$HOMEBREW_PATH/share/man:$MANPATH"
{{ end }}

export KREW_ROOT="$HOME/.local/krew"

export PATH="$KREW_ROOT/bin:$HOME/.local/bin:$PATH"
