{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

alias ls='ls --color=auto'
alias l='ls -lhF'
alias ll='ls -AlhF'
alias la='ls -AhF'

alias ..='cd ..'

alias grep='grep --color=auto'
alias diff='diff --color=auto'

alias less='less -R --tabs={{ .env.tabs }}'
alias more='less'

alias mtar='tar --exclude="*.DS_Store" --no-acls --no-fflags --no-xattr --no-mac-metadata'

alias gr="grep -r"

{{ if lookPath "git" }}
alias g='git'

function git_submodule_remove() {
	git config -f .git/config --remove-section submodule."$1"
	git config -f .gitmodules --remove-section submodule."$1"
	git rm --cached "$1"
	git commit -m "Remove $1 cookbook submodule"
	rm -rf "$1"
	rm -rf .git/modules/"$1"
}
{{ end -}}

{{ if lookPath "direnv" }}
# wrap tmux to avoid issues with environment loading
alias tmux='direnv exec / tmux'
{{ end -}}

{{ if lookPath "oauth2l" }}
# configure gcurl alias
alias gcurl='curl -H "$(oauth2l header --json ~/credentials.json cloud-platform userinfo.email)" -H "Content-Type: application/json" '
{{ end -}}

alias path='echo -e ${PATH//:/\\n}'

{{ if eq .chezmoi.os "darwin" }}
# cleanup .DS_Store files
alias cleanup='find . -type f \( -name \*.DS_Store -o -name \*._ \) -ls -delete'
{{ end -}}

# remove executable
alias removex='find . -type f -exec chmod a-x "{}" \;'

alias ctags_check='ctags --options={{ (joinPath .chezmoi.homeDir ".local/share/chezmoi/dot_ctags") | quote }}'

{{ if lookPath "timg" }}
alias preview='timg -p k'
alias pv=preview
{{ end -}}

{{ if eq .chezmoi.os "darwin" }}
	{{ if stat (joinPath .chezmoi.homeDir "Applications/mpv.app/Contents/MacOS/") | quote }}
alias mpv='{{ (joinPath .chezmoi.homeDir "Applications/mpv.app/Contents/MacOS/mpv") }} --terminal=no --mute=no'
	{{ end -}}
	{{ else if eq .chezmoi.os "linux"}}
alias mpv='mpv --terminal=no --mute=no'
{{ end -}}

{{ if lookPath "ansible-lint" }}
alias ansible-lint='ansible-lint -c ~/.ansible-lint'
{{ end -}}

{{ if lookPath "lazygit" }}
alias lg='lazygit'
{{ end -}}

{{ if lookPath "terraform" }}
alias tf='terraform'
{{ end -}}

{{ if lookPath "terraform-docs" }}
alias tfd='terraform-docs markdown table --output-file README.md --output-mode inject .'
{{ end -}}

{{ if lookPath "limactl" }}
# lima-vm to support genuine docker
alias dk='limactl shell docker docker'
alias docker='limactl shell docker docker'
alias dk_stop_all='dk stop $(dk ps -a -q)'
alias dk_rm_all='dk rm -f $(dk ps -a -q)'
alias dk_rmi_all='dk rmi -f $(dk images --no-trunc=false -a -q)'

# lima-vm to support genuine podman
alias pa='limactl shell podman-arm64 podman'
alias pa_stop_all='pa stop $(pa ps -a -q)'
alias pa_rm_all='pa rm -f $(pa ps -a -q)'
alias pa_rmi_all='pa rmi -f $(pa images --no-trunc=false -a -q)'

# lima-vm to support genuine podman
alias pi='limactl shell podman-amd64 podman'
alias pi_stop_all='pi stop $(pi ps -a -q)'
alias pi_rm_all='pi rm -f $(pi ps -a -q)'
alias pi_rmi_all='pi rmi -f $(pi images --no-trunc=false -a -q)'

# lima-vm to support genuine nerdctl
alias ntl='limactl shell nerdy nerdctl'
alias nctl_stop_all='nctl stop $(nctl ps -a -q)'
alias nctl_rm_all='nctl rm -f $(nctl ps -a -q)'
alias nctl_rmi_all='nctl rmi -f $(nctl images --no-trunc=false -a -q)'
{{ end -}}

# alias space2tabs='sed -ie 's/{{ repeat (int .env.tabs) " " }}/\t/g'' # bash have issues. TODO: research
