{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

# UTF-8 everywhere
export LANG=en_US.UTF-8
export LANGUAGE=en_US.UTF-8
export LC_CTYPE=en_US.UTF-8
export LC_ALL=en_US.UTF-8

# Colours everywhere
export MANPAGER="less -R --use-color -Dd+r -Du+b"

# Web browser
{{ if eq .chezmoi.os "darwin" }}
export BROWSER="open -a Safari"
{{ else }}
export BROWSER="firefox"
{{ end }}

# Stop M$ from spying on you
export AZURE_CORE_COLLECT_TELEMETRY=FALSE
export AZURE_LOGGING_ENABLE_LOG_FILE=FALSE

npm config set prefix {{ (joinPath .chezmoi.homeDir ".local") | quote }}
export NPM_PACKAGES={{ (joinPath .chezmoi.homeDir ".local") | quote }}

export GOPATH={{ (joinPath .chezmoi.homeDir ".local/golang-packages") | quote }}
export GOBIN={{ (joinPath .chezmoi.homeDir ".local/bin") | quote }}

export PYTHON_KEYRING_BACKEND="keyring.backends.null.Keyring"

export KREW_ROOT={{ (joinPath .chezmoi.homeDir ".local/krew") | quote }}

export PACKER_CACHE_DIR={{ (joinPath .chezmoi.homeDir ".packer.d/cache") | quote }}
export PACKER_ISO_DIR={{ (joinPath .chezmoi.homeDir ".packer.d/iso") | quote }}
export PACKER_BOX_DIR={{ (joinPath .chezmoi.homeDir ".packer.d/box") | quote }}
export PACKER_LOG_PATH={{ (joinPath .chezmoi.homeDir ".packer.d/log") | quote }}

{{ if stat (joinPath .chezmoi.homeDir ".local/esp-idf") -}}
export IDF_TOOLS_PATH={{ (joinPath .chezmoi.homeDir ".local/espressif") | quote }}
{{- end }}

# Set tabs width for terminal
tabs -{{ .tui.tabs }}
{{ if lookPath "setterm" }}
setterm --tabs={{ .tui.tabs }} --blink on
{{ end }}
