{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

export LANG=en_US.UTF-8
export LANGUAGE=en_US.UTF-8
export LC_CTYPE=en_US.UTF-8
export LC_ALL=en_US.UTF-8

export AZURE_CORE_COLLECT_TELEMETRY=FALSE
export AZURE_LOGGING_ENABLE_LOG_FILE=FALSE

npm config set prefix "$HOME"/.local
export NPM_PACKAGES="$HOME"/.local

export PACKER_CACHE_DIR="$HOME"/.packer.d/cache
export PACKER_ISO_DIR="$HOME"/.packer.d/iso
export PACKER_BOX_DIR="$HOME"/.packer.d/box
export PACKER_LOG_PATH="$HOME"/.packer.d/log

export PYTHON_KEYRING_BACKEND="keyring.backends.null.Keyring"

export KREW_ROOT="$HOME"/.local/bin

{{ if stat (joinPath .chezmoi.homeDir ".local/esp-idf") -}}
	export IDF_TOOLS_PATH="$HOME"/.local/espressif
{{- end }}

# Set tabs width for terminal
tabs -{{ .tui.tabs }}
if command -v setterm >/dev/null 2>&1; then
	setterm --tabs={{ .tui.tabs }} --blink on
fi
