
{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

{{ if eq .chezmoi.os "darwin" }}
	osascript <<APPLESCRIPT
		tell application "System Events"
			tell appearance preferences
				set dark mode to {{ .theme.darkMode }}
			end tell
		end tell
	APPLESCRIPT

	{{ if .theme.darkMode }}notify "Embrace the dark side, Luke"{{ else }}notify "Welcome to the light, Luke"{{ end }}
{{ end }}
