{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

{{ template "path.tmpl" . }}

{{ if lookPath "tmux" }}
	echo "TMUX. Update plugins"
	{{ if stat (joinPath .chezmoi.homeDir ".config/tmux/plugins") }}
		for plugin in "$HOME"/.config/tmux/plugins/*; do
			if [ -d "$plugin" ]; then
				cd "$plugin" || exit
				if [ -d '.git' ]; then
					git pull
				fi
			fi
		done
		if tmux info &> /dev/null; then
			tmux source-file {{ (joinPath .chezmoi.homeDir ".config/tmux/tmux.conf") | quote }}
		fi
	{{ end }}
{{ end }}