{{- /*
vim:ft=bash.gotexttmpl
*/ -}}

{{ if eq .chezmoi.os "linux" }}
	{{ if eq .chezmoi.osRelease.id "arch" }}
sudo sh -c 'cat > /etc/vconsole.conf' << EOF
# This is the fallback vconsole configuration provided by systemd.

KEYMAP=us
XKBLAYOUT=us
FONT="latarcyrheb-sun32"
XKBOPTIONS="ctrl:nocaps,altwin:swap_alt_win,grp:lctrl_space_toggle"
EOF
	{{ end }}
{{ end }}
