{{- /*
	vim:ft=conf.gotexttmpl
*/ -}}

$mainMod = SUPER

# Define applications
$terminal = foot
$filemanager = dolphin
$fm = foot -e {{ (joinPath .chezmoi.homeDir ".local/bin/yazi") | quote }}
$browser = librewolf
$mail = thunderbird
$editor = nvim

$notifications = mako
$spotlight = walker
$screenlock = playerctl --all-players pause; hyprlock

$volumeup = {{ joinPath .chezmoi.homeDir ".config/hypr/scripts/volume" }} --inc
$volumedown = {{ joinPath .chezmoi.homeDir ".config/hypr/scripts/volume" }} --dec
$volumemute = {{ joinPath .chezmoi.homeDir ".config/hypr/scripts/volume" }} --toggle

$backlightup = {{ joinPath .chezmoi.homeDir ".config/hypr/scripts/backlight" }} --inc
$backlightdown = {{ joinPath .chezmoi.homeDir ".config/hypr/scripts/backlight" }} --dec

$micmute = {{ joinPath .chezmoi.homeDir ".config/hypr/scripts/volume" }} --toggle-mic
$logout = hyprctl dispatch exit


source = {{ joinPath .chezmoi.homeDir ".config/hypr/modules/env.conf" }}

source = {{ joinPath .chezmoi.homeDir ".config/hypr/modules/autostart.conf" }}

source = {{ joinPath .chezmoi.homeDir ".config/hypr/modules/input.conf" }}
source = {{ joinPath .chezmoi.homeDir ".config/hypr/modules/monitors.conf" }}

source = {{ joinPath .chezmoi.homeDir ".config/hypr/modules/windowrules.conf" }}
source = {{ joinPath .chezmoi.homeDir ".config/hypr/modules/workspaces.conf" }}

source = {{ joinPath .chezmoi.homeDir ".config/hypr/modules/ui.conf" }}
source = {{ joinPath .chezmoi.homeDir ".config/hypr/theme.conf" }}

source = {{ joinPath .chezmoi.homeDir ".config/hypr/bindings/general.conf" }}
source = {{ joinPath .chezmoi.homeDir ".config/hypr/bindings/applications.conf" }}
source = {{ joinPath .chezmoi.homeDir ".config/hypr/bindings/tiles.conf" }}
source = {{ joinPath .chezmoi.homeDir ".config/hypr/bindings/clipboard.conf" }}
source = {{ joinPath .chezmoi.homeDir ".config/hypr/bindings/media.conf" }}
source = {{ joinPath .chezmoi.homeDir ".config/hypr/bindings/hardware.conf" }}
source = {{ joinPath .chezmoi.homeDir ".config/hypr/bindings/brightness.conf" }}
