{{- /*
	vim:ft=conf.gotexttmpl
*/ -}}

$mainMod = SUPER

# Define applications
$terminal = foot
$filemanager = dolphin
$fm = foot -e {{ (joinPath .chezmoi.homeDir ".local/bin/yazi") | quote }}
$browser = librewolf
$mail = thunderbird
$editor = nvim

$clipboard = walker --provider clipboard
$colourpicker = hyprpicker --autocopy --format=hex --quiet --lowercase-hex

$notifications = mako
$spotlight = walker
$screenlock = playerctl --all-players pause; hyprlock

$current_keymap = $(hyprctl devices -j | jq -r '.keyboards[] | select(.main == true) | first(.active_keymap)')

$volumeup = pamixer --increase 5 ; hyprctl notify 1 3000 0 "fontsize:16   Volume: $(pamixer --get-volume-human)"
$volumedown = pamixer --decrease 5 ; hyprctl notify 1 3000 0 "fontsize:16   Volume: $(pamixer --get-volume-human)"
$volumemute = pamixer --toggle-mute ; hyprctl notify 0 3000 0 "fontsize:16   Volume: $(pamixer --get-volume-human)"

$micmute = pamixer --default-source --toggle-mute ; hyprctl notify 0 10000 0 "fontsize:16   Mic status: $(pamixer --default-source --get-mute)"

$backlightup = brightnessctl s +5% ; hyprctl notify 1 3000 0 "fontsize:16   Brightness level: $(brightnessctl g)"
$backlightdown = brightnessctl s 5%- ; hyprctl notify 1 3000 0 "fontsize:16   Brightness level: $(brightnessctl g)"

$toggledock = {{ joinPath .chezmoi.homeDir ".config/hypr/scripts/toggle_dock" }}

$logout = hyprctl dispatch exit


source = {{ joinPath .chezmoi.homeDir ".config/hypr/modules/env.conf" }}

source = {{ joinPath .chezmoi.homeDir ".config/hypr/modules/autostart.conf" }}

source = {{ joinPath .chezmoi.homeDir ".config/hypr/modules/input.conf" }}
source = {{ joinPath .chezmoi.homeDir ".config/hypr/modules/monitors.conf" }}

source = {{ joinPath .chezmoi.homeDir ".config/hypr/modules/windowrules.conf" }}
source = {{ joinPath .chezmoi.homeDir ".config/hypr/modules/workspaces.conf" }}

source = {{ joinPath .chezmoi.homeDir ".config/hypr/modules/ui.conf" }}
source = {{ joinPath .chezmoi.homeDir ".config/hypr/theme.conf" }}

source = {{ joinPath .chezmoi.homeDir ".config/hypr/modules/permissions.conf" }}

source = {{ joinPath .chezmoi.homeDir ".config/hypr/bindings/general.conf" }}
source = {{ joinPath .chezmoi.homeDir ".config/hypr/bindings/applications.conf" }}
source = {{ joinPath .chezmoi.homeDir ".config/hypr/bindings/tiles.conf" }}
source = {{ joinPath .chezmoi.homeDir ".config/hypr/bindings/macos.conf" }}
source = {{ joinPath .chezmoi.homeDir ".config/hypr/bindings/media.conf" }}
source = {{ joinPath .chezmoi.homeDir ".config/hypr/bindings/hardware.conf" }}
