wallpaper {
	monitor = eDP-1
	path = {{ joinPath .chezmoi.homeDir ".local/share/wallpapers/default.png" }}
	fit_mode = cover
}

wallpaper {
	monitor = DP-1
	path = {{ joinPath .chezmoi.homeDir ".local/share/wallpapers/default.png" }}
	fit_mode = cover
}

splash = false
