{{- /*
	vim:ft=conf.gotexttmpl
*/ -}}

$rosewater = rgb({{ .colours.normal.rosewater }})
$rosewaterAlpha = {{ .colours.normal.rosewater }}

$flamingo = rgb({{ .colours.normal.flamingo }})
$flamingoAlpha = {{ .colours.normal.flamingo }}

$pink = rgb({{ .colours.normal.pink }})
$pinkAlpha = {{ .colours.normal.pink }}

$mauve = rgb({{ .colours.normal.mauve }})
$mauveAlpha = {{ .colours.normal.mauve }}

$red = rgb({{ .colours.normal.red }})
$redAlpha = {{ .colours.normal.red }}

$maroon = rgb({{ .colours.normal.maroon }})
$maroonAlpha = {{ .colours.normal.maroon }}

$peach = rgb({{ .colours.normal.peach }})
$peachAlpha = {{ .colours.normal.peach }}

$yellow = rgb({{ .colours.normal.yellow }})
$yellowAlpha = {{ .colours.normal.yellow }}

$green = rgb({{ .colours.normal.green }})
$greenAlpha = {{ .colours.normal.green }}

$teal = rgb({{ .colours.normal.teal }})
$tealAlpha = {{ .colours.normal.teal }}

$sky = rgb({{ .colours.normal.sky }})
$skyAlpha = {{ .colours.normal.sky }}

$sapphire = rgb({{ .colours.normal.sapphire }})
$sapphireAlpha = {{ .colours.normal.sapphire }}

$blue = rgb({{ .colours.normal.blue }})
$blueAlpha = {{ .colours.normal.blue }}

$lavender = rgb({{ .colours.normal.lavender }})
$lavenderAlpha = {{ .colours.normal.lavender }}

$text = rgb({{ .colours.normal.text }})
$textAlpha = {{ .colours.normal.text }}

$subtext1 = rgb({{ .colours.normal.subtext1 }})
$subtext1Alpha = {{ .colours.normal.subtext1 }}

$subtext0 = rgb({{ .colours.normal.subtext0 }})
$subtext0Alpha = {{ .colours.normal.subtext0 }}

$overlay2 = rgb({{ .colours.normal.overlay2 }})
$overlay2Alpha = {{ .colours.normal.overlay2 }}

$overlay1 = rgb({{ .colours.normal.overlay1 }})
$overlay1Alpha = {{ .colours.normal.overlay1 }}

$overlay0 = rgb({{ .colours.normal.overlay0 }})
$overlay0Alpha = {{ .colours.normal.overlay0 }}

$surface2 = rgb({{ .colours.normal.surface2 }})
$surface2Alpha = {{ .colours.normal.surface2 }}

$surface1 = rgb({{ .colours.normal.surface1 }})
$surface1Alpha ={{ .colours.normal.surface1 }}

$surface0 = rgb({{ .colours.normal.surface0 }})
$surface0Alpha ={{ .colours.normal.surface0 }}

$base = rgb({{ if .theme.blackout }}000000{{ else }}{{ .colours.normal.base }}{{ end }})
$baseAlpha = {{ if .theme.blackout }}000000{{ else }}{{ .colours.normal.base }}{{ end }}

$mantle = rgb({{ if .theme.blackout }}000000{{ else }}{{ .colours.normal.mantle }}{{ end }})
$mantleAlpha = {{ if .theme.blackout }}000000{{ else }}{{ .colours.normal.mantle }}{{ end }}

$crust = rgb({{ if .theme.blackout }}000000{{ else }}{{ .colours.normal.crust }}{{ end }})
$crustAlpha = {{ if .theme.blackout }}000000{{ else }}{{ .colours.normal.crust }}{{ end }}
