local rosewater = "rgb({{ .colours.normal.rosewater }})"
local rosewaterAlpha = "rgb({{ .colours.normal.rosewater }})"

local flamingo = "rgb({{ .colours.normal.flamingo }})"
local flamingoAlpha = "rgb({{ .colours.normal.flamingo }})"

local pink = "rgb({{ .colours.normal.pink }})"
local pinkAlpha = "rgb({{ .colours.normal.pink }})"

local mauve = "rgb({{ .colours.normal.mauve }})"
local mauveAlpha = "rgb({{ .colours.normal.mauve }})"

local red = "rgb({{ .colours.normal.red }})"
local redAlpha = "rgb({{ .colours.normal.red }})"

local maroon = "rgb({{ .colours.normal.maroon }})"
local maroonAlpha = "rgb({{ .colours.normal.maroon }})"

local peach = "rgb({{ .colours.normal.peach }})"
local peachAlpha = "rgb({{ .colours.normal.peach }})"

local yellow = "rgb({{ .colours.normal.yellow }})"
local yellowAlpha = "rgb({{ .colours.normal.yellow }})"

local green = "rgb({{ .colours.normal.green }})"
local greenAlpha = "rgb({{ .colours.normal.green }})"

local teal = "rgb({{ .colours.normal.teal }})"
local tealAlpha = "rgb({{ .colours.normal.teal }})"

local sky = "rgb({{ .colours.normal.sky }})"
local skyAlpha = "rgb({{ .colours.normal.sky }})"

local sapphire = "rgb({{ .colours.normal.sapphire }})"
local sapphireAlpha = "rgb({{ .colours.normal.sapphire }})"

local blue = "rgb({{ .colours.normal.blue }})"
local blueAlpha = "rgb({{ .colours.normal.blue }})"

local lavender = "rgb({{ .colours.normal.lavender }})"
local lavenderAlpha = "rgb({{ .colours.normal.lavender }})"

local text = "rgb({{ .colours.normal.text }})"
local textAlpha = "rgb({{ .colours.normal.text }})"

local subtext1 = "rgb({{ .colours.normal.subtext1 }})"
local subtext1Alpha = "rgb({{ .colours.normal.subtext1 }})"

local subtext0 = "rgb({{ .colours.normal.subtext0 }})"
local subtext0Alpha = "rgb({{ .colours.normal.subtext0 }})"

local overlay2 = "rgb({{ .colours.normal.overlay2 }})"
local overlay2Alpha = "rgb({{ .colours.normal.overlay2 }})"

local overlay1 = "rgb({{ .colours.normal.overlay1 }})"
local overlay1Alpha = "rgb({{ .colours.normal.overlay1 }})"

local overlay0 = "rgb({{ .colours.normal.overlay0 }})"
local overlay0Alpha = "rgb({{ .colours.normal.overlay0 }})"

local surface2 = "rgb({{ .colours.normal.surface2 }})"
local surface2Alpha = "rgb({{ .colours.normal.surface2 }})"

local surface1 = "rgb({{ .colours.normal.surface1 }})"
local surface1Alpha = "rgb({{ .colours.normal.surface1 }})"

local surface0 = "rgb({{ .colours.normal.surface0 }})"
local surface0Alpha = "rgb({{ .colours.normal.surface0 }})"

local base = "rgb({{if .theme.blackout }}000000{{ else }}{{ .colours.normal.base }}{{ end }})"
local baseAlpha = "rgb({{ if .theme.blackout }}000000{{ else }}{{ .colours.normal.base }}{{ end }})"

local mantle = "rgb({{ if .theme.blackout }}000000{{ else }}{{ .colours.normal.mantle }}{{ end }})"
local mantleAlpha = "rgb({{ if .theme.blackout }}000000{{ else }}{{ .colours.normal.mantle }}{{ end }})"

local crust = "rgb({{ if .theme.blackout }}000000{{ else }}{{ .colours.normal.crust }}{{ end }})"
local crustAlpha = "rgb({{ if .theme.blackout }}000000{{ else }}{{ .colours.normal.crust }}{{ end }})"
