{{- /*
	vim:ft=lua.gotexttmpl
*/ -}}

return {
	-- Transparency everywhere
	{
		"xiyaowong/transparent.nvim",
		cmd = { "TransparentEnable", "TransparentDisable", "TransparentToggle" },
		opts = {
			enable = vim.g.transparency,
			extra_groups = "all",
		},
		config = function(_, opts)
			require("transparent").setup(opts)
		end,
	},

	-- Colour schemes
	{
		"catppuccin/nvim",
		name = "catppuccin",
		lazy = false,
		priority = 1000,
		config = function()
			require("catppuccin").setup({
				flavour = "mocha", -- latte, frappe, macchiato, mocha
				background = { -- :h background
					light = "latte",
					dark = "mocha",
				},
				transparent_background = vim.g.transparency,
			})
		end,
	},

	-- Configure LazyVim to load colorscheme
	{
		"LazyVim/LazyVim",
		opts = {
			colorscheme = {{ (print .tui.theme "-" .tui.themeVariant) | quote }},
		},
	},
}
