{{- /*
	vim:ft=lua.gotexttmpl
*/ -}}

return {
	-- Transparency everywhere
	{
		"xiyaowong/transparent.nvim",
		cmd = { "TransparentEnable", "TransparentDisable", "TransparentToggle" },
		opts = {
			enable = vim.g.transparency,
			extra_groups = "all",
		},
		config = function(_, opts)
			require("transparent").setup(opts)
		end,
	},

	-- Colour schemes
	{
		"catppuccin/nvim",
		name = "catppuccin",
		lazy = false,
		priority = 1000,
		config = function()
			require({{ .theme.themeName | quote }}).setup({
				flavour = {{ .theme.themeVariant | quote }}, -- latte, frappe, macchiato, mocha
				transparent_background = vim.g.transparency,
			})
		end,
	},

	-- Configure LazyVim to load colorscheme
	{
		"LazyVim/LazyVim",
		opts = {
			colorscheme = {{ (print .theme.themeName "-" .theme.themeVariant) | quote }},
		},
	},
}
