{{- /*
	vim:ft=toml.yaml
*/ -}}

vmType: vz
os: Linux
arch: null

{{- if eq .chezmoi.arch "arm64" -}}
rosetta:
  enabled: true
  binfmt: true
{{- end }}

images:
- location: "https://repo.almalinux.org/almalinux/9.2/cloud/x86_64/images/AlmaLinux-9-GenericCloud-9.2-20230513.x86_64.qcow2"
  arch: "x86_64"
  digest: "sha256:207d885ca8140e3106098e946cfc04088b0e21f50d24815051520d452eae0a50"
- location: "https://repo.almalinux.org/almalinux/9.2/cloud/aarch64/images/AlmaLinux-9-GenericCloud-9.2-20230513.aarch64.qcow2"
  arch: "aarch64"
  digest: "sha256:a4cbd35010ae0ce7437b2855e5f6f6f03124784ca2aaa5c111563f64e03301e4"
# Fallback to the latest release image.
# Hint: run `limactl prune` to invalidate the cache
- location: "https://repo.almalinux.org/almalinux/9/cloud/x86_64/images/AlmaLinux-9-GenericCloud-latest.x86_64.qcow2"
  arch: "x86_64"
- location: "https://repo.almalinux.org/almalinux/9/cloud/aarch64/images/AlmaLinux-9-GenericCloud-latest.aarch64.qcow2"
  arch: "aarch64"

# Builtin default: min(4, host CPU cores)
cpus: null
# Builtin default: min("4GiB", half of host memory)
memory: null
# Builtin default: "100GiB"
disk: null

mounts:
- location: "~"
- location: "/tmp/lima"
  writable: true

provision:
- mode: system
  script: |
    #!/bin/bash
    set -eux -o pipefail
    dnf install -y sudo bash zsh curl wget git neovim python3-neovim
    dnf autoremove -y

probes:
- script: |
    #!/bin/bash
    set -eux -o pipefail
    if ! timeout 30s bash -c "until command -v zsh >/dev/null 2>&1; do sleep 3; done"; then
      echo >&2 "zsh is not installed yet"
      exit 1
    fi
  hint: See "/var/log/cloud-init-output.log" in the guest

networks:
# - lima: shared
#   # MAC address of the instance; lima will pick one based on the instance name,
#   # so DHCP assigned ip addresses should remain constant over instance restarts.
#   macAddress: ""
#   # Interface name, defaults to "lima0", "lima1", etc.
#   interface: ""

# - socket: "/var/run/socket_vmnet"

# The "vzNAT" IP address is accessible from the host, but not from other guests.
- vzNAT: true

# - vnl: "vde:///var/run/vde.ctl"
#   # VDE Switch port number (not TCP/UDP port number). Set to 65535 for PTP mode.
#   # Builtin default: 0
#   switchPort: 0
#   # MAC address of the instance; lima will pick one based on the instance name,
#   # so DHCP assigned ip addresses should remain constant over instance restarts.
#   macAddress: ""
#   # Interface name, defaults to "lima0", "lima1", etc.
#   interface: ""

env:
  CODESPACES: true
