{{- /*
	vim:ft=toml.yaml
*/ -}}

{{- if eq .chezmoi.arch "arm64" -}}
vmType: null
os: Linux
arch: null

rosetta:
  enabled: true
  binfmt: true
{{- end }}

images:
- location: "https://download.fedoraproject.org/pub/fedora/linux/releases/38/Cloud/x86_64/images/Fedora-Cloud-Base-38-1.6.x86_64.qcow2"
  arch: "x86_64"
  digest: "sha256:d334670401ff3d5b4129fcc662cf64f5a6e568228af59076cc449a4945318482"
- location: "https://download.fedoraproject.org/pub/fedora/linux/releases/38/Cloud/aarch64/images/Fedora-Cloud-Base-38-1.6.aarch64.qcow2"
  arch: "aarch64"
  digest: "sha256:ad71d22104a16e4f9efa93e61e8c7bce28de693f59c802586abbe85e9db55a65"

# Builtin default: min(4, host CPU cores)
cpus: null
# Builtin default: min("4GiB", half of host memory)
memory: null
# Builtin default: "100GiB"
disk: null

mounts:
- location: "~"
- location: "/tmp/lima"
  writable: true

provision:
- mode: system
  script: |
    #!/bin/bash
    set -eux -o pipefail
    dnf install -y sudo bash zsh curl wget git containerd neovim python3-neovim
    systemctl enable --now containerd
    nerdctl run --privileged --rm tonistiigi/binfmt --install all
    dnf autoremove -y
- mode: user
  script: |
    #!/bin/bash
    mkdir -p "$HOME/.local/bin"
    export BINDIR="$HOME/.local/bin"
    sh -c "$(curl -fsLS get.chezmoi.io)"
    mkdir -p "$HOME/.local/share/"
    [ ! -d "$HOME/.local/share/chezmoi" ] && git clone https://github.com/stonevil/dotfiles.git "$HOME/.local/share/chezmoi"
probes:
- script: |
    #!/bin/bash
    set -eux -o pipefail
    if ! timeout 30s bash -c "until command -v zsh >/dev/null 2>&1; do sleep 3; done"; then
      echo >&2 "zsh is not installed yet"
      exit 1
    fi
  hint: See "/var/log/cloud-init-output.log" in the guest

networks:
# - lima: shared
#   # MAC address of the instance; lima will pick one based on the instance name,
#   # so DHCP assigned ip addresses should remain constant over instance restarts.
#   macAddress: ""
#   # Interface name, defaults to "lima0", "lima1", etc.
#   interface: ""

# - socket: "/var/run/socket_vmnet"

# The "vzNAT" IP address is accessible from the host, but not from other guests.
# - vzNAT: true

# - vnl: "vde:///var/run/vde.ctl"
#   # VDE Switch port number (not TCP/UDP port number). Set to 65535 for PTP mode.
#   # Builtin default: 0
#   switchPort: 0
#   # MAC address of the instance; lima will pick one based on the instance name,
#   # so DHCP assigned ip addresses should remain constant over instance restarts.
#   macAddress: ""
#   # Interface name, defaults to "lima0", "lima1", etc.
#   interface: ""

portForwards:
- guestSocket: "/run/user/{{`{{.UID}}`}}/containerd/containerd.sock"
  hostSocket: "{{`{{.Dir}}`}}/sock/containerd.sock"

# env:
#   KEY: value
