[colors.primary]
foreground = {{ (print "#" .current.theme.primary.background) | quote }}
background = {{ (print "#" .current.theme.primary.background) | quote }}
dim_foreground = {{ (print "#" .current.theme.primary.dim_foreground) | quote }}
bright_foreground = {{ (print "#" .current.theme.primary.bright_foreground) | quote }}

[colors.cursor]
text = {{ (print "#" .current.theme.cursor.text) | quote }}
cursor = {{ (print "#" .current.theme.cursor.cursor) | quote }}

[colors.vi_mode_cursor]
text = {{ (print "#" .current.theme.vi_mode_cursor.text) | quote }}
cursor = {{ (print "#" .current.theme.vi_mode_cursor.cursor) | quote }}

[colors.search.matches]
foreground = {{ (print "#" .current.theme.search.matches.foreground) | quote }}
background = {{ (print "#" .current.theme.search.matches.background) | quote }}

[colors.search.focused_match]
foreground = {{ (print "#" .current.theme.search.focused_match.foreground) | quote }}
background = {{ (print "#" .current.theme.search.focused_match.background) | quote }}

[colors.footer_bar]
foreground = {{ (print "#" .current.theme.footer_bar.foreground) | quote }}
background = {{ (print "#" .current.theme.footer_bar.background) | quote }}

[colors.hints.start]
foreground = {{ (print "#" .current.theme.hints.start.foreground) | quote }}
background = {{ (print "#" .current.theme.hints.start.background) | quote }}

[colors.hints.end]
foreground = {{ (print "#" .current.theme.hints.end.foreground) | quote }}
background = {{ (print "#" .current.theme.hints.end.background) | quote }}

[colors.selection]
text = {{ (print "#" .current.theme.selection.text) | quote }}
background = {{ (print "#" .current.theme.selection.background) | quote }}

[colors.normal]
black = {{ (print "#" .current.theme.normal.black) | quote }}
red = {{ (print "#" .current.theme.normal.red) | quote }}
green = {{ (print "#" .current.theme.normal.green) | quote }}
yellow = {{ (print "#" .current.theme.normal.yellow) | quote }}
blue = {{ (print "#" .current.theme.normal.blue) | quote }}
magenta = {{ (print "#" .current.theme.normal.magenta) | quote }}
cyan = {{ (print "#" .current.theme.normal.cyan) | quote }}
white = {{ (print "#" .current.theme.normal.white) | quote }}

[colors.bright]
black = {{ (print "#" .current.theme.bright.black) | quote }}
red = {{ (print "#" .current.theme.bright.red) | quote }}
green = {{ (print "#" .current.theme.bright.green) | quote }}
yellow = {{ (print "#" .current.theme.bright.yellow) | quote }}
blue = {{ (print "#" .current.theme.bright.blue) | quote }}
magenta = {{ (print "#" .current.theme.bright.magenta) | quote }}
cyan = {{ (print "#" .current.theme.bright.cyan) | quote }}
white = {{ (print "#" .current.theme.bright.white) | quote }}

[[colors.indexed_colors]]
index = 16
color = {{ (print "#" .current.theme.indexed_colors.color16) | quote }}

[[colors.indexed_colors]]
index = 17
color = {{ (print "#" .current.theme.indexed_colors.color17) | quote }}
