# https://wiki.hypr.land/Configuring/Keywords/#executing

# Slow app launch fix -- set systemd vars
exec-once = systemctl --user import-environment $(env | cut -d'=' -f 1)
exec-once = systemctl --user import-environment WAYLAND_DISPLAY XDG_CURRENT_DESKTOP
exec-once = dbus-update-activation-environment --systemd --all

# Disk automount
exec-once = udiskie -t

{{- if .tags.dms.enabled }}
# DMS
exec-once = systemctl --user start hyprland-session.target
exec-once = dms run
exec-once = bash -c "wl-paste --watch cliphist store &"
{{- else }}
exec-once = systemctl --user start hyprpolkitagent
# exec-once = /usr/lib/polkit-kde-authentication-agent-1 # authentication dialogue for GUI apps

# Idle, Lockscreen
exec-once = hypridle
exec-once = hyprpaper

# Clipboard
exec-once = wl-paste --type text --watch cliphist store # clipboard store text data
exec-once = wl-paste --type image --watch cliphist store # clipboard store image data

# Mako notifications center
exec-once = mako

# Walker, Spotlight replacement
exec-once = elephant
exec-once = walker --gapplication-service

# Ashell, system menubar
exec-once = ashell --config-path {{ join .chezmoi.homeDir ".config/ashell/config.toml" }}
{{- end }}


# Switch to first workspace on start. Should be last line in autostart.
exec-once = hyprctl dispatch workspace 1
