# https://wiki.hypr.land/Configuring/Keywords/#executing

# Slow app launch fix -- set systemd vars
exec-once = systemctl --user import-environment $(env | cut -d'=' -f 1) >/dev/null 2>&1 &
exec-once = systemctl --user import-environment WAYLAND_DISPLAY XDG_CURRENT_DESKTOP >/dev/null 2>&1 &
exec-once = dbus-update-activation-environment --systemd --all >/dev/null 2>&1 &

# Disk automount
exec-once = udiskie -t >/dev/null 2>&1 &

# Auth agent
exec-once = systemctl --user start hyprpolkitagent >/dev/null 2>&1 &
# exec-once = /usr/lib/polkit-kde-authentication-agent-1 >/dev/null 2>&1 & # authentication dialogue for GUI apps

# Idle, Lockscreen
exec-once = hypridle --config {{ joinPath .chezmoi.homeDir ".config/hypr/hypridle.conf" }} >/dev/null 2>&1 &
exec-once = hyprpaper >/dev/null 2>&1 &

# Clipboard
#exec-once = wl-paste --type text --watch cliphist store # clipboard store text data >/dev/null 2>&1 &
#exec-once = wl-paste --type image --watch cliphist store # clipboard store image data >/dev/null 2>&1 &

# Mako notifications center
exec-once = mako >/dev/null 2>&1 &

# Walker, Spotlight replacement
exec-once = elephant >/dev/null 2>&1 &
exec-once = walker --gapplication-service >/dev/null 2>&1 &

# Ashell, system menubar
exec-once = waybar >/dev/null 2>&1 &

# Playerctl daemon
exec-once = playerctld >/dev/null 2>&1 &

{{- if .tags.zephyrus.enabled }}
# ROG Control Center
exec-once = rog-control-center >/dev/null 2>&1 &
{{- end }}


# Switch to first workspace on start. Should be last line in autostart.
exec-once = hyprctl dispatch workspace 1 >/dev/null 2>&1 &
