{{- /*
	vim:ft=conf.gotexttmpl
*/ -}}

# See https://wiki.hyprland.org/Configuring/Monitors/
# List current monitors and resolutions possible: hyprctl monitors

env = GDK_SCALE, 1.666666
monitor=, preferred, auto, 1.666666

# monitor = name, resolution, position, scale
{{- if .tags.zephyrus.enabled }}
# Built-in display
monitor = eDP-1, 2560x1600@60, auto, 1.666666
# Odyssey G70A
monitor = desc:Samsung Electric Company LS28AG700N HCJT306236, preferred, auto-left, 2.0
{{- else }}
{{- if .tags.thinkpad.enabled }}
# Built-in display
monitor = eDP-1, preferred, auto, 1.666666
# Odyssey G70A
monitor = desc:Samsung Electric Company LS28AG700N HCJT306236, preferred, auto-left, 2.0
{{- end }}
{{- end }}
