{{- /*
	vim:ft=conf.gotexttmpl
*/ -}}

# Librewolf
windowrule {
	name = Librewolf
	match:class = ^(librewolf)$
	workspace = 2
	float = on
}

# Chromium
windowrule {
	name = Chromium
	match:class = ^(chromium)$
	workspace = 2
	float = on
}

# MPV
windowrule {
	name = MPV
	match:class = ^(mpv)$
	float = on
	center = on
}

# Dolphin
windowrule {
	name = Dolphin
	match:class = ^(dolphin)$
	workspace = 1
}

# Discord
windowrule {
	name = Discord
	match:class = ^(discord)$
	workspace = 3
}

# Terminal
windowrule {
	name = Foot
	match:class = ^(Alacritty|foot|kitty|wezterm|com.mitchellh.ghostty)$
	opacity = 0.9
}

# Polkit
windowrule {
	name = Polkit
	match:class = (org.kde.polkit-kde-authentication-agent-1)
	float = on
	center = on
}

# Blueman
windowrule {
	name = Blueman
	match:class = (blueman)
	size = 50%
	center = on
	float = on
}

# Pavucontrol
windowrule {
	name = Pavucontrol
	match:class = ^(pavucontrol)$
	size = 50%
	center = on
	float = on
}

# Plasma Open File dialog
windowrule {
	name = IMPL
	match:class = (org.freedesktop.impl.portal.desktop.kde)
	float = on
	center = on
}

# File pickers center floating
windowrule {
	name = FilePicker
	match:title = ^(Open File|Open|Open Source|Save|Import|Choose|Rename|Pick Files), class:^(.*)$
	center = on
	float = on
}

# Float class
windowrule {
	name = Float
	match:class = ^(floating)$
	float = on
}

# Ignore maximize requests from apps
windowrule2 = suppressevent maximize, class:.*

# Fix some dragging issues with Wayland
windowrule2 = nofocus, class:^$, title:^$, xwayland: 1, floating: 1, fullscreen: 0, pinned: 0

# Thunderbird
windowrulev2 = workspace 4, class:(thunderbird)
windowrulev2 = float,class:(thunderbird),title:(status)
windowrulev2 = float,class:(thunderbird),title:(.*)(Reminders)
windowrulev2 = float,class:(thunderbird),title:(Write:.*)
windowrulev2 = float,class:(thunderbird),title:(Send.*)
windowrulev2 = float,class:(thunderbird),title:(Inbox.*)
windowrulev2 = tile,class:(thunderbird),initialTitle(Mozilla Thunderbird)
windowrulev2 = float,class:(thunderbird)
windowrulev2 = float,class:(Msgcompose.*)
windowrulev2 = float, class:(thunderbird),title(.*)(Reminders)$
windowrulev2 = maximize, class:(thunderbird)

# KDE Plasma workaround for screen sharing
windowrule {
	name = xwayland-video-bridge-fixes
	match:class = xwaylandvideobridge
	no_initial_focus = true
	no_focus = true
	no_anim = true
	no_blur = true
	max_size = 1 1
	opacity = 0.0
}

# Blur Waybar
layerrule = match:namespace waybar, blur on
layerrule = match:namespace waybar, ignore_alpha 0.5
layerrule = match:namespace waybar, no_anim on

# Blur SwayNC / Notifications
layerrule = match:namespace (swaync-control-center|notifications), blur on
layerrule = match:namespace (swaync-notification-window|notifications), blur on
layerrule = match:namespace (swaync-control-center|notifications), ignore_alpha 0.5
layerrule = match:namespace (swaync-notification-window|notifications), ignore_alpha 0.5
layerrule = match:namespace (swaync-control-center|notifications), no_screen_share on
layerrule = match:namespace (swaync-notification-window|notifications), no_screen_share on

# Blur wlogout
layerrule = match:namespace logout_dialog, animation fade
layerrule = match:namespace logout_dialog, blur on

# Rofi animation
layerrule = match:namespace rofi, animation popin 90%
