{{- /*
	vim:ft=conf.gotexttmpl
*/ -}}

# pavucontrol
windowrulev2 = float,class:^(pavucontrol)$
windowrulev2 = size 50%,class:^(pavucontrol)$
windowrulev2 = center,class:^(pavucontrol)$

# polkit
windowrulev2 = float,class:(org.kde.polkit-kde-authentication-agent-1)
windowrulev2 = center,class:(org.kde.polkit-kde-authentication-agent-1)

# blueman
windowrulev2 = float,class:(blueman)
windowrulev2 = center,class:(blueman)
windowrulev2 = size 50%,class:(blueman)

# Librewolf
windowrulev2 = workspace 2, class:(librewolf)

# Chrome
windowrulev2 = workspace 2, class:^(google-chrome)$

# Thunderbird
windowrulev2 = workspace 4, class:(thunderbird)
windowrulev2 = float,class:(thunderbird),title:(status)
windowrulev2 = float,class:(thunderbird),title:(.*)(Reminders)
windowrulev2 = float,class:(thunderbird),title:(Write:.*)
windowrulev2 = float,class:(thunderbird),title:(Send.*)
windowrulev2 = float,class:(thunderbird),title:(Inbox.*)
windowrulev2 = tile,class:(thunderbird),initialTitle(Mozilla Thunderbird)
windowrulev2 = float,class:(thunderbird)
windowrulev2 = float,class:(Msgcompose.*)
windowrulev2 = float, class:(thunderbird),title(.*)(Reminders)$
windowrulev2 = maximize, class:(thunderbird)

# Dolphin
windowrulev2 = workspace 1, class:(dolphin)

# Discord, WebCord
windowrulev2 = workspace 5, class:^(discord)$
windowrulev2 = workspace 5, class:^(webcord)$

# MPV
windowrulev2 = float, class:^(mpv)$
windowrulev2 = center, floating:1, class:^(mpv)$

# Open DMS windows as floating by default
windowrulev2 = float, class:^(org.quickshell)$

# File pickers center floating
windowrule2 = float, center title:^(Open File|Open|Save|Import|Choose|Rename|Pick Files), class:^(.*)$

# Ignore maximize requests from apps
windowrule2 = suppressevent maximize, class:.*

# Fix some dragging issues with Wayland
windowrule2 = nofocus, class:^$, title:^$, xwayland: 1, floating: 1, fullscreen: 0, pinned: 0

# KDE Plasma workaround for screen sharing
windowrule {
	name = xwayland-video-bridge-fixes
	match:class = xwaylandvideobridge

	no_initial_focus = true
	no_focus = true
	no_anim = true
	no_blur = true
	max_size = 1 1
	opacity = 0.0
}

# Blur Waybar
layerrule = match:namespace waybar, blur on
layerrule = match:namespace waybar, ignore_alpha 0.5
layerrule = match:namespace waybar, no_anim on

# Blur SwayNC
layerrule = match:namespace swaync-control-center, blur on
layerrule = match:namespace swaync-notification-window, blur on
layerrule = match:namespace swaync-control-center, ignore_alpha 0.5
layerrule = match:namespace swaync-notification-window, ignore_alpha 0.5

# Blur wlogout
layerrule = match:namespace logout_dialog, animation fade
layerrule = match:namespace logout_dialog, blur on

# Rofi animation
layerrule = match:namespace rofi, animation popin 90%
