{{- /*
	vim:ft=conf.gotexttmpl
*/ -}}

workspace = 1, name:term, monitor:DP-1, monitor:eDP-1, opacity 0.8
workspace = 2, name:web, monitor:DP-1 monitor:eDP-1
workspace = 3, name:msg, monitor:DP-1, monitor:eDP-1
workspace = 4, name:mail, monitor:DP-1, monitor:eDP-1, opacity 0.8
workspace = 5, name:office, monitor:DP-1, monitor:eDP-1,
workspace = 6, name:remote, monitor:DP-1, monitor:eDP-1
workspace = 7, name:dev, monitor:DP-1, monitor:eDP-1
workspace = 8, name:exec, monitor:DP-1, monitor:eDP-1
workspace = 9, name:media, monitor:DP-1, monitor:eDP-1
workspace = 10, name:misc, monitor:DP-1, monitor:eDP-1
workspace = special:scratchpad, opacity 0.8
