{{- /*
	vim:ft=css.gotexttmpl
*/ -}}

@define-color rosewater {{ print "#" .colours.normal.rosewater }};
@define-color flamingo {{ print "#" .colours.normal.flamingo }};
@define-color pink {{ print "#" .colours.normal.pink }};
@define-color mauve {{ print "#" .colours.normal.mauve }};
@define-color red {{ print "#" .colours.normal.red }};
@define-color maroon {{ print "#" .colours.normal.maroon }};
@define-color peach {{ print "#" .colours.normal.peach }};
@define-color yellow {{ print "#" .colours.normal.yellow }};
@define-color green {{ print "#" .colours.normal.green }};
@define-color teal {{ print "#" .colours.normal.teal }};
@define-color sky {{ print "#" .colours.normal.sky }};
@define-color sapphire {{ print "#" .colours.normal.sapphire }};
@define-color blue {{ print "#" .colours.normal.blue }};
@define-color lavender {{ print "#" .colours.normal.lavender }};
@define-color text {{ print "#" .colours.normal.foreground }};
@define-color subtext1 {{ print "#" .colours.normal.subtext1 }};
@define-color subtext0 {{ print "#" .colours.normal.subtext0 }};
@define-color overlay2 {{ print "#" .colours.normal.overlay2 }};
@define-color overlay1 {{ print "#" .colours.normal.overlay1 }};
@define-color overlay0 {{ print "#" .colours.normal.overlay0 }};
@define-color surface2 {{ print "#" .colours.normal.surface2 }};
@define-color surface1 {{ print "#" .colours.normal.surface1 }};
@define-color surface0 {{ print "#" .colours.normal.surface0 }};
@define-color base {{ if .theme.blackout }}#000000{{ else }}{{ print "#" .colours.normal.base }}{{ end }};
@define-color mantle {{ print "#" .colours.normal.mantle }};
@define-color crust {{ print "#" .colours.normal.crust }};
@define-color black {{ if .theme.blackout }}#000000{{ else }}{{ print "#" .colours.normal.black }}{{ end }};
@define-color white {{ print "#" .colours.normal.white }};

* {
	font-family: Iosevka Nerd Font Propo, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	font-size: 97%;
	/* font-size: 13px; */
	border: none;
	border-radius: 0;
	padding: 0 5px;
}

window#waybar {
	background-color: transparent;
	/* color: @base; */
	transition-property: background-color;
	transition-duration: .5s;
}
window#waybar.hidden {
	background-color: transparent;
	opacity: 0.2;
}
window#waybar.empty {
	/* background-color: transparent; */
	background: none;
}
/*
window#waybar.solo {
	background-color: transparent;
}
*/
#workspaces button {
	background-color: transparent;
	color: @blue;
}
#workspaces button:hover {
	background-color: @blue;
	color: @black;
	border-radius: 7;
}
#workspaces button.focused, #workspaces button.active {
	background-color: @blue;
	color: @black;
}
#workspaces button.urgent {
	background-color: @red;
	color: @black;
}

#clock,
#battery,
#temperature,
#network,
#wireplumber,
#custom-media,
#tray,
#mpd {
	color: @black;
}

#window,
#workspaces {
	margin: 0 4px;
}

/* This section can be use if you want to separate waybar modules */
.modules-left,
.modules-center,
.modules-right {
  font-weight: bold;
  margin: 0px 10px;
  margin-top: 4px;
  border: 0px solid @overlay0;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 20px;
}

#clock {
	background-color: @blue;
}
#clock:hover {
	border-radius: 7;
}

#battery {
	background-color: @green;
	color: @black;
}
#battery:hover {
	border-radius: 7;
}
#battery.charging, #battery.plugged {
	background-color: @yellow;
	color: @black;
}

@keyframes blink {
	to {
		background-color: @white;
		color: @black;
	}
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
	background-color: @red;
	color: @black;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#bluetooth {
	background-color: @blue;
	color: @black;
}
#bluetooth:hover {
	border-radius: 7;
}

#network {
	background-color: @sky;
	color: @black;
}
#network:hover {
	border-radius: 7;
}
#network.disconnected {
	background-color: @red;
	color: @black;
}

#wireplumber {
	background-color: @yellow;
	color: @black;
}
#wireplumber:hover {
	border-radius: 7;
}
#wireplumber.muted {
	background-color: @red;
	color: @black;
}

#temperature {
	background-color: @green;
	color: @black;
}
#temperature:hover {
	border-radius: 7;
}
#temperature.critical {
	background-color: @red;
	color: @black;
}

#tray {
	background-color: transparent;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: @red;
}

#mpd {
	background-color: transparent;
	color: @black;
}

#mpd.disconnected {
	background-color: transparent;
}

#mpd.stopped {
	background-color: transparent;
}

#mpd.paused {
	background-color: transparent;
	color: @red;
}

#language {
	background-color: transparent;
	margin: 0 5px;
}
